#social-media-flex-container
  a.social.fb-share.social-margin-end
    i.fa.fa-facebook-official(aria-hidden="true")
    | Share
  a.social.twitter-tweet.social-margin-middle
    i.fa.fa-twitter-square(aria-hidden="true")
    | Tweet
  a.social.email.social-margin-end(href='mailto:' + user.email)
    i.fa.fa-envelope-o(aria-hidden="true")
    | Email
