#social-media-flex-container
  a.social.fb-share.social-margin-left
    i.fa.fa-facebook-official(aria-hidden="true")
    | Share
  a.social.twitter-tweet.social-margin-middle
    i.fa.fa-twitter-square(aria-hidden="true")
    | Tweet
  a.social.email.social-margin-right(href='mailto:?subject=Help ' + user.username + ' with their education&body=You can help fund ' + user.username + "'s" + ' goals at http://www.silofunds.com/public/' + user.id)
    i.fa.fa-envelope-o(aria-hidden="true")
    | Email
