extends admin-layout

block content
  .container
    .row
      .col-md-12
        p Unique entries in 'country_of_residence' =
          b &nbsp;#{distinct_countries}
        p Total number of users =
          b &nbsp;#{userCount}
    .row.text-center
      .col-md-12
        h1 Segmentation Insights
    .row
      .col-md-12
        h3 Parameterized
        table.table.table-responsive
          tr
            th Query
            th Parameters
            th Result
            th Action
          tr
            td Number of users in the UK
            td
              input(type='text' name='seg_uk' form='seg_uk' value='United Kingdom, UK, U, united kingdom')
            td#seg-uk-result -
            td
              form(action='/admin/analytics/seg_uk', method='get', name='seg_uk')
                button.btn.btn-primary(type='submit') GET
      .col-md-12
        table.table.table-responsive
          tr
            th Query
            th Parameters
            th Result
            th Action
          tr
            td Number of Postgrads
            td
              input(type='text' name='seg_pg' form='seg_pg' value='Master of Public Policy,PGCE, MBioch - Master of Biochemistry,Master of Physics,Master of Philosophy,Master in International Development, Master of Biochemistry,Msc, Masters, Master, MPhil,msc,mphil,MPhil,Master of Arts,dphil,phd,DPhil,PhD,masters,Dphil,MSc,MSt,mst,mba,postgraduate,Postgraduate,Masters of Science')
            td#seg-pg-result -
            td
              form(action='/admin/analytics/param_seg_pd', method='get', name='seg_pg')
                button.btn.btn-primary(type='submit') GET
        table.table.table-responsive
          tr
            th Query
            th Parameters
            th Result
            th Action
          tr
            td Number of Undergrads
            td
              input(type='text' name='seg_ug' form='seg_ug' value='BA, Bachelor, Undergrad, Undergraduate')
            td#seg-ug-result -
            td
              form(action='/admin/analytics/param_seg_pd', method='get', name='seg_ug')
                button.btn.btn-primary(type='submit') GET
    .row
      .col-md-12.scrollable-table
        h3 Unparameterized
        table.table.table-responsive#seg-colleges
          tr
            th Query
            th Action
          tr
            td Colleges
            td
              form(action='/admin/analytics/seg_colleges', method='get', name='seg_colleges')
                button.btn.btn-primary(type='submit') GET
      .col-md-12.scrollable-table
        table.table.table-responsive#seg-subjects
          tr
            th Query
            th Action
          tr
            td Subjects
            td
              form(action='/admin/analytics/seg_subjects', method='get', name='seg_subjects')
                button.btn.btn-primary(type='submit') GET
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='/javascript/lib/bootstrap.min.js')
  script(src='/javascript/admin-analytics.js')
  script.
    var userCount =!{JSON.stringify(userCount)};
