extends admin-layout

block content
    .container
      h1.text-center Welcome to the Admin Portal!!
      hr
      .row
        .col-md-6.text-center
          a.btn.btn-default.btn-primary(href='/admin/funds', role='button') Funds
        .col-md-6.text-center
          a.btn.btn-default.btn-primary(href='/admin/organisations', role='button') Organisations 
