extends admin-layout

block content
    .container
      .alert.alert-danger.alert-dismissible.hidden(role='alert')
        strong Oops!
        |  That fund has already been entered. Please try again.
      a.btn.btn-default.btn-link(href='/admin/funds', role='button') Back to fund listings
      h1 Create a new fund here:
      table.table.table-responsive
        form(action='/admin', method='post', name='create_fund')
          .row
            tr
              .col-md-6.form-group
                label(for='title') Title
                input#title.form-control(type='text', name='title', autofocus, required)
              .col-md-6.form-group
                .col-md-12.form-group
                  .row
                    label(for='organisation_id') Charity ID (if not present, create organisation first)
                  .row
                    select#organisation_id(name='organisation_id')
                      option(value='') Please select
                      each organisation in organisations
                        option(value=organisation.id)=organisation.name + ' - ' + organisation.charity_id
          .row
            tr
              .col-md-3.form-group
                label(for='min_age') Minimum Age
                input#min_age.form-control(type='number', name='min_age')
              .col-md-3.form-group
                label(for='max_age') Maximum Age
                input#max_age.form-control(type='number', name='max_age')
              .col-md-3.form-group
                label(for='min_amount') Minimum Amount
                input#min_amount.form-control(type='number', name='min_amount')
              .col-md-3.form-group
                label(for='max_amount') Maximum Amount
                input#max_amount.form-control(type='number', name='max_amount')
          .row
            tr
              .col-md-6.form-group
                label(for='subject')
                  a#subject(href='#') Subject (separate with comma, no space)
                input#subject.form-control.hide-this-shit(type='text', name='subject', style="text-transform: lowercase;")
              .col-md-6.form-group
                label(for='tags')
                  a#tags(href='#') Tags (separate with comma, no space)
                input#tags.form-control.hide-this-shit(type='text', name='keywords', style="text-transform: lowercase;")
          .row
            tr
              .col-md-6.form-group
                label(for='target_degree') 
                  a#target_degree(href='#') Target Degree (separate with comma, no space)
                input#target_degree.form-control.hide-this-shit(type='text', name='target_degree', style="text-transform: lowercase;")
              .col-md-6.form-group
                label(for='target_university')
                  a#target_university(href='#') Target University (separate with comma, no space)
                input#target_university.form-control.hide-this-shit(type='text', name='target_university', style="text-transform: lowercase;")
          .row
            tr
              .col-md-5.form-group
                label(for='required_degree')
                  a#required_degree(href='#') Required Degree (separate with comma, no space)
                input#required_degree.form-control.hide-this-shit(type='text', name='required_degree', style="text-transform: lowercase;")
              .col-md-5.form-group
                label(for='required_university')
                  a#required_university(href='#') Required University (separate with comma, no space)
                input#required_university.form-control.hide-this-shit(type='text', name='required_university', style="text-transform: lowercase;")
              .col-md-2.form-group
                label(for='required_grade')
                  a#required_grade(href='#') Required Grade
                input#required_grade.form-control.hide-this-shit(type='text', name='required_grade', style="text-transform: lowercase;")
          .row
            tr
              .col-md-3.form-group
                label Gender
                .row
                  .col-md-4
                    label.radio-inline
                      input#male(type='radio', name='gender', value='male')
                      |  Male
                  .col-md-4
                    label.radio-inline
                      input#female(type='radio', name='gender', value='female')
                      |  Female
                  .col-md-4
                    a.btn.btn-default.btn-link#clear_gender(href='#', role='button') Clear
              .col-md-3.form-group
                label Merit or Finance based
                .row
                  .col-md-4
                    label.radio-inline
                      input#merit(type='radio', name='merit_or_finance', value='merit')
                      |  Merit
                  .col-md-4
                    label.radio-inline
                      input#finance(type='radio', name='merit_or_finance', value='finance')
                      |  Finance
                  .col-md-4
                    a.btn.btn-default.btn-link#clear_merit(href='#', role='button') Clear
              .col-md-3.form-group
                label(for='number_of_places') Number of Places Offered
                input#number_of_places.form-control(type='number', name='number_of_places')
              .col-md-3.form-group
                label(for='duration_of_scholarship') Duration of Scholarship
                input#duration_of_scholarship.form-control(type='text', name='duration_of_scholarship', placeholder="eg. '5 months', '2 years'")
          .row
            tr
              .col-md-12.form-group
                label(for='description') Description
                textarea#description.form-control(rows='3', name='description')
          .row
            tr
              .col-md-12.form-group
                label(for='financial_situation')
                  a#financial_situation(href='#') Financial Situation
                textarea#financial_situation.form-control.hide-this-shit(rows='3', name='financial_situation')
          .row
            tr
              .col-md-6.form-group
                label(for='target_country')
                  a#target_country(href='#') Target Countries (separate with comma, no space)
                input#target_country.form-control.hide-this-shit(type='text', name='target_country', style="text-transform: lowercase;")
              .col-md-6.form-group
                label(for='country_of_residence')
                  a#country_of_residence(href='#') Countries of Residence (separate with comma, no space)
                input#country_of_residence.form-control.hide-this-shit(type='text', name='country_of_residence', style="text-transform: lowercase;")
          .row
            tr
              .col-md-6.form-group
                label(for='specific_location')
                  a#specific_location(href='#') Specific locations (separate with comma, no space)
                input#specific_location.form-control.hide-this-shit(type='text', name='specific_location', style="text-transform: lowercase;", placeholder="eg. 'oxfordshire'")
              .col-md-6.form-group
                label(for='email')
                  a#email(href='#') Email
                input#email.form-control.hide-this-shit(type='email', name='email')
          .row
            tr
              .col-md-6.form-group
                label(for='religion')
                  a#religion(href='#') Religion (separate with comma, no space)
                input#religion.form-control.hide-this-shit(type='text', name='religion', style="text-transform: lowercase;")
          .row
            tr
              .col-md-3.form-group
                label(for='deadline')
                  a#deadline(href='#') Deadline
                input#deadline.form-control.hide-this-shit(type='date', name='deadline')
              .col-md-3.form-group
                label(for='application_open_date')
                  a#application_open_date(href='#') Application Open Date
                input#application_open_date.form-control.hide-this-shit(type='date', name='application_open_date')
              .col-md-3.form-group
                label(for='application_decision_date')
                  a#application_decision_date(href='#') Application Decision Date
                input#application_decision_date.form-control.hide-this-shit(type='date', name='application_decision_date')
              .col-md-3.form-group
                label(for='interview_date')
                  a#interview_date(href='#') Interview Date
                input#interview_date.form-control.hide-this-shit(type='date', name='interview_date')
          .row
            tr
              .col-md-6.form-group
                label(for='link') Link
                input#link.form-control(type='text', name='link')
              .col-md-6.form-group
                label(for='application_link') Application Link
                input#application_link.form-control(type='text', name='application_link')
          .row
            tr
              .col-md-6.form-group
                label(for='application_documents') Application Documents (separate with comma, no space)
                input#application_documents.form-control(type='text', name='application_documents', style="text-transform: lowercase;", placeholder="eg. 'resume,cv,thesis,essay,financial proof'")
              .col-md-3.form-group
                label(for='support_type') Type of funding offered
                select#support_type.form-control(name="support_type")
                  option(value='') Please Select from
                  option(value='scholarship') Scholarship
                  option(value='bursary') Bursary
                  option(value='grant') Grant
                  option(value='prize') Prize
              .col-md-3.form-group
                label(for='invite')
                  a#invite(href='#') Invite Only?
                input#invite.form-control.hide-this-shit(type='checkbox', name='invite')
          .row
            tr
              .col-md-12.form-group
                button.btn.btn-primary(type='submit') Create fund!

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascript/lib/bootstrap.min.js')
    script(src='/javascript/admin.js')
