extends admin-layout

block content
  script.
    var data = !{JSON.stringify(data)};
    console.log(data)
  .container
    h2 Check your search
    table(class='table table-bordered')
      tr
        each val, key in data
          if key && val.length > 0
            th= key
            each result, resultIndex in val
              tr
                  td
                    .result
                      p.result-fund=result
                    .form-group
                      .checkbox
                        label
                          input(type='checkbox', name ='relevant', value='true' )
                          | Relevant
                      .checkbox
                        label
                          input(type='checkbox',name='not-relevant', value='false')
                          | Not relevant
                    .hidden
                      p#hidden-query=key
                    button.submit-data(style='margin-right: 5px', id='checkbox-' + resultIndex) Submit
      button#check-precision Check precision
          //- td
          //-   form(action='/admin/stripe/' + account.id + '/destroy', method='post', name='destroy_stripe_user')
          //-     button.btn.btn-danger(type='submit') Destroy
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='/javascript/admin-test-search.js')
