.col-md-12.col-xs-12, label.col-md-3.col-xs-3 {
  padding: 0px;
}
label.col-md-3.col-xs-3 {
  padding-right: 0px !important;
}
@media (max-width: 936px) {

  #big_flex_div.container {
    padding: 0px;
    padding-top: 45px;
  }
  #right_div {
    padding-left: 0px;
    padding-right: 20px;
  }
  #left_div {
    padding-left: 20px;
    padding-right: 0px
  }
}

label#describe_your_goal {
  padding-top: 23px;
  font-size: 13px;
  text-align: left;
  border-top: 1px solid #e1e8ed
}

@media (max-width: 795px) {
  #left_div .settings-tab-menu .list-group a {
    h5 {
      font-size: 12px;
    }
  }
  label {
    font-size: 12px;
  }
  h4 {
    font-size: 14px;
  }
  h3 {
    font-size: 16px;
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 541px) {
  #left_div {
    display: none
  }
  #big_flex_div.container #right_div .settings-tab  {
    border-radius: 0;
  }
  #right_div {
    .text-left {
      text-align: right;
    }
    .sub-content {
      padding-top: 10px;
      padding-bottom: 0px;
      .remove-padding {
        padding: 0;
        .remove-padding {
          padding: 0;
        }
      }
      label.margin-removal {
        margin: 0 !important;
      }
    }
  }
}
#top_div.col-xs-12 {
  padding-right: 10px;
  padding-left: 10px;
  .list-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .active-mobile {
      width: 100%;
      z-index: 3;
      background-color: #337ab7;
      color: #fff;
      border-color: #337ab7;
      a {
        background-color: transparent;
        color: white;
      }
    }
    .list-group-item {
      border-radius: 0;
      height: 3em;
      margin: 0;
      padding: 0;
      h5 {
        margin: 6px;
      }
    }
    .flex-box {
      width: 25%;
    }
  }
}

#top_div {
  #profile-mob-flex {
    width: 100%;
    display: flex;
  }
  #profile-logout-space {
    width: 50%;
  }
  .logout-tab {
    width: 25%;
    .list-group {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      #extra_div {
        margin-top: 20%;
        height: 30%;
        a {
          width: 100%;
          height: 2.5em;
          margin-bottom: 5px;
        }
      }
    }
  }
  .profile {
    width: 25%;
    #box-profile{
      transition: 2.5s;
      .fa-camera{
        position: absolute;
        color: white;
        font-size: 45px;
        left: 47%;
        top: 130px;
        display: none;
      }
      &:hover{
        .fa-camera{
          cursor: pointer;
          display: block;
        }
      }
      #userImage {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px solid #e1e8ed;
        cursor: pointer;
      }
    }
  }
}
