#delete-account.col-md-12.col-xs-12.content
  .col-md-12.col-xs-12.sub-content
    h4 Delete account
    .col-md-12.col-xs-12
      button#delete.btn-danger Delete account
  // Delete account modal
  .modal.fade.modal-delete
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Delete Account
        .modal-body
          p Are you sure you want to delete your account? All your data will be lost.
        .modal-footer
          form(action='/user/delete', method='post')
            input(type='hidden', name='deleteId', value='#{user.id}')
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            button#delete-actual.btn.btn-danger(type='submit') Delete
