footer.footer-distributed
      .footer-left
        .col-sm-6
          p#about-header About us
          p 
            a(href='/about-silo') What is Silo?
          p 
            a(href='/about-team') Our team
          p 
            a(href='http://siloblogs.tumblr.com/') Blog
          p#terms-and-conditions 
            a(href='/terms-and-conditions') Terms and conditions
          p 
            a(href='/privacy-policy') Privacy policy
        .col-sm-6
          p#guide-header Advice
          p#crowdfunding-advice
            a(href='/user-profile-guide') Crowdfunding advice
          p#student-video
            a(href='/crowdfunding-video') Student video guide
          p#fund-setup
            a(href='/fund-profile-guide') Fund profile set up
          
      .footer-right
        .col-sm-6
          p#contact-header 
            a(href='/contact_us', style='font-weight: bold') Contact us
          //- p 
          //-   a(href="/contact_us") Submit a query
          p +44 7960 478277
          p 5 Dean Close
          p UB10 9LB
          
        p.footer-social
          a(href='https://www.facebook.com/SiloFunds/?fref=ts')
            i.fa.fa-facebook
          a(href='https://twitter.com/SiloFunds')
            i.fa.fa-twitter
          a(href='https://www.instagram.com/silofunds/')
            i.fa.fa-instagram
        .footer-center
          p Silo © 2016
