#eligibility_div
  p#eligibility_div_p 
#notEligible.modal-box
  .modal-container 
    .modal-bar
      p Eligibility explanation
    script#notEligible-template(type='text/template')
      .row
        #wrong-cross.col-md-2
          i.fa.fa-times-circle(aria-hidden="true")
        #fund-requirements.col-md-5
          p#requirement-description <%= requirement_description %>
          p#requirement <%= requirement %>
        #user-info.col-md-5
          p#user-description <%= user_description %>
          p#user <%= user %>
    a.disagree-email(href="mailto:howard@silofunds.com") Disagree? Email us and explain why you think you should be eligible for this fund.
