.heading {
  padding-top: 15px;
  height: auto;
  display: flex;
  .profile_picture {
    .initials.circle {
      height: 100px;
      line-height: 100px;
      width: 100px;
      font-size: 55px;
      text-align: center;
      border-radius: 50%;
      background-color: #19B5FE;
      color: white;
    }
  }
  .info-div {
    padding-left: 20px;
    .name {
      font-size: 25px;
    }
    .add {
      cursor: pointer;
      color: #19B5FE;
    }
    .add:hover {
      text-decoration: none;
      color: #2d4a76;
    }
  }
  padding-bottom: 15px;
}

.main-content {
  margin-top: 20px;
  .header {
    h1 {
      margin-bottom: 10px;
      font-size: 18px;
      border-bottom: 1px solid #e1e8ed;
    }
  }
}
