@import '../navbar.scss';
@import '../advanced-search.scss';
@import '../signup.scss';

body {
  background-color: #f0f2f4;
}

.heading {
  margin-top: 70px;
  padding-top: 15px;
  height: auto;
  display: flex;
  .profile_picture {
    .initials.circle {
      height: 100px;
      line-height: 100px;
      width: 100px;
      font-size: 55px;
      text-align: center;
      border-radius: 50%;
      background-color: #19B5FE;
      color: white;
    }
  }
  .info-div {
    padding-left: 20px;
    .name {
      font-size: 25px;
    }
    .add {
      font-size: 12px;
      cursor: pointer;
      color: #19B5FE;
    }
    .add:hover {
      text-decoration: none;
      color: #2d4a76;
    }
  }
  padding-bottom: 15px;
}

.main-content {
  margin-top: 20px;
  #updates, #donations {
    margin-top: 40px;
  }
  .header {
    h1 {
      color: rgba(0, 0, 0, 0.77);
      text-transform: capitalize;
      padding-bottom: 2px;
      margin-bottom: 6px;
      font-size: 18px;
      border-bottom: 1px solid #e1e8ed;
    }
    p.bio {
      font-size: 15px;
    }
  }
}

#donations {
  .header {
    h1 {
      margin-bottom: 8px;
      border-bottom: 1px solid #e1e8ed;
    }
  }
  .flex_box {
    border: 1px solid #e1e8ed;
    background-color: white;
    margin-bottom: 6px;
    align-items: center;
    display: flex;
    padding: 5px;
    img, .initials.circle {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: orange;
      border-radius: 50%;
    }
    .information {
      padding-left: 15px;
      display: flex;
    }
  }
}
