@import '../navbar.scss';
@import '../advanced-search.scss';
@import '../signup.scss';

body {
  background-color: #f0f2f4;
}

.heading {
  margin-top: 70px;
  padding-top: 15px;
  height: auto;
  display: flex;
  .profile_picture {
    .initials.circle, img {
      height: 100px;
      line-height: 100px;
      width: 100px;
      font-size: 55px;
      text-align: center;
      border-radius: 50%;
      background-color: #3399FF;
      color: white;
    }
  }
  .info-div {
    padding-left: 20px;
    .name {
      font-size: 25px;
    }
    .add {
      font-size: 12px;
      cursor: pointer;
      color: #3399FF;
    }
    .add:hover {
      text-decoration: none;
      color: #2d4a76;
    }
  }
  padding-bottom: 15px;
}

.main-content {
  margin-top: 20px;
  #updates, #donations {
    margin-top: 40px;
  }
  .header {
    h1 {
      color: rgba(0, 0, 0, 0.77);
      text-transform: capitalize;
      padding-bottom: 2px;
      margin-bottom: 6px;
      font-size: 18px;
      border-bottom: 1px solid #e1e8ed;
    }
    p.bio {
      font-size: 15px;
    }
  }
}

#other-students {
  .student-div {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e8ed;
    background-color: #f0f2f4;
    border-radius: 0px 0px 3px 3px;
    img {
      border-radius: 3px 3px 0px 0px;
      width: 100%;
      height: auto;
    }
    .information {
      background-color: white;
      padding: 5px 7px;
      display: flex;
      flex-direction: column;
      .name {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
      }
      .progress-bar {
        background-color: #f5f5f5;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        overflow: hidden;
        height: 5px;
        border-radius: 100px;
        width: 100%;
        #another-one {
          height: 100%;
          width: 20%;
          box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
          background-color: rgb(85, 230, 165);
        }
      }
    }
  }
}

#donations {
  .header {
    h1 {
      margin-bottom: 8px;
      border-bottom: 1px solid #e1e8ed;
    }
  }
  .donation-container {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    .flex_box {
      border: 1px solid #e1e8ed;
      background-color: white;
      margin-bottom: 6px;
      align-items: center;
      display: flex;
      padding: 5px;
      img, .initials.circle {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: white;
        text-align: center;
        border-radius: 50%;
      }
      .information {
        padding-left: 15px;
        display: flex;
      }
    }
  }
}
