extends layout

block extraHeader
  link(href='/stylesheets/signup.css', rel='stylesheet')
  link(href='/stylesheets/advanced-search.css', rel='stylesheet')
  link(href='/stylesheets/navbar.css', rel='stylesheet')
  link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
  link(href='/stylesheets/footer.css', rel='stylesheet')
  link(href='/stylesheets/about-us.css', rel='stylesheet')

block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
      windowPortWidth = window.innerWidth;
      if(windowPortWidth <767){
        document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
      }
    }
  include ./navbar.jade
  include ./partials/navbar-loggedin.jade
  include ./advanced-search.jade
  section#about-us.container-fluid.content-section
    .row
      .col-md-1
      .col-md-3
        p#about-us-header 
          a(href='/about-silo') About us
        p#partners
          a(href='/about-partners') Partners
      .col-md-8
        h4#about-silo About Silo
        p#silo-paragraph Launched in October 2016, Silo is a crowdfunding
        
  include ./partials/footer.jade
block scripts
  //advanced search
  script(src='javascript/advanced-search.js')
  script(src='javascript/signup-login.js')
