extends layout

block extraHeader
  link(href='/stylesheets/signup.css', rel='stylesheet')
  link(href='/stylesheets/advanced-search.css', rel='stylesheet')
  link(href='/stylesheets/navbar.css', rel='stylesheet')
  link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
  link(href='/stylesheets/footer.css', rel='stylesheet')
  link(href='/stylesheets/about-us.css', rel='stylesheet')

block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
      windowPortWidth = window.innerWidth;
      if(windowPortWidth <767){
        document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
      }
    }
  include ./navbar.jade
  include ./partials/navbar-loggedin.jade
  include ./advanced-search.jade
  section#about-us.container-fluid.content-section.about-team
    .row
      .col-md-1
      .col-md-2
        p#about-us-header 
          a(href='/about-silo') About us
        p#team
          a(href='/about-team') Our team
      .col-md-8
        //IMAGES ARE FOR PLACEHOLDER PURPOSES only.
        h4#about-silo Our team
        .row
          .col-sm-4.text-center
            img(src='/images/homepage-andros.jpg')
            //- p.partner-name
            //-   a(href="http://www.rhodeshouse.ox.ac.uk/") Rhodes Trust
          .col-sm-8
            h3.member-name Andros Wong
            h4.member-role Co-founder and CEO
            p.member-description A Canadian who lives in Hong Kong, Andros now studies Engineering, Economics and Management at Oxford. Bringing a keen eye for design, a host of technical skills, and an unparalled work ethic, Andros drives our progress at Silo.
        .row
          .col-sm-4.text-center
            img(src='/images/homepage-duaine.jpg')
            //- p.partner-name
            //-   a(href="http://www.fulbright.org.uk/") Fulbright Scholarships
          .col-sm-8
            h3.member-name Du'aine Davis
            h4.member-role Co-founder and COO
            p.member-description Having just graduated with a degree in Economics and Management from Oxford, Du'aine is at the core of growth and business development at Silo. A creative with a sharp business mind and hands on experience in grass roots marketing, Du'aine provides the strategic direction.
        .row
          .col-sm-4.text-center
            img(src='/images/homepage-howard.jpg')
            //- p.partner-name
            //-   a(href="http://whtrust.org/") Weidenfeld Hoffmann trust
          .col-sm-8
            h3.member-name Howard Tam
            h4.member-role Co-founder and CTO
            p.member-description Currently an engineer at Oxford, Howard is the technical director of the team and advises our developers on modern technologies. His scrutiny for perfect code structure, design and style transforms our ambitious goals into cohesive code. The success of our lean development is evidence of his commitment to the cause.
        .row
          .col-sm-4.text-center
            img(src='/images/sam.jpg')
          .col-sm-8g
            h3.member-name Sam Lee
            h4.member-role CIO
            p.member-description Sam is a Mathematics and Computer Science student at Oxford. He optimises the performance of our platform whilst ensuring that our user experience is superior to our competitors.
        .row
          .col-sm-4.text-center
            img(src='/images/homepage-james.jpg')
            //- p.partner-name
            //-   a(href="http://www.ox.ac.uk/") Oxford university
          .col-sm-8
            h3.member-name James Morrill
            h4.member-role Product manager
            p.member-description James is currently studying mathematics at Oxford. A quick and disciplined learner, he makes it possible to push new features efficiently and improve our existing codebase.
        .row
          .col-sm-4.text-center
            img(src='/images/kathy.jpg')
          .col-sm-8
            h3.member-name Kathy Maniura
            h4.member-role Head of marketing
            p.member-description Kathy is in her final year studying History at Oxford. She brings to company her experience of organising and promoting the performing arts, using her in depth knowledge of channels for contacting students to expand Silo's reach. 
 
        
            
        
  include ./partials/footer.jade
block scripts
  //advanced search
  script(src='javascript/advanced-search.js')
  script(src='javascript/signup-login.js')
