//- includes/advanced-search.jade
section#advanced-search.container
  section
    ul.nav.nav-tabs
      li#search-for Search for:
      li.active
        a(href="#advs-grant" data-toggle="tab") Grants
      li
        a(href="#advs-user" data-toggle="tab") Users
  .tab-content
    include ./advanced-search-grant.jade
    include ./advanced-search-user.jade
