//- includes/advanced-search-grant.jade
.tab-pane.active.fade.in#advs-funding
  form#advs-funding-form.advs-funding-form(action='/results', method='get', name='advs_grant_form')
    section.keyword
      .row
        .col-md-offset-2.col-md-8
          label(for='tags') Keywords
          input#advanced-tags(type="text", name="tags", form="advs-funding-form")
    section.header
      .row
        .col-md-4
          h5 About you
        .col-md-4
          h5 About the funding
        .col-md-4
          h5 About the study
    section.content-section
      .row
        .col-md-4
          label(for='age') Age
          input#advanced-age(type = "number", name = "age", form = "advs-funding-form")
        .col-md-4
          label(for='title') Title
          input#advanced-title(type = "text", name = "title", form = "advs-funding-form")
        .col-md-4
          label(for='target_country') Country
          input#advanced-target-country(type = "text", name = "target_country", form = "advs-funding-form")
      .row
        .col-md-4
          label(for= 'country_of_residence') Country of Residence
          input#advanced-country-of-residence(type = "text", name = "country_of_residence", form = "advs-funding-form")
        .col-md-4
          label(for= 'amount_offered') Amount Offered
          input#advanced-amount-offered(type= "number", name="amount_offered", form="advs-funding-form")
        .col-md-4
          label(for='specific_location') Borough / State / Province
          input#advanced-specific-location(type = "text", name = "specific_location", form = "advs-funding-form")
      .row
        .col-md-4
          label(for='religion') Religion
          input#advanced-religion(type = "text", name = "religion", form = "advs-funding-form")
        .col-md-4
          label(for='subject') Subject offered for
          input#advanced-subject(type = "text", name = "subject", form = "advs-funding-form")
        .col-md-4
          label(for="target_university") Institution
          input#advanced-target-university(type="text", name="target_university", form="advs-funding-form")
      .row
        .col-md-4
          label(for='required_grade') Grade Acquired
          input#advanced-required-grade(type = "text", name = "required_grade", form = "advs-funding-form")
        .col-md-4
          label(for='duration_of_scholarship') Duration
          input#advanced-duration(type = "text", name = "duration_of_scholarship", form = "advs-funding-form")
        .col-md-4
          label(for='target_degree') Degree
          input#advanced-target-degree(type = "text", name = "target_degree", form = "advs-funding-form")
      .row
        .col-md-4
          label(for='required_university') Institution graduated from
          input#advanced-required-university(type = "text", name = "required_university", form = "advs-funding-form")
        .col-md-4
          label(for="merit_or_finance") Merit or finance based
          .row
            .col-md-6
              label.radio-inline
                input#merit.merit-or-finance(type='radio', name='merit_or_finance', value='merit', form = "advs-funding-form")
                | Merit
            .col-md-6
              label.radio-inline
                input#finance.merit-or-finance(type='radio', name='merit_or_finance', value='finance', form = "advs-funding-form")
                | Finance
      .row
        .col-md-4
          label(for='required_degree') Completed Degree
          input#advanced-required-degree(type = "text", name = "required_degree", form = "advs-funding-form")
      .row
        .col-md-4
          label(for='gender') Gender
          .row
            .col-md-5
              label.radio-inline
                input#male.gender(type='radio', name = 'gender', value= 'male', form = "advs-funding-form")
                | Male
            .col-md-5
              label.radio-inline
                input#female.gender(type='radio', name = 'gender', value = 'female', form = "advs-funding-form")
                | Female
    section.footer.text-center
      button#advs-grant-submit.btn.btn-primary(type='submit') Search
