//- includes/advanced-search.jade
section#advanced-search
  section
    ul.nav.nav-tabs
      li#search-for Search for:
      li#search-for-funding.active
        a#search-for-funding.search-for(href="#advs-funding" data-toggle="tab") Funding
      li#search-for-user
        a#search-for-user.search-for(href="#advs-user" data-toggle="tab") Users
  .tab-content
    include ./advanced-search-funding.jade
    include ./advanced-search-user.jade
