//- includes/advanced-search-user.jade
.tab-pane.fade#advs-user
  form#advs-user-form.advs_user_form(action='/results/users', method='get', name='advs_user_form')
    section.keyword
      .row
        .col-md-offset-2.col-md-8
          label(for='tags') Keywords
          input#advanced-user-tags(type="text", name="tags", form="advs-user-form")
    section.header
      .row
        .col-md-12
          h5 About the user
    section.content-section
      .row
        .col-md-4
          label(for='user_age') Age
          input#advanced-user-age(type = "number", name = "age", form = "advs-user-form")
        .col-md-4
          label(for= 'user_country_of_residence') Country of Residence
          input#advanced-user-country-of-residence(type = "text", name = "country_of_residence", form = "advs-user-form")
        .col-md-4
          label(for='user_religion') Religion
          input#advanced-user-religion(type = "text", name = "religion", form = "advs-user-form")
      .row
        .col-md-4
          label(for='funding_needed') Amount Needed
          input#advanced-user-funding-needed(type = "number", name = "funding_needed", form = "advs-user-form")
        //- .col-md-4
        //-   label(for='gender') Gender
        //-   .row
        //-     .col-md-5
        //-       label.radio-inline
        //-         input#male.gender(type='radio', name = 'gender', value= 'male', form = "advs-user-form")
        //-         | Male
        //-     .col-md-5
        //-       label.radio-inline
        //-         input#female.gender(type='radio', name = 'gender', value = 'female', form = "advs-user-form")
        //-         | Female
    section.footer.text-center
      button#advs-user-submit.btn.btn-primary(type='submit') Search
