extends layout

block extraHeader
	link(href='/stylesheets/footer.css', rel='stylesheet')
	link(href='/stylesheets/contact_us.css', rel='stylesheet')
	link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')

block content
	script.
		var bodyEl = document.getElementsByTagName('body');
		var user = !{JSON.stringify(user)};
		if(user){
			bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
			windowPortWidth = window.innerWidth;
			if(windowPortWidth <767){
				document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
			}
		}
	include ./navbar.jade
	include ./partials/navbar-loggedin.jade
	include ./advanced-search.jade
	
	if !user && !success
		.header.non-user
			h1 Contact Silo
			p.lead Do you need help as a...
		#flex-div.non-user
			#user_box.type.btn.btn-default
				.name
					.fa.fa-user
					span User
			#or_box or
			#organisation_box.type.btn.btn-default
				.name 
					.fa.fa-building
					span Organisation	
				
		#user_contact
			include ./partials/contact_us/user.jade
		#organisation_contact
			include ./partials/contact_us/organisation.jade
		
	if user && !success
		if !user.organisation_or_user
			include ./partials/contact_us/user.jade		
		if user.organisation_or_user
			include ./partials/contact_us/organisation.jade
			
	if success
		#success.header
			h2=success
		
	include ./partials/footer.jade



block scripts
	script(src='/javascript/contact_us.js')
	script(src='/javascript/signup-login.js')
	script(src="/javascript/advanced-search.js")
	script(src="/javascript/notifications.js")
