extends layout

block extraHeader
  link(href='/stylesheets/contact_us.css', rel='stylesheet')
  link(href='/stylesheets/footer.css', rel='stylesheet')
  link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')

block content
  include ./navbar.jade
  include ./partials/navbar-loggedin.jade
  include ./advanced-search.jade
  
  if !user && !success
    .header.non-user
      h1 Contact Silo
      p.lead Do you need help as a...
    #flex-div.non-user
      #user_box.type.col-md-4.col-xs-6
        .name User
      #or_box or
      #organisation_box.type.col-md-4.col-xs-6
        .name Organisation  
        
    #user_contact
      include ./partials/contact_us/user.jade
    #organisation_contact
      include ./partials/contact_us/organisation.jade
    
  if user && !success
    if !user.organisation_or_user
      include ./partials/contact_us/user.jade    
    if user.organisation_or_user
      include ./partials/contact_us/organisation.jade
      
  if success
    #success.header
      h2=success
    
  include ./partials/footer.jade




block scripts
  script(src='javascript/contact_us.js')
  
