extends layout

block extraHeader
  link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
  link(href='/stylesheets/footer.css', rel='stylesheet')
  link(href='/stylesheets/new-user-profile-guide.css', rel='stylesheet')
  
block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
      windowPortWidth = window.innerWidth;
      if(windowPortWidth <767){
        document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
      }
    }

  include ./navbar.jade
  include ./partials/navbar-loggedin.jade
  include ./partials/signup-modal.jade
  include ./advanced-search.jade
  div.col-md-4#sidebar
    div#crowdfunding_guide_nav
      div.crowdfunding_guide_nav_title Crowdfunding Guide
      div.crowdfunding_guide_nav_item_list
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/introduction") Introduction
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step1") A Compelling Story
          div.crowdfunding_guide_nav_sub_item
            a(href="#step-1") First Subitem
          div.crowdfunding_guide_nav_sub_item
            a(href="#step-2") Second Subitem
          div.crowdfunding_guide_nav_sub_item
            a(href="#step-3") Third Subitem
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step2") Make a video
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step3") Social media
        div.crowdfunding_guide_nav_current_item
          div.crowdfunding_guide_nav_item
            a(href="/crowdfunding-guide/step4") Time management
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step5") Past work
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/conclusion") Conclusion
  div.col-md-8#crowdfunding_guide_content
    section.section-step#step4.content-section
      h3 Step 4: Time management
      p When crowdfunding you will likely be busy with work and other commitments. This is exactly why it is important to manage your time and set a schedule for managing your campaign before launch. Starting a campaign as early as possible gives you a margin of error and more time available to spend tweaking your profile. A structured timeline will provide reassurance and routinely dedicating effort to your crowdfunding campaign will create a more polished profile than a rushed, last minute edit.
    section.section-step#step-5.content-section
  
  include ./partials/footer.jade  
