extends layout

block extraHeader
  link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
  link(href='/stylesheets/footer.css', rel='stylesheet')
  link(href='/stylesheets/new-user-profile-guide.css', rel='stylesheet')
  
block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
      windowPortWidth = window.innerWidth;
      if(windowPortWidth <767){
        document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
      }
    }

  include ./navbar.jade
  include ./partials/navbar-loggedin.jade
  include ./partials/signup-modal.jade
  include ./advanced-search.jade
  div.col-md-4#sidebar
    div#crowdfunding_guide_nav
      div.crowdfunding_guide_nav_title Crowdfunding Guide
      div.crowdfunding_guide_nav_item_list
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/introduction") Introduction
        div.crowdfunding_guide_nav_current_item
          div.crowdfunding_guide_nav_item
            a(href="/crowdfunding-guide/step1") A Compelling Story
            div.crowdfunding_guide_nav_sub_item
              a(href="#step-1") First Subitem
            div.crowdfunding_guide_nav_sub_item
              a(href="#step-2") Second Subitem
            div.crowdfunding_guide_nav_sub_item
              a(href="#step-3") Third Subitem
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step2") Make a video
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step3") Social media
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step4") Time management
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/step5") Past work
        div.crowdfunding_guide_nav_item
          a(href="/crowdfunding-guide/conclusion") Conclusion
  div.col-md-8#crowdfunding_guide_content
    section.section-step#step-1.content-section
      h3#step-1 Step 1: A compelling story
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      h3#step-2 Step 2: A compelling story
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      h3#step-3 Step 3: A compelling story
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!
      p Be as specific as you can. Your story is an opportunity to tell potential donors why you are crowdfunding; your love for your subject, your desire to go to your target university and your personal motivation are all unique to you. As difficult as it may seem to disclose your financial situation, this will ultimately encourage those who were in similar circumstances to donate and even give you advice!

  include ./partials/footer.jade  
