extends layout

block extraHeader
  link(href='stylesheets/index.css', rel='stylesheet')
block content
  section#error.container.content-section.text-center.vertical-center
    .container
      .row
        .span12
          .hero-unit
            h1
              | Oops! 
              small
                font(face='Tahoma', color='red') Error code: 404
            br
            p
              | An error has occured and the page you requested could not be found. Use your browsers 
              b Back
              |  button to navigate to the page you have prevously come from
            p
              b Or you could just press this neat little button:
            a.btn.btn-large.btn-primary(href='/', style='box-shadow: 0px 3px 6px #888888;') Take Me Home
