extends layout

block extraHeader
  link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
  link(href='/stylesheets/footer.css', rel='stylesheet')
  link(href='/stylesheets/privacy_policy.css', rel='stylesheet')

block content
  .container
    .col-md-4.col-md-offset-4
      a(href="/")
        #img_div
          a(href='/')
            img#brand-image(src="/images/silo no background.gif")
    #heading.page-header
      h1 Institution accounts
      p#giveMeAMargin By donating to an student who has affiliated with his/her target institution, your donations will go straight to the associated college, faculty or university.  This will bring about a number of benefits:
      ul
        li You can claim tax back on your donations via gift aid.
        li Your donations can increase the effectiveness scholarships offered by your associated college or faculty.
        li The funds can be distributed to the student in installments - ensuring student motivation of working to maintain the flow of funding.
      p If you have any further queries, please email  
        a(href='mailto:support@silofunds.com') our support team.
  include ./partials/footer.jade
