extends layout

block extraHeader
  link(href='/stylesheets/user-profile.css', rel = 'stylesheet')
  link(href='/stylesheets/funding-creation.css', rel = 'stylesheet')


block content
  include ./navbar-fund.jade
  h2#welcome.center-block Welcome to Silo, #{user.username}
  h3#choose.center-block Please create a funding opportunity from the following options:
  // options 4 - scholarships (explain), bursaries, grants, default
  #funding-options.row.container.center-block
    #scholarships.option.col-md-3
      p.option-description Scholarships are awarded on the basis of academic merit or other achievements and will normally be competitive.
      img.funding-img(src='/images/scholarship.svg')
      button.btn.btn-secondary.create(type='button')
        a#scholarship-link(href='/organisation/funding_creation/scholarship') Create a Scholarship
      h4 Scholarships
    #bursaries.option.col-md-3
      p.option-description.center-block Bursaries are given based on financial need and are usually non-competitive.
      img.funding-img(src='/images/bursary.svg')
      button.btn.btn-secondary.create(type='button')
        a#bursary-link(href='/organisation/funding_creation/bursary') Create a Bursary
      h4 Bursaries
    #grant.option.col-md-3
      p.option-description Grants can be given based on either merit or financial needs, but can also be awarded for research projects and other miscellaneous reasons.
      img.funding-img(src='/images/grant.svg')
      button.btn.btn-secondary.create(type='button')
        a#grant-link(href='/organisation/funding_creation/grant') Create a Grant
      h4 Grants
    #prizes.option.col-md-3
      p.option-description Prizes are usually awarded based on specific topics determined by funding institutions and requires submitted work from applicants. This work will then determine the allocation of prizes.
      img.funding-img(src='/images/prize.svg')
      button.btn.btn-secondary.create(type='button')
        a#prize-link(href='/organisation/funding_creation/prize') Create a Prize
      h4 Prizes
  #last-option.row.container.center-block
    a#later(href='/organisation/dashboard') Take me to the dashboard. I will decide later
      i.fa.fa-long-arrow-right

block scripts
  script(src='/javascript/signup-login.js')
  script(src='/javascript/funding-creation.js')
