extends layout

block extraHeader
	// Custom CSS
	link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
	link(href='/stylesheets/index.css', rel='stylesheet')
	
block content
	// Navigation

	nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
					i.fa.fa-bars
				a.navbar-brand(href="/")
					img#brand-image(src="images/homepage-transparent-logo.png")
			// Collect the nav links, forms, and other content for toggling
			.collapse.navbar-collapse.navbar-main-collapse
				ul.nav.navbar-nav.navbar-left
						li#features
							a(href="#") Features
						li
							a(href='http://siloblogs.tumblr.com/') Blog
						li
							a(href="#") Explore
			.collapse.navbar-collapse.navbar-right.navbar-main-collapse
				ul.nav.navbar-nav
					li
						a.cd-login.pre-signin LOG IN
					li
						a.cd-signup.pre-signin SIGN UP

			// /.navbar-collapse
		// /.container
	// Intro Header
	header.intro
		.intro-body
			.container
				include ./partials/signup-modal.jade
						
				.col-md-10.col-md-offset-1
					!= messages('messages', locals)
					h1.brand-heading
					p.intro-text The search for funding shouldn't be draining.
					p.intro-text-2 Fund your education
						span#emphasis(style='margin-left: 7px') now.
					form#search-form.search_form(action='/results', method='get', name='search_form')
						input#text_search(type='text', name='tags', placeholder='Subject, Target University, Target Degree level')
						input#amount_req(type='number', name='amount', placeholder='£ Amount required')
						input#age(type='number', name='age', placeholder='Age')
						button#search_button.btn.btn-danger(type='submit') Search
	// About Section
	section#about.container.content-section.text-center
		.row
			.col-md-4.hideme
				#page
					.progress-bar
						canvas#inactiveProgress.progress-inactive(height='275px', width='275px')
						canvas#activeProgress.progress-active(height='275px', width='275px')
						p 0%
					#progressControllerContainer
						input#progressController(type='range', min='0', max='100', value='72')
					p#postgraduate-brief 72% of postgraduate students have no financial help.
			.col-md-4.hideme
				h1#number-of-funds 1200
				p#funds-brief With over 1200 grants, we are the most updated funding database in the UK.
			.col-md-4.hideme
				h1#amount-searched £10 million
				p#amount-available There are over £10 million worth of grants at Silo.

			.col-md-2
			.col-lg-8.col-lg-offset-2
				p#silo-here Silo connects you with the institutions most likely to award you funding. We’re simplifying the search process and saving you time.
	hr#line-break
	section#about-us.container.content-section.text-center
		h3#about-intro.module Features for students
		.col-md-6
			img#user-profile.module(src="images/user-profile.png", style="width: 100%;")
		.col-md-1
		#description-cols.col-md-4.module
			.row
				.col-md-3
					img#free(src="images/free.svg")
				.col-md-9
					p#free-paragraph We understand the financial pressures of student-life. Silo's crowdfunding fee is lower than all its competitors.
			.row
				.col-md-3
					img#crowd-funding(src="images/crowd-funding.svg")
				.col-md-9
					p#crowd-funding-paragraph By combining crowdfunding and grant searching, we maximise the chances of a student reaching their goal.
			.row
				.col-md-3
					img#network(src="images/connections.svg")
				.col-md-9
					p#network-paragraph Silo connects you with relevant people who are interested in helping you. This can be other students, alumni or organisations.
		span#start-now Start now
	section#showcase.container.content-section.text-center
		#profile-views.module
			h3#fund-intro Features for funds
			.row.module-2
				.col-md-1
				#profile-row.col-md-7
					img#fund-profile(src="images/homepage-dashboard.png")
				.col-md-3
					p#profile-features Manage multiple awards at the same time. Every week you can receive analytics on how many people visited/favourited your page. You can also approve student applications on their crowdfunding page - legitimising their information.
				.col-md-1
			.row.module-3
				.col-md-1
				.col-md-3
					p#application-feature Create an award page to display general information, eligibility criteria and application processes. 
				#application-row.col-md-7
					img#application.module-2.module-3(src="images/homepage-ipad.png")
				.col-md-1
			span#fund-sign-up Sign up
	section#relevant-people.parallax
		#relevant-div
			h3#relevant-intro Creating a community
			p#relevant-explanation At Silo we have a focus on building a community. Our service is currently exclusive for Oxford students and our aim is to help fund as many students as possible. In order to do that we believe we need to connect our users with relevant people who can provide guidance and/or financial support for our users.
			p#relevant-target Whether you're a student who has succesfully crowdfunded, an alumni member, or someone who is interested in research at the university, we would love to get in touch with you.
			a#contact-span(href="mailto:andros@silofunds.com") Contact us
	section#team
		#team-div
			h3 Our team
			.row
				.col-md-3
					img(src='/images/homepage-andros.jpg')
					p 
						a(href="mailto:andros@silofunds.com") Andros Wong
					span Co-founder
				.col-md-3
					img(src="/images/homepage-duaine.jpg")
					p
						a(href="mailto:du'aine@silofunds.com") Du'aine Davis
					span Co-founder
				.col-md-3
					img(src="/images/homepage-howard.jpg")
					p
						a(href="mailto:howard@silofunds.com") Howard Tam
					span Co-founder
				.col-md-3
					img(src="/images/homepage-james.jpg")
					p 
						a(href="mailto:james@silofunds.com") James Morrill
					span Software Developer
	footer.footer-distributed
				.footer-left
					.col-md-6
						p#about-header About us
						p 
							a What is Silo?
						p 
							a Team 
						p 
							a Partners
						p 
							a Blog
						p 
							a Terms and conditions
						p 
							a Privacy policy
					.col-md-6
						p#guide-header Advice
						p
							a Crowdfunding advice
						p
							a Student video guide
						p 
							a Fund profile set up
						
				.footer-right
					.col-md-6
						p#contact-header Contact us
						p 
							a(href="mailto:andros@silofunds.com") andros@silofunds.com
						p +44 7960 478277
						p New College, Oxford
						p OX1 3BN
						
					p.footer-social
						a(href='https://www.facebook.com/SiloFunds/?fref=ts')
							i.fa.fa-facebook
						a(href='https://twitter.com/SiloFunds')
							i.fa.fa-twitter
						a(href='https://www.instagram.com/silofunds/')
							i.fa.fa-instagram
						a(href='#')
							i.fa.fa-google-plus
					.footer-center
						p Silo © 2016
block scripts
	// Custom Theme JavaScript
	script(src='javascript/index.js')
	script(src='javascript/signup-login.js')
	//Progress drawer
	script(src='javascript/progressDrawer.js')
	script.
		var resultsPage = !{JSON.stringify(resultsPage)}
	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
