extends layout

block extraHeader
  //- link(href='/stylesheets/messages.css', rel="stylesheet")
block content
  ul#messages
  form(action='')
    input#m(autocomplete='off')
    button Send  
block scripts
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script.
    var socket = io();
    $('form').submit(function() {
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      
      return false;
    });
    
    socket.on('chat message', function(msg){
      console.log('apepdnd');
      $('#messages').append($('<li>').text(msg));
    });
