extends layout

block extraHeader
  link(href='/stylesheets/results.css', rel="stylesheet")
  link(href='/stylesheets/messages.css', rel="stylesheet")
block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
    }
  include navbar.jade
  include advanced-search.jade
  #search-helper-text
    .arrow_box Use the search bar to find relevant funding opportunities and connect with other users
  section#content
    #messages-tab-menu.col-md-3.container-fluid
      .list-group
        #search-group.input-group
          span#basic-addon1.input-group-addon 
            i.fa.fa-search
          input.form-control(type='text', placeholder='Search')
        if allUsers
          each user in allUsers
            a.list-group-item(id="user-" + user.id)
              img(src=user.profile_picture)
              h5= user.username
              span.glyphicon.glyphicon-menu-right
        else
          p#no-messages You don't seem to have any messages. Start a conversation with a fund or another user
            span#nowspan now
    #messages-tab-content.col-md-9.container-fluid
      #messages-list
        ul#messages
      #input-form
        form#msg(action='')
          .col-md-12
            input#m(autocomplete='off')
            button Send  
block scripts
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/javascript/advanced-search.js')
  script(src='/javascript/messages.js')
