//- includes/navbar.jade
script(src="/javascript/signup-login.js")
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  #container.container
    .row
      .navbar-header
        a#brand-heading.navbar-brand(href='/')
          img#brand-image(src="/images/transparent silo icon graphic.png")
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
          i.fa.fa-bars
        .navbar-center-container
          form#search-form.search_form(action='/results', method='get', name='search_form')
            .advs-link
              a#advs-link(href='#') Advanced search
            .form-group#navbar-form
              .input-group
                .input-group-btn
                  button#category.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Funding 
                    span.caret
                  ul.dropdown-menu
                    li
                      a#category-funding.category(href='#') Funding
                    li
                      a#category-users.category(href='#') Users
                input#text_search.tags.form-control.input-sm(type='text', name='tags', placeholder='Keywords - Subject, University, Degree level', form="search-form")
            .submit-navbar-form
              button#search_button.btn.btn-info.btn-sm(type='submit')
                i.fa.fa-search
      // Collect the nav links, forms, and other content for toggling
      #collapse.collapse.navbar-collapse.navbar-right.navbar-main-collapse
        ul.nav.navbar-nav
          li
            a.cd-login.pre-signin(href='#0') Log in
          li
            a.cd-signup.pre-signin(href='#0') Sign up
          li.post-signin
            button
              a#home
                i.fa.fa-user
                span#notification-count 6
              .notification_box 
                span#note-header Notifications
                hr
                span#no-notification You don't have any notifications yet.
                .notification-wrapper
                script#notification-template(type='text/template')
                  .notification-row.row(id!= '<%= id %>')
                    .col-xs-2
                      i(class!= 'fa ' + '<%= category %>')
                    .col-xs-10
                      span#notification <%= notification %>
          li.post-signin
            button
              a#user-message(href='/messages')
                i.fa.fa-comment
                span#new-message
          li.post-signin
            .dropdown
              button#settings-button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                i.fa.fa-cog
              ul#settings-menu.dropdown-menu
                li#settings
                  a.settings
                    | Settings
                li.divider(role='separator')
                li#logout
                  a.logout
                    | Log out
