//- includes/navbar.jade
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  #container.container
    .row
      .navbar-header
        a#brand-heading.navbar-brand(href='/')
          img#brand-image(src="/images/transparent silo icon graphic.png")
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
          i.fa.fa-bars
        form#search-form.col-md-offset-2.col-md-8.search_form(action='/results', method='get', name='search_form')
          .col-md-2#advs-link
            a#advs-link(href='#') Advanced search
          .col-md-6.form-group#navbar-form
            .col-md-12
              .input-group
                .input-group-btn
                  button#category.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Funding 
                    span.caret
                  ul.dropdown-menu
                    li
                      a#category-funding.category(href='#') Funding
                    li
                      a#category-users.category(href='#') Users
                input#text_search.tags.form-control(type='text', name='tags', placeholder='Keywords - Subject, University, Degree level', form="search-form")
          .col-md-2#submit-navbar-form
            button#search_button.btn.btn-info(type='submit')
              i.fa.fa-search
      // Collect the nav links, forms, and other content for toggling
      #collapse.collapse.navbar-collapse.navbar-right.navbar-main-collapse
        ul.nav.navbar-nav
          li
            a.cd-login.pre-signin(href='#0') Log in
          li
            a.cd-signup.pre-signin(href='#0') Sign up
          li.post-signin
            button
              a#home(href="#0")
                i.fa.fa-user
          //
            li.post-signin
             i.fa.fa-comment-o
          li.post-signin
            .dropdown
              button#settings-button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                i.fa.fa-cog
              ul#settings-menu.dropdown-menu
                li#settings
                  a.settings(href="#0")
                    | Settings
                li.divider(role='separator')
                li#logout
                  a.logout(href="#0")
                    | Log out
