extend layout

block extraHeader
  link(href='/stylesheets/results.css', rel='stylesheet')

block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
    }
  include ./navbar.jade
  include ./signup-modal.jade
  section.container
    ul.nav.nav-tabs
      li#search-for Search for:
      li#search-for-funding.active
        a#search-for-funding.search-for(href="#advs-funding" data-toggle="tab") Funding
      li#search-for-user
        a#search-for-user.search-for(href="#advs-user" data-toggle="tab") Users
  .tab-content
    .tab-pane.fade#advs-user
      form#advs-user-form.advs_user_form(action='/results/users', method='get', name='advs_user_form')
        section.keyword
          .row
            .col-md-offset-2.col-md-8
              label(for='tags') Keywords
              input#advanced_user_tags(type="text", name="tags", form="advs-user-form")
        section.header
          .row
            .col-md-12
              h5 About the user
        section.content-section
          .row
            .col-md-4
              label(for='age') Age
              input#advanced_user_age(type = "number", name = "age", form = "advs-user-form")
            .col-md-4
              label(for= 'user_country_of_residence') Country of Residence
              input#advanced_user_country_of_residence(type = "text", name = "country_of_residence", form = "advs-user-form")
            .col-md-4
              label(for='user_religion') Religion
              input#advanced_user_religion(type = "text", name = "religion", form = "advs-user-form")
          .row
            .col-md-4
              label(for='funding_needed') Amount Needed
              input#advanced_user_funding_needed(type = "number", name = "funding_needed", form = "advs-user-form")
            //- .col-md-4
            //-   label(for='gender') Gender
            //-   .row
            //-     .col-md-5
            //-       label.radio-inline
            //-         input#male.gender(type='radio', name = 'gender', value= 'male', form = "advs-user-form")
            //-         | Male
            //-     .col-md-5
            //-       label.radio-inline
            //-         input#female.gender(type='radio', name = 'gender', value = 'female', form = "advs-user-form")
            //-         | Female
        section.footer.text-center
          button#advs-user-submit.btn.btn-primary(type='submit') Search      
//- block scripts
//-   script.
//-     var fund = !{JSON.stringify(fund)}
//-     var countries = !{JSON.stringify(countries)}
//-     var user = !{JSON.stringify(user)};
//-   script(src="/javascript/signup-login.js")
//-   script(src="/node_modules/readmore-js/readmore.min.js")
//-   script(src="/javascript/option-profile.js")
