extends layout
block extraHeader
  link(rel="stylesheet", href="/stylesheets/privacy_policy.css")
block content
  .container
    .col-md-4.col-md-offset-4
      a(href="/")
        #img_div
          a(href='/')
            img#brand-image(src="/images/silo no background.gif")
    #heading.page-header
      h1 Privacy Policy
      p#giveMeAMargin This statement describes how 
        b Silo inc. ("Silo", "we", "us") 
        | treats the information of visitors and registered users of 
        a(href='/') www.silofunds.com 
        | (“service”, “services”). This privacy policy should be read in conjunction with our terms and conditions.     
      p We work very hard to protect your privacy.  Sensitive, personal information will always be handled appropriately and remain private. All information collected is used to improve our service, this statement reflects our commitment to our user base.
        
    .subhead
      h2.weight.pushUp Data we collect
      span
        | Our primary service; connecting students
        | with funding institutions, is informed by the information provided by both types
        | of users. In order to effectively use our services, users are encouraged to
        | make an account. The accuracy and effectiveness of our service is contingent
        | upon the quality of information that users provide. 
        span
        | Depending on the required use of our
        | service this may include;
      ul
        li Log in details - In order to successfully log in, we need to store your username and password.
        li Unique information – Creating a student account requires the completion of sign up forms on Silo. These forms require the input of personal information (such as subject, age, name, and hometown). Creating an institution account requires the submission of information about the type of funding opportunity offered (such as maximum amount, eligibility criteria, and duration of award).
        li Activity Log – Your interaction with our platform. For example, your type of device, browser and IP address.
        li Progress- How much funding you raise/donate (such as your transaction and application history.)
        li Feedback – Messages you send to us (such as reporting an issue, email us to say thank you, ask us questions) and information you provide about your experience of our platform. We may use your success to encourage other users.
        
    .subhead
      h2.weight How we use your information
      span
        | We use your information to enhance the service that we provide. This information is used to:
      ul
        li Create your Silo account.
        li Log user sessions. (Keep track of when you are signed in)
        li Connect users with funding institutions and students.
        li Present and promote a campaign or funding opportunity.
        li Better understand your usage of our services and to improve our service.          
      p Without your permission we will never post on your third party accounts (such as Facebook, Twitter, Tumblr etc.) Our focus is providing the best funding platform for students. Your success is our success.
      p If Silo is involved in a merger, acquisition, sale or bankruptcy, we will notify you via email to update you on proceedings as well as actions available to you regarding your Personal Information.
      
    .subhead
      h2.weight What remains Private?
      span
        | All sensitive information is stored privately; you can edit the information you wish to be publicly available. The default account privacy setting stores the following information privately:
      ul
        li Your password.
        li Your credit debit card information and general payment information.
        li Your IP address. (Activity Log)
        li Any communication between you and our support team or between users via our messaging service.
      p There is certain degree of information-sharing that is required to access all of our services. For example, our search engine is informed by the information that you provide. Stripe process all payments on Silo, if you are crowdfunding it is necessary for us to share payment information with Stripe to complete any transaction. Stripe are expected to protect your information to an equally high standard.
      p The only circumstances under which we may share information with other parties are those concerning our compliance with law and law enforcement.  Silo reserves the right to share information in cases of abuse, fraud and scenarios in which non-compliance would threaten the credibility and/or legality of the platform.
      
      .subhead
        h2.weight So What’s Public?
        p In signing up for Silo, users agree to create a public profile. This profile is used to facilitate the fundraising process; it contains basic information about the user. This information is used to enhance our search function and provide relevant results. All users are asked to verify their profiles via email confirmation.
        span
          | For funding institutions this public profile consists of basic information that is of interest to potential applicants. This includes:
        ul
          li Name of institution
          li Amount offered
          li Contact information
          li Eligibility criteria
          li Application deadline
          li Charity number
        span
          | For students this page consists of information that is of interest to funding institutions and potential backers of a crowdfunding campaign. This includes a student’s:
        ul
          li Name
          li Financial target
          li Country of origin
          li Purpose for funding
          li Comments on other profiles
          li Educational history
        p Students may sign up for or into our services using Facebook. In signing up though Facebook, Silo will receive information about you (such as your email address, education history, location, hometown, birthday.) We use this to verify your identity. Users are also encouraged to share their crowdfunding page across social media platforms to garner attention.
        p If you donate to a campaign the campaign founder will be notified of your name and the amount donated.  Every user has a right to alter the visibility of information on their profile be it through omission or accessing your privacy settings.
        
        .subhead
          h2.weight Silo contacting you
          p The amount of contact you have with our support team is dependent on your stated preferences in creating an account. For students, this may range from reminders about upcoming deadlines to notes of congratulations when you reach your target. For funding institutions, this may range from updates about page views, to notifications about the progress of applicants. This communication will be minimised and only used to enhance your experience of our platform.
          
        .subhead
          h2.weight Parting note
          p The fundamental purpose of our privacy policy is to provide transparency. We’re committed to providing a credible, useful platform for fundraising. Protecting your sensitive information is an integral part of our service.
          p If either your personal information or your privacy preferences change, you may update your profile accordingly on the “Settings” page. Any queries concerning your personal information or usage of our services should be addressed to support@silofunds.com.
          p It is understood that users under the age of 18 will comply with our terms of use, that is they may only use our service with adult supervision. We do not knowingly collect or solicit information from anyone under the age of 13. If you are concerned that certain information on www.silofunds.com seems to violate the terms stated above, please do contact us.

      
      
      
