doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Silo
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/search.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kameron', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      #container.container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars

          a#brand-heading.navbar-brand(href='/')
            | S
            span#title ilo
          form.search_form(action='/search', method='post', name='search_form')
            input#text_search(type='text', name='tags', placeholder='Search terms')
            input#amount_req(type='number', name='amount', placeholder='Amount')
            input#age(type='number', name='age', placeholder='Age')
            button#search_button.btn.btn-danger(type='submit') Search
        // Collect the nav links, forms, and other content for toggling
        #collapse.collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li
             a.cd-login.page-scroll.pre-signin(href='#0') Log in
            li
             a.cd-signup.page-scroll.pre-signin(href='#0') Sign up
            li.post-signin
             i.fa.fa-user
            li.post-signin
             i.fa.fa-comment-o
            li.post-signin
             i.fa.fa-pencil-square-o
      // /.navbar-collapse
      // /.container


    section#about.container.content-section.text-center
        .row
          .cd-user-modal
             .cd-user-modal-container
              ul.cd-switcher
                li
                  a(href='#0') Log in
                li
                  a(href='#0') New account
              #cd-signup
                form(class = 'cd-form',action = '/signup/search',method = "post",name = "signup_form")
                  p.fieldset
                    label.image-replace.cd-username(for='signup-username')
                    input#signup-username.full-width.has-padding.has-border(type='text', placeholder='Full Name', name='username')
                    span.cd-error-message Error message here!
                  p.fieldset
                    label.image-replace.cd-email(for='signup-email') Email
                    input#signup-email.full-width.has-padding.has-border(type='email', placeholder='Email Address', name='useremail')
                    span.cd-error-message Error message here!
                  p.fieldset
                    label.image-replace.cd-password(for='signup-password') Password
                    input#signup-password.full-width.has-padding.has-border(type='text', placeholder='Password', name='userpassword')
                    a.hide-password(href='#0') Hide
                    span.cd-error-message Error message here!
                  p.fieldset
                    input#accept-terms(type='checkbox')
                    label(for='accept-terms' id = "terms")
                      | I agree to the
                      a(href='#0') Terms
                  p.fieldset
                    button.full-width.has-padding(type='submit', id = "signup-button") Create account

              #cd-login
                // log in form
                form.cd-form(action = "/login/search", method = "post", name = "login_form")
                  p.fieldset
                    label.image-replace.cd-email(for='signin-email') E-mail
                    input#signin-email.full-width.has-padding.has-border(type='email', placeholder='E-mail', name = 'useremail')
                    span.cd-error-message Error message here!
                  p.fieldset
                    label.image-replace.cd-password(for='signin-password') Password
                    input#signin-password.full-width.has-padding.has-border(type='text', placeholder='Password', name = 'password')
                    a.hide-password(href='#0') Hide
                    span.cd-error-message Error message here!
                  p#remember.fieldset
                    input#remember-me(type='checkbox', checked='')
                    label(for='remember-me') Remember me
                  p.fieldset
                    button#login-button.full-width.has-padding(type='submit') Login
                p.cd-form-bottom-message
                  a(href="#0") Forgot your password?
              #cd-reset-password
                // reset password form
                p.cd-form-message
                  | Lost your password? Please enter your email address. You will receive a link to create a new password.
                form.cd-form
                  p.fieldset
                    label.image-replace.cd-email(for='reset-email') E-mail
                    input#reset-email.full-width.has-padding.has-border(type='email', placeholder='E-mail')
                    span.cd-error-message Error message here!
                  p.fieldset
                    button#reset-password.full-width.has-padding(type='submit') Reset password
                p.cd-form-bottom-message
                  a(href='#0') Back to log-in
              // cd-reset-password
              a.cd-close-form(href='#0') Close
                //
              // cd-login
          .col-lg-8.col-lg-offset-2
            div.results
              h3
                span='Your search returned ' + funds.length + ' results'

            div.page-header
              script#fund-template(type='text/template')
                ul.database
                  .fund_list
                    li
                      h3.fund_title <%= fund_title %>
                    li.fund_info
                      p.fund_amount Amount given:
                        span.control <%= maximum_amount %>
                      p.fund_min_age Minimum Age:
                        span.control <%= minimum_age %>
                      p.fund_max_age Maximum Age:
                        span.control <%= maximum_age %>

                    label(id!='<%= fund_id %>') Additional Information
                         i.fa.fa-chevron-circle-down
                         span(class="description_control") <%= description %>
                      h4.fund_link
                       a(href!='<%=fund_link %>', target='_blank') Apply Now
                    hr
  //underscore
  script(src="javascript/lib/underscore.js")
  // jQuery
  script(src='javascript/lib/jquery.js')
  //Backbone
  script(src="javascript/lib/backbone.js")
  // Bootstrap Core JavaScript
  script(src='javascript/lib/bootstrap.min.js')
  // Plugin JavaScript
  script(src='javascript/lib/jquery.easing.min.js')
  // Custom Theme JavaScript
  script(src='javascript/index.js')
  //search functions
  script(src='javascript/search.js')
  //Modernizr
  script(src='javascript/lib/modernizr-custom.js')
  script.
    var fundData =!{JSON.stringify(funds)};
    var fundDescription = !{JSON.stringify(descriptions)};
