extends layout
block extraHeader
  link(rel="stylesheet", href="/stylesheets/privacy_policy.css")
block content
  .container
    .col-md-4.col-md-offset-4
      a(href="/")
        #img_div
          a(href='/')
            img#brand-image(src="/images/silo no background.gif")
    #heading.page-header
      h1 Terms and conditions
      p#giveMeAMargin The information below outlines the terms of use (the page is referred to as “
        b Terms of Use
        | ”) of the website www.silofunds.com and services relating to Silo (collectively, “
        b we 
        | ” or “
        b us
        | ”). These terms of use dictate how users may interact with our website and services (collectively referred to as “
        b Services
        | ”). In using our Services, you agree to abide by the legally binding rules of our Terms of Use as well as our Privacy Policy (link to privacy policy page). We may update our terms of use and our privacy policy by posting newer versions of these agreements on these pages. Continued use of our services is contingent upon acceptance of our most up to date Terms of Use and Privacy Policy. 

        
    .subhead
      h2.weight.pushUp Signing up
      span
        p Visitors to www.silofunds.com  will a limited version of our service until they sign up. Certain features of our service such as recommended funds, messaging, and specific fund information is contingent upon creating an account with us. In registering you must disclose information accurately and honestly, under no circumstances should you impersonate someone else or violate a person’s rights. Failure to comply with these stipulations will result in the cancellation of your account. Users are responsible for all activity on their account, it is important that each user treats their password as confidential. In the event that your account is compromised you should contact support@silofunds.com.

        
    .subhead
      h2.weight Eligibility
      span
        p Users under 18 years of age are not eligible to use the Services without consent. Users between the ages of 13 and 17, can use the Services with the consent and supervision of a parent or legal guardian who is at least 18 years old, provided such parent or legal guardian also agrees to be bound by the Terms and agrees to be responsible for such use of the Services. Funding Institutions (
          b ‘Funds’
          | ) must have a registered charity number to be eligible for our service. 

      
    .subhead
      h2.weight The mechanics of fundraising
      p Silo was built to create a fundraising community. We promote more efficient and transparent interaction between funds and students.  We enable students to crowdfund and search for funding institutions simultaneously. All funds acquired through Silo must be used for their pre-specified purpose, this is the legal obligation of fundraisers to their financial supporters. Below is the contract outlining the relationship between students and their supporters:
      p In creating a crowdfunding page students legally commit to using all funds raised through their profile to achieve their pre-specified goal. This is every student’s legal obligation to their financial supporters. Once the funds have been allocated/spent on achieving the students goal, the legal obligation is satisfied. In the process of raising money students must honestly disclose their funding target, purpose and progress. Those that support students should also be aware that there is a prerequisite degree of trust in any funding community that each party in an agreement will fulfil their obligations to the best of their ability.
      span
        | In the event that a student falls so short of their target that they can no longer achieve their target. They are legally obligated to inform their backers of their situation and can only satisfy this obligation through:
      ul
        li Posting clear updates on the implications of their funding level on their future actions.
        li Students must demonstrate that they have made every reasonable effort to achieve their funding target.
        li Presenting information honestly.
        li Using the funds responsibly and for their pre-stated purpose
        li In the case that the student can no longer use the funds for their pre-specified use, students are encouraged to return funds.
      p Students bear sole responsibility for the contents of their crowdfunding page and are legally required uphold the terms of this agreement. In the event that a student breaches the terms of this agreement they may be subject to legal action.  Please note that we will charge our fees before putting funds into your account. As a campaign creator you reserve the right to refuse or refund a donation at your discretion.
      
      
      .subhead
        h2.weight The mechanics of donating 
        p These terms outline the terms that apply to financial supporters of a student. 
        span
          | All donations are immediately processed; the refund policy will be determined by the campaign you choose to donate to.
        ul
          li All donations are final. In the event that a financial support requires a refund they must communicate directly with the campaign founder.
          li You have the right to communicate with the campaign creator in order to obtain a satisfactory level of information about the campaign and campaign founder. 
          li We will help users settle payment disputes, note these are separate from disputes concerning the use of funds. In the event that users disagree about the quantity of a transaction we may intervene to assist in resolving the issue, providing information where necessary. 
        
        .subhead
          h2.weight Community Guidelines
          p Silo is built to foster transparent, efficient, and helpful communication amongst members of the fundraising community. All activity on our platform should be coherent with our ethos.
          span 
            | Under no circumstances should a user:
          ul
            li Present false information. Impersonate someone else. Mislead other users of the service. Our community is built of trust and integrity, actions that undermine the spirit of the service will be treated as direct challenges to the primary function of Silo.
            li Use the service to promote hatred, subjugation or discrimination. We built this service to offer everyone the opportunity to finance their goals regardless of race, ethnic origin, gender identity, orientation, age. Users are expected to treat each other with respect and dignity.
            li Post offensive content. Each user has a great deal of power and control over their crowdfunding page and profile, this also comes with a responsibility to respect the rights of other users of the service and also to abide by the law. Sexually explicit images and video along with offensive language will not be tolerated within our community.
            li Spam users or engage in any activities that will undermine the functioning of the service. Silo is built on trust, behaviour that erodes the integrity of the service will be treated as a breach of this agreement. 
            li Attempt to obtain unauthorised access to any information or system then belongs to Silo or any other party.
            li Use the service to engage in or finance illegal activity.
          p We reserve the right to cancel any account that is in breach of these conditions.
          
        .subhead
          h2.weight Content ownership
          span
            | Certain usage our service will result in user generated content (such as comments, feedback and creation of an account.) We do not own this content but in order to effectively provide our service we must use this content. In submitting content to Silo you agree to these terms
          ul
            li You will not breach the copyright of others in your submissions to our service. In order to post third-party copyrighted material, you must obtain the necessary permissions from the rightful owner of the content. 
            li You grant to us, non-exclusive, sub licensable perpetual, irrevocable, royalty-free, transferable right to use, exercise, commercialize, and exploit the copyright, publicity, and database rights with respect to your submissions.
            li You grant us the right to edit, reformat, translate and present you submissions.
            li You take responsibility for any breach of copyright that arises from your submissions.
            li You accept responsibility for any mistakes you make in generating content, the onus is on the generator of content to correct/proof read material prior to submission.            
            
        .subhead
          h2.weight Our Intellectual property
          p Silo and the services herein are protected by copyrights, trademarks and other rights and laws. In using our service, you agree to respect all restrictions imposed by our rights and ownership of intellectual property. Under no circumstances can you edit, reformat or misappropriate the content within the Service for commercial use. 
          p In order to effectively promote your page, we grant you a license to reproduce certain content from www.silofunds.com for personal usage. Usage of the content for commercial purposes requires the written permission from the Silo team. Requests for permission must be sent to support@silofunds.com.
          
        .subhead
          h2.weight  Conflict and Resolution
          p In the unlikely event that there is a disagreement between a student and their financial backers we encourage either party to contact us before pursing any other course of action. In the case that legal action is chosen, our terms of usage and Privacy Policy will be governed by and construed in accordance with the law of England and Wales without giving effect to any principles of conflicts of law, and without application of the Uniform Computer Information Transaction Act. In agreeing to these terms you acknowledge that Silo is under no obligation to become involved in disputes but in the spirit of the company may do so at our discretion. Silo reserves the right to share contact information with either party in order to resolve disagreements.
          
        .subhead
          h2.weight Financial Supporters
          p All donations though Silo are made voluntarily and at the discretion and risk of the financial supporter. Silo cannot offer guarantee the amount donated, the use of the funds or the behaviour of users. Supporters are responsible for their actions and donations on the website and hence before making a donation, contributors are encouraged to ask questions and communicate with students until they are satisfied with the quality and quantity of information they have obtained. Silo does not guarantee, endorse, make representations about the accuracy of information within a campaign and financial supporters are solely responsible for determining how to treat donations in relation to tax purposes.
          
        .subhead
          h2.weight Maintenance Fees
          p Creating an account on Silo is free. We do not charge for access to our extensive database of funding opportunities or for the ability communicate with students. In order to maintain our service, we charge a flat fee of 3% in the case of successful campaigns, in addition to any charge from our payment partners. This fee is used to maintain the service above. Every user has the right to review and accept our charge before a payment is processed. The responsibility for paying additional fees and or taxes that arise through the use of Silo reside solely with each user.
          
        .subhead
          h2.weight Refunds
          p All donations given through Silo are considered to be final. This is a measure to help protect students and their ambitions. It is assumed that before pledging a donation a user asks pertinent questions and resolves any queries in the process. In the event that there is abuse of our refunds policy, Silo reserves the right to terminate a user accounts and campaigns. In the event that a contributor petitions for a refund this will require direct contact with the creator of the campaign and is not a matter that can be directly resolved through Silo. 
                
        .subhead
          h2.weight Our (Silo’s) Rights
          span
            | In order to effectively operate we reserve the right to;
          ul
            li Update our service, modify existing features and introduce new features without notice or liability.
            li Delete an account or campaign that is in breach of our terms and conditions or at our own discretion. 
            li Refuse an individual access to our service
            li Suspend campaigns or accounts
          p We are in no way liable for the damages incurred as a result of us exercising our rights as stated above.
          
        .subhead
          h2.weight Limitation of Liability
          p Under no circumstance will Silo be liable for direct damages in excess of one hundred pounds (£100). To the fullest extent as permissible by law, under no circumstances will Silo or related partners or employees be held liable for any indirect, incidental, punitive, consequential, special, or exemplary damages of any kind. The scope of this limitation of liability includes non-exclusively; damages incurred through loss of access to our service and damages occurred through the misrepresentation of information on www.silofunds.com. 
            
        .subhead
          h2.weight Indemnity
          p As a user you are expected to take responsibility for any breach of our terms of use. In using the Service you agree to defend and indemnify Silo in the event that your use of our service results in litigation.  We reserve the right to defend ourselves legally and assume control of any defence proceedings in which case users are expected to cooperate with us in preparing defensive actions.
            
        .subhead
          h2.weight English Language
          p In the event that there is some conflict between the English version of the Terms of Usage and other translations, the English version will supersede other translations as it is the original document. All representation and procedures related to claims, complaints, support and violation of our Terms will be communicated in English. 
