extend ../layout

block extraHeader
  link(href='/stylesheets/user/login.css', rel='stylesheet')
  link(href='/stylesheets/user/register.css', rel='stylesheet')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src='/javascript/user/register.js')
  script(src='/javascript/donor/register.js')


block content
  a(href="/")
    #img_div
      img#silo-image(src="/images/silo no background.gif")
  .col-md-6.col-md-offset-3
    if flashMsg
      .alert.alert-danger= flashMsg
  #form_container
    .flex_div
      .signup
        form(accept-charset='UTF-8', name='register', id='register', role='form', action="/register", method='post')
          //- input.right(type='hidden', value='true', name='donor_registration')
          .user-type.col-xs-12
            .col-xs-5
              .panel-title
                | Register for silo as a:
            .col-xs-7
              select#user_type_dropdown.form-control(name='user_type')
                option(disabled='', selected='', value='')
                option(value='student') Student
                option(value='organisation') Fund institution
                option(value='donor') Donor
              br
          .fund_only
            input#fundName(type='text', name='fundName', placeholder='Institution name:')
          .two_line.non_fund
            input.right(type='text', name='firstName', placeholder='First:')
            input(type='text', name='lastName', placeholder='Last:')
          if email
            input#email(type='text', name='email', placeholder='Email:', value=email)
          if !email
            input#email(type='text', name='email', placeholder='Email:')
          p.error.email Please enter a valid email address
          .two_line
            input#password.right(type='password', name='password', placeholder='Password:')
            input#password_confirmation(type='password', name='confirmPassword', placeholder='Confirm password:')
          p.error.password_match Passwords do not match
          // Hidden input fields
          input#donor_hidden.right(type='hidden', value='false', name='donor_registration')
          input#fundCheckbox.hide(name='fundOption', type='checkbox')
          //- 
          input.submit(type='submit' placeholder='SUBMIT')
      #login
        span Already have an account?
        a(href='/login')
          button.login Login
  
    

block scripts
  //moment
  script(src='/bower_components/moment/min/moment-with-locales.js')
  script(src='/javascript/advanced-search.js')
  script(src='/javascript/notifications.js')
  script(src='/javascript/signup-login.js')
  script(src='/javascript/donor/register.js')
  script.
    var user = !{JSON.stringify(user)}
    
