extends ../layout

block extraHeader
	link(href='/stylesheets/user-profile.css', rel='stylesheet')
	link(href='/stylesheets/user-settings.css', rel='stylesheet')
	link(href='/stylesheets/advanced-search.css', rel='stylesheet')
block content
	include ../navbar.jade
	include ../advanced-search.jade
	script#settings-template(type='text/template')
		section#edit.container.content-section
			.row
				.col-md-2.col-xs-4#categories
					ul
						li#general-settings
							i.fa.fa-gears
							| General settings
						li#account
							i.fa.fa-lock
							| Account details
					hr
					ul
						li#logout
							a(href='/user/logout')
								| Log out
				.col-md-1
				.col-md-7.col-xs-8#profile-settings
					form(action='/user/settings/', method='post', id='change-settings')
						.general
							.info-row.row#username-row
								.col-md-5
									p Name:
								.col-md-5
									p#grey <%= name %>
								.col-md-1
									i.fa.fa-pencil.edit-username
									p.edit Edit
							.info-row.row#input-name
								.col-md-12.center-block
									button#save-username.save Save Changes
							hr.account
							.info-row.row#email-row
								.col-md-5
									p Email:
								.col-md-5
									p#grey= user.email
								.col-md-1
									i.fa.fa-pencil.edit-email
									p.edit Edit
							.info-row.row#input-email
								.col-md-12.center-block
									button#save-email.save Save Changes
							hr.account
							.info-row.row#password-row
								.col-md-5
									p Password:
								.col-md-5
									p#grey Change password
								.col-md-1
									i.fa.fa-pencil.edit-password
									p.edit Edit
							.info-row.row#input-password
								.col-md-12.center-block
									button#save-password.save Save Changes
							hr.account
							.info-row.row
								.col-md-5
									p Receive email updates weekly
								.info-row.col-md-1
									input#email_updates(type='checkbox', name='email-updates', value = 'email-updates')
							br
						.profile-edit
							.info-row.row#description-row
								.col-md-4
									p Description:
								.col-md-6
									p#grey <%= description %>
								.col-md-1
									i.fa.fa-pencil.edit-password
									p.edit Edit
							.info-row.row#input-description
								.col-md-12.center-block
									button#save-description.save Save changes
							hr
							.info-row.row#country_of_residence-row
								.col-md-5
									p Country of Residence:
								.col-md-5
									p#grey <%= country_of_residence %>
								.col-md-1
									i.fa.fa-pencil.edit-country_of_residence
									p.edit Edit
							.info-row.row#input-country_of_residence
									.col-md-12.center-block
										button#save-country_of_residence.save Save Changes
							hr
							.info-row.row#religion-row
								.col-md-5
									p Religion:
								.col-md-5
									p#grey <%= religion %>
								.col-md-1
									i.fa.fa-pencil.edit-religion
									p.edit Edit
							.info-row.row#input-religion
								.col-md-12.center-block
									button#save-religion.save Save changes
							hr
							.info-row.row#funding_needed-row
								.col-md-5
									p Funding Needed:
								.col-md-5
									p#grey <%= funding_needed %>
								.col-md-1
									i.fa.fa-pencil.edit-funding_needed
									p.edit Edit
							.info-row.row#input-funding_needed
								.col-md-12.center-block
									button#save-funding_needed.save Save changes
							//		
								hr
								.row
									.col-md-6
										p Receive email updates weekly
									.col-md-5
										// input(type='checkbox', name='email-updates', checked='')

block scripts
	script(src='/javascript/signup-login.js')
	script(src='/javascript/lib/modernizr-input.js')
	script(src= '/javascript/user-settings.js')
	script(src='/javascript/advanced-search.js')
	script.
		var user = !{JSON.stringify(user)}
		var general = !{JSON.stringify(general)}
	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
