.hidden {
  display: none;
}

a.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #27AE61 url("../images/back-to-top.png") no-repeat center;
  background-size: contain;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

#support_type{
  width: 100%;
}

.hide-this-shit {
  display: none;
}

textarea {
  resize: none;
}

select {
  width: 100%;
}
