$linkedin-advs-background: #f2f2f2;
$linkedin-advs-border: #ebe2e2;

.search_form {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  margin-top: 9px;
  input {
    margin: 0px 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 313px;
    font-size: 13px;
  }
}

#dropdown {
  display: inline;
}

#dropdown-menu {
  margin-top: 5px;
}

#search-dropdown {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  margin-top: -3px;
  margin-right: -3px;
  padding: 0;
  padding-left: 5px;
  /*Choose colors for your button here: http://www.colorzilla.com/gradient-editor and replace from here to filter:*/
  background: rgba(45, 74, 118, 1);
  border: none;
  &:focus {
    outline: 0;
  }
  i {
    margin: 0px 2px;
    position: relative;
    z-index: 5;
  }
}

#grants, #users {
  cursor: pointer;
  margin: 10px;
  padding-left: 10px;
  padding-top: 2px;
  height: 25px;
  text-transform: capitalize;
}

#grants:hover, #users:hover {
  background-color: #f5f5f5;
}

#grants span, #users span {
  float: right;
  display: none;
}

#grants span i, #users span i {
  color: #2ABB9B;
}

/*advanced search */

#advanced-search {
  margin: -3.5% 17%;
  border-color: $linkedin-advs-border;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  width: 66%;
  position: fixed;
  z-index: 20;
  background-color: $linkedin-advs-background;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  display: none;
  font-size: 12px;

  .keyword {
    margin-bottom: 30px;
  }

  .header {
    margin-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d7d7d7;

    h5 {
      margin-bottom: 10px;
    }
  }

  ul {
    margin-bottom: 30px;

    li#search-for {
      padding-top: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d7d7d7;
    padding-top: 20px;
    margin-bottom: -5px;
  }

  input:not(.gender):not(.merit-or-finance) {
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #C1C1C1;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2) inset;
    padding: 3px 5px;
    margin-bottom: 10px;
    width: 80%;
    display: block;
  }

  input#advanced-tags {
    width: 100%;
  }

  select {
    display: block;
    float: left;
  }
}
