$linkedin-advs-background: #f2f2f2;
$linkedin-advs-border: #ebe2e2;
$hover-on-link: #d5d0d0;

div.navbar-center-container {
  transform: translate(-50%, 0);
  position: fixed;
  left: 50%;
  width: 50%;
  display: inline-block;
  height: 50px;

  form.search_form {
    width: 100%;
    text-align: center;
    margin-top: 7.4px;

    div.advs-link {
      display: inline-block;
      transform: translate(-220%, 0);

      a#advs-link {
        color: white;
        font-size: 9px;
        letter-spacing: 1px;
        text-decoration: none;
        white-space: nowrap;

        &:hover, &:active, &:visited {
          text-decoration: none;
        }

        &:hover {
          color: $hover-on-link;
        }
      }
    }

    div#navbar-form {
      display: inline-block;
      transform: translate(-50%, 0);
      width: 375px;
      position: fixed;
      left: 50%;

      button#category {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      input#text_search {
        padding: 5px;
        font-size: 12px;
      }
    }

    div.submit-navbar-form {
      display: inline-block;
      transform: translate(+480%, 0);

      button {
        border-radius: 3px;
      }
    }
  }
}

#dropdown {
  display: inline;
}

#dropdown-menu {
  margin-top: 5px;
}

#search-dropdown {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  margin-top: -3px;
  margin-right: -3px;
  padding: 0;
  padding-left: 5px;
  /*Choose colors for your button here: http://www.colorzilla.com/gradient-editor and replace from here to filter:*/
  background: rgba(45, 74, 118, 1);
  border: none;
  &:focus {
    outline: 0;
  }
  i {
    margin: 0px 2px;
    position: relative;
    z-index: 5;
  }
}

#grants, #users {
  cursor: pointer;
  margin: 10px;
  padding-left: 10px;
  padding-top: 2px;
  height: 25px;
  text-transform: capitalize;
}

#grants:hover, #users:hover {
  background-color: #f5f5f5;
}

#grants span, #users span {
  float: right;
  display: none;
}

#grants span i, #users span i {
  color: #2ABB9B;
}

/*advanced search */

#advanced-search {
  margin: -3.5% 17%;
  border-color: $linkedin-advs-border;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  width: 66%;
  position: absolute;
  z-index: 20;
  background-color: $linkedin-advs-background;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  display: none;
  font-size: 12px;

  .keyword {
    margin-bottom: 30px;
  }

  .header {
    margin-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d7d7d7;

    h5 {
      margin-bottom: 10px;
    }
  }

  ul {
    margin-bottom: 30px;

    li#search-for {
      padding-top: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d7d7d7;
    padding-top: 20px;
    margin-bottom: -5px;
  }

  input:not(.gender):not(.merit-or-finance) {
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #C1C1C1;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2) inset;
    padding: 3px 5px;
    margin-bottom: 10px;
    width: 90%;
    display: block;
  }

  input#advanced_tags, input#advanced_user_tags {
    width: 100%;
  }

  select {
    display: block;
    float: left;
  }
}
