$border: 1px solid #e1e8ed;
$background-color: #f0f2f4;

/* New search bar */
@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';
@import './mobile/user/user-crowdfunding-mobile.scss';


html, body {
  background-color: $background-color;
  font-family: Source Sans Pro;
}

footer {
  margin-top: 50px;
}

// Normal page css
.content {
  margin-top: 100px;
  font-family: Source Sans Pro;
  text-align: center;
  .header {
    font-family: Source Sans Pro;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 10px 170px 10px;
    .bottom.header_flex {
      margin-top: 30px;
      button {
        font-size: 18px;
      }
    }
  }
}

@media(max-width: 580px) {
  .content {
    .header {
      font-size: 21px;
      margin: 5px;
    }
  }
}
