@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';
$header-color: #0dad8d;
body{
  font-family: 'Source Sans Pro';
  .navbar-custom{
    position: relative;

    div.navbar-center-container{
      position: absolute;
    }
  }
  h1,h2,h3,h4{
    font-family: 'Source Sans Pro';
    color: $header-color;

  }
  section{
    width: 70%;
    margin-left: 23%;
    i.fa.fa-institution{
      font-size: 28px;
      display: inline;
      margin-right: 10px;
    }
    .row{
      padding-top: 35px;
      margin-left: 0;
      margin-right: 0;
      border-radius: 2px;
    }
    h3, i{
      font-weight: 550;
      font-family: 'Source Sans Pro';
      display: inline-block;
      font-size: 25px;

    }
  }
  #writing{
    font-family: 'Source Sans Pro';
    padding: 0px 30px 20px 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 70%;
    margin-left: 23%;
    background-color: white;
    // box-shadow: 0px 8px 15px #888888;
    // border-radius: 30px;
    h2{
      font-size: 28px;
    }
    .intro-div{
      .intro{
        font-style: italic;
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
    .steps{
      ul{
        font-size: 16px;
      }
      margin-top: 15px;
      margin-bottom: 25px;
      .step-img{
        width: 70%;
        margin-bottom: 30px;
        border-radius: 3px;
      }
      div{
        p.intro{
          margin-bottom: 10px;
          font-size: 18px;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 760px) {
  body #writing {
    margin-top: 30px;
    margin-left: 5%;
    width: 90%;
    .steps .step-img {
      width: 86%;
      margin-left: 7%;
      height: auto;
    }
  }

  .content-section .row {
    margin-top: -6px;
    padding-top: 20px;
    .col-xs-11 h3 {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 500px) {
  .content-section .row {
    .col-xs-1 {
      display: none;
    }
    .col-xs-11 h3 {
      padding-left: 15px;
    }
  }
  body #writing {
    border-radius: 0;
    margin: 0;
    width: 100%;
    padding: 20px 15px 15px 15px;
    .intro-div p.intro, .steps div p.intro {
      font-size: 15px;
    }
    .steps .step-img {
      width: 98%;
      margin-left: 1%;
      height: auto;
    }
    h3 {
      font-size: 19px;
      margin: 0;
      margin-bottom: 10px;
    }
    .steps {
      margin-bottom: 20px;
      .step-img {
        margin-bottom: 20px;
      }
    }
  }
  .content-section .row {
    margin-top: -6px;
    padding-top: 17px;
    .col-xs-11 h3 {
      font-size: 19px;
      margin-bottom: 17px;
    }
  }
}
