@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';

body{
  font-family: 'Source Sans Pro';
  background-color: #e9f0f4;
}
#categories{
    top:80px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    padding-top: 30px;
}
p{
  font-size: 100%;
}
ul{
    list-style: none;
}

#categories ul{
    margin-left: -30px;
}
#categories i{
margin-left: -10px;
margin-right: 10px;
color: black;
}
#general-settings, #account{
    margin-left: 10px;
    padding: 0;
    a{
      color: grey;

    }
}
.active-link{

  color: black!important;
}
#general-settings:hover, #account:hover{
    cursor: pointer;
}
#general-settings{
    width: 80%;
}
#account{
    margin-top: 13px;
    color: grey;
}
#account i {
    margin-right: 15px;
}
#logout a, #logo3t a:hover{
    color: grey;
}
#profile-settings{
    top:80px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    bottom: 50px;
}

#email-row,#username-row{
    padding-top: 15px;
    p{
      margin-bottom: 20px;
      padding-top: 5px;
    }
    #username{
      font-size: inherit;
    }
}

#previous-password-row, #charity_number-row{
    padding-top: 15px;
    p{
      padding-top: 5px;
    }

}
#charity_number-row{
  p{
    margin-bottom: 20px;
  }
}
.grey{
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}


#save-div{
  .save{
      background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px #446CB3 solid;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  }
  .save:focus{
      background-color: #446CB3
  }
  .save:active{
      background-color: #446CB3
  }
  #save-general-settings-notification{
    display: none;
    margin-top: 5px;
  }
}

#save-password{
    margin-bottom: 30px
}
#inputdescription{
    height: 80px;
    width: 100%
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 13px 5px 5px 5px;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

#finance-column, #finance, #clear-radio{
margin-top: 10px;
}

#clear1{
	margin-left: 30px;
	cursor: pointer;
	color: #337ab7;
}

#clear1:hover{
	text-decoration: underline;
}

#profile-settings{
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.profile-edit{
  #box-profile{
    transition: 2.5s;
    margin-bottom: 30px;
    .fa-camera{
      position: absolute;
      color: white;
      font-size: 45px;
      left: 47%;
      top: 30%;
      display: none;
    }
    &:hover{
      .fa-camera{

        cursor: pointer;
        display: block;
      }
    }
    #userImage {
      width: 50%;
      margin-left: 25%;
      max-height: 500px;
      border-radius: 5px;
      border: 1px solid #e1e8ed;
      cursor: pointer;
    }

  }
  textarea{
    padding: 10px;
    height: 100px;
    width: 100%;
  }
}
