#advanced-search, #advanced-search-2{
	top: 80px;
	z-index: 11;
	display: none;
}
.search_form input{
	font-size: 13px;
}
#brand-image{
  margin-top: -13px;
   height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    position: relative;
    z-index: 11;
}
#fund-info{
	top: 90px;
	position: relative;
	z-index: 10;
	width: 70%;
}

#fund-picture{
	width: 250px;
	height: 250px;
	border: 5px solid #e9eaed;
	display: inline;
	object-fit: cover;
	margin-top: 15px;
	cursor: pointer;
}

.switcher:after {
  content: "";
  display: table;
  clear: both;
}

.switcher{

    list-style: none;
    display: -webkit-box;
    float:left;
    display: inline;
    margin-top: 50px;

}
.switcher li{
	margin: 10px;
	background-color: white;
	float: left;
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	vertical-align: bottom;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid #BFBFBF;
	border-top-left-radius: 3px;
	margin-right: 0;
	margin-left: 0;
	z-index: 7
}

#overview, #eligibility{
	border-right: 2px solid #BFBFBF;
}
#overview-paragraph, #eligibility-paragraph, #application-paragraph{
	display: inline;
	color: black;
}
.switcher li i{
	display: inline;
	margin-right: 7px;

}

#overview-container{
	background-color: white;
	display: block;
	position: relative;
	margin-top: 90px;
	text-align: center;
	width: 90%;
	margin-left: 4.5%;
	margin-bottom: 60px;
}

#overview-form, #eligible-form{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-right: 50px;
}


#description-intro, #application-dates{
	margin: 0 auto;
	position: relative;
	text-align: center;
	margin-right: 35%
}

#edit-description, #edit-dates{
margin-left: 15px;
color: #22A7F0;
cursor: pointer;
}

.description-filler{
	margin-top: 20px;
	width: 50%;
	margin-right: 35%;
}

#dates{
	width: 65%;
	padding: 30px;
}
.dates{
	width: 100%
}
.start-date-filler, .deadline-filler{
	display: inline;
	float: left;
	margin: 30px 7%;
}
.deadline-filler{
	margin: 30px 5%;
}
#eligible-form p{
	margin-top: 20px;
	font-size: 18px;
	color: #22313F;

}

#countries{
	margin-bottom: 0;
}



.added-countries{
	display: inline-block;
	margin-left: 10px;
	color: #446CB3;
	margin-top: 5px;
}

.added-age{
	color: #9B59B6;
}
.added-amount{
	color: #336E7B;
}

.added-religion{
	display: inline-block;
	margin-left: 10px;
	color: #67809F;
}

.added-gender{
	color: #4ECDC4;
}

.added-merit{
	color: #1BA39C;
}

/*Application css*/
#application{
	border-top-right-radius: 3px;
}
#application-setup{
	padding-top: 10px;
	padding-bottom: 30px;
}
#application-info{
	border-radius: 10px;
	width: 90%;
	text-align: center;
	position: relative;
	z-index: 5;
	margin-bottom: 30px;
	border: 2px solid #BFBFBF;
	padding-top: 50px;
	padding-bottom: 50px;
}

.cd-switcher:after, .category-switcher:after {
  content: "";
  display: table;
  clear: both;
}

.cd-switcher, .category-switcher{
    list-style: none;
    display: -webkit-box;
/*    float: left;*/
 box-align: start;
 display: box;                   /* As specified */
  display: -moz-box;              /* Mozilla */

margin-top: 20px;
}
.cd-switcher li, .category-switcher li{

	background-color: white;
	float: left;
	display: inline;
	height: 100%;
	vertical-align: bottom;
	position: relative;
	z-index: 7;
	padding-top: 7px;
	padding-left: 12px;
	padding-right: 20px;
	padding-bottom: 4px;
	margin-bottom: -12px;
	cursor: pointer;
	border-bottom: 2px solid #BFBFBF;
	 white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
align-items: flex-end;
}


.cd-switcher li:first-child, .category-switcher li:first-child{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
}

.cd-switcher li:last-child, .category-switcher li:last-child{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: #BFBFBF;
}

#application-form{

	background-color: white;
	display: block;
	text-align: center;
	border-radius: 3px;
		border-top-left-radius: 0;
		padding-bottom: 60px;
}
#add-category{
	cursor: pointer;
	border-top-left-radius: 0;
	border-top-right-radius: 3px;
	padding-bottom: 4px;
	box-sizing: border-box;
	background-color: white;
}

#add-field, #delete-category{
	margin-top: 20px;
	border: 3px #337ab7 dashed;
	color:#337ab7;
	cursor: pointer;
	font-size: 15px;
	padding: 12px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
}

#add-icon,#delete-icon{
	font-size: 17px;
	margin-left: 10px;
}



#field-modal{
	position: fixed;
	z-index: 11;
	color: black;
	background-color: white;
	margin: 10% 0%;
	top: 0;
	width: 60%;
	padding: 50px;
	padding-top: 40px;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: none;
}

#text,#upload,#checkbox, #questions,#description-text{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 40px;
}
.close {
    color: #6C7A89;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    margin-right: -20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.add-text-question{
	margin-top: 30px;
	width: 150%;
	margin-left: -25%;
	margin-bottom: 20px;
}

.add-text-answer{
	width: 100%
}

.add-text{
	width: 100%;

}

.add-file-question{
	margin-top: 30px;
	display: inline-block;
	width: 80%;
}
.add-file-answer{

	display: inline-block;
	margin: 3% 20%;
	margin-bottom: 20px;
}

.add-checkbox-question{
	width: 80%;
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.add-checkbox-answer{
	display: inline;
	margin-left: 10px !important;
	margin-bottom: 10%;
}

.input-filler{
	display: inline;
	font-size: 16.5px;
}

.add-description-field{
	width: 150%;
	margin-top: 30px;
	height: 150px;
	margin-left: -25%;
}

.paragraph-filler, .description-filler{
	margin-top: 20px;
	font-size: 16.5px;
}

.add, .delete{
	float: right;
	color: #81CFE0;
	cursor: pointer;
	margin-bottom: 15px;
	margin-top: 5px !important;
}
.add{
	margin-right: 20px;
	margin-left: 20px;
}


hr{
	border-top: 1px solid white
}
.edit-text-question, .edit-text-description{
	width: 150%;
	margin-left: -25%;
}
