/* New search bar */
@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';


/*customised code*/
#brand-image{
  margin-top: -15px;
  position: relative;
  cursor: pointer;
}

body {
  font-family: 'Source Sans Pro';
  background-color: #e9f0f4;
}

#fund-dashboard {
  padding-top: 100px;
  margin: auto;

  p#listings-header {
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
  }

  #funding-card {
    display: block;
    background-color: white;
    border: 2px solid #DADFE1;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px 0px;
  }
}
