#finance-column, #finance, #clear-radio{
margin-top: 10px;
}

#clear1{
	margin-left: 30px;
	cursor: pointer;
	color: #337ab7;
}

#clear1:hover{
	text-decoration: underline;
}

#profile-settings{
	padding-bottom: 30px;
	margin-bottom: 30px;
}

