@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  letter-spacing: normal;
}

p {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
}

#fund-info {
  top: 0;
}

#add-field, #delete-category {
  display: none;
}

#fund-picture {
  cursor: default;
}

.cd-switcher li {
  border-bottom: none;
  padding: 0;
}

.search_form {
  margin-top: 5px;
}

.collapse {
  margin-top: -5px;
}

.post-signin {
  margin-top: 15px;
}

#brand-image {
  margin-top: -16px;
}

#gender {
  margin: 20px auto;
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  letter-spacing: normal;
}

p {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
}

#fund-info {
  top: 0;
}

#add-field, #delete-category {
  display: none;
}

#fund-picture {
  cursor: default;
}

.cd-switcher li {
  border-bottom: none;
  padding: 0;
}

.search_form {
  margin-top: 5px;
}

.collapse {
  margin-top: -5px;
}

.post-signin {
  margin-top: 15px;
}

#brand-image {
  margin-top: -16px;
}

#gender {
  margin: 20px auto;
  margin-bottom: 5px;
}
