div.listings {
  margin-top: 50px;
  margin-bottom: 30px;
}

div.job_listing {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #DADFE1;
  padding: 15px;
  border-radius: 15px;
  h2.name {
    margin-bottom: 10px;
    p.location::before {
      content: "-";
      margin: 0 10px;
      font-size: 22px;
    }
    p.location, p.time_requirements {
      color: gray;
      display: inline-block;
    }
    p.time_requirements::before {
      content: ", ";
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5
  }
  p.description::before {
    content: "Description: ";
    font-weight: bold;
    font-size: 17px;
  }
  p.requirements::before {
    content: "Requirements: ";
    font-weight: bold;
    font-size: 17px;
  }
  p.pay::before {
    content: "Pay: ";
    font-weight: bold;
  }
  button.enquire {
    font-weight: bold;
    i {
      margin-left: 10px;
    }
  }
}
