$border-color: #e1e8ed;
$body-height: calc(100% - 55px);
$input-form-height: 50px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 12px 'PT Sans';
  overflow-y: hidden;
  height: 100%;
  position: absolute;
}

section#content {
  margin-top: 55px;
  height: $body-height;
}

#messages-tab-menu {
  width: calc(30% - 30px);
  padding: 0;
  margin: 15px;
  margin-right: 0px;
  border-radius: 0;
  height: calc(#{$body-height} - 30px);
  position: fixed;
  overflow: auto;

  .list-group {
    margin: 0;

    .list-group-item {
      padding-top: 20px;
      padding-bottom: 20px;

      h5 {
        display: inline;
        margin-top: 1px;
      }

      span {
        float: right;
        margin-top: 1px;
      }

      &:hover {
        cursor: pointer;
      }

      border: 2px solid $border-color;
      border-right: 0;

    }

    .list-group-item:first-child {
      border-top-right-radius: 0px;
    }

    .list-group-item:last-child {
      border-bottom-right-radius: 0px;
    }
  }
}

#messages-tab-content {
  padding: 0px;
  width: 70%;
  right: 0px;
  position: fixed;
  display: flex;//
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;//
  margin: 15px;
  height: calc(#{$body-height} - 30px);

  #messages-list {
    bottom: 80px;
    border: 2px solid $border-color;
    border-top-right-radius: 3px;
    display: block;
    width: 100%;
    overflow: auto;
    height: calc(100% - #{$input-form-height});
    background: rgba(182, 205, 222, 0.68);
  }
  ul {
    li{
      list-style: none;
    }

    div.user_from, div.user_to {
      float: left;
      clear: both;
      width: 100%;
      padding: 15px 30px;

      .col-md-11 {
        margin-top: 6px;
      }
    }

    span {
      font-weight: bold;
    }


    img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: no-repeat center center;
      padding: 0;
      box-shadow:
        inset 1px 1px 4px rgba(0,0,0,0.5),
        0 2px 3px rgba(0,0,0,0.6);
    }
  }

  #input-form {
    width: 100%;
    height: $input-form-height;
    border: 2px solid $border-color;
    border-top: 0;
    border-bottom-right-radius: 3px;

    form#msg {
      input {
        border: 1px solid $border-color;
        border-radius: 3px;
        padding: 10px;
        width: 79%;
      }
      button {
        width: 20%;
        background: rgb(130, 224, 255);
        border: none;
        border-radius: 3px;
        padding: 10px;
        float: right;
        margin-top: 1px;
      }
      .col-md-12 {
        padding: 5px 25px;
      }
    }
  }
}
