.nav-container{
  width: 100% !important;
}
nav.navbar-custom.navbar-desktop{
  display: none;
}
nav.navbar-custom.mobile{
  display: none;
}
.post-signin {
  position: relative;
  z-index: 12;
}
.loggedin-collapsed{
  display: none !important;
}
.loggedin-nav{
  margin-right: 10px;

}
@media(max-width: 991px){
  .navbar-custom{
    ul.nav.navbar-nav.loggedin-nav{
      margin-right: 0;
      .fa-cog, .fa-user, .fa-comment {
        font-size: 18px;
      }
    }
  }


  .loggedin-advanced{
    margin-left: -150px !important;
  }
  .loggedin-form{
    margin-left: -70px
  }

}
//NAVBAR DASHBOARD MEDIA QUERIES

@media(max-width: 895px){
  .loggedin-search{
    width: 68% !important;
  }
  .loggedin-brand-heading{
    img{
      margin-left: 0 !important
    }
  }
  .loggedin-advanced{
    margin-left: -30px !important;
  }
  .loggedin-form{
    margin-left: -0px
  }
  .loggedin-button{
    margin-left: -15px;
  }
}
@media(max-width: 850px){
  .loggedin-button{
    margin-left: -5px !important;
  }
}
@media(max-width: 795px) {
  .navbar-center-container{
    left: 45% !important;
  }
}
@media(max-width: 778px){
  .loggedin-brand-heading{
    margin-left: 15px !important;
  }
}
@media(max-width: 767px){
  .navbar-center-container{
    left: 50% !important;
  }
  .loggedin-advanced{
    a{
      position: absolute;
      margin-left: -255px;
      margin-top: -8px;
    }
  }
  #settings-menu{
    position: absolute;
    margin-left: -120px;
    margin-top: 10px;
  }
  .loggedin-desktop-button{
    margin-left: -20px !important;
  }
  .loggedin-desktop-input{
    width: 50% !important;
  }
  .right-nav{
    float: right;
    list-style: none;
    display: inline;
    margin-top: 7px;
    .fa-cog, .fa-user, .fa-comment {
      font-size: 18px;
    }
    .desktop-dashboard, .desktop-profile{
      font-size: 13px;

    }
    .dropdown{
      display: inline;
    }
  }
  .desktop-form{
    left: 32% !important;
  }
  .notification_box_desktop{
    position: absolute;
    max-height: none;
  }
}
@media(max-width: 644px){
  #navbar-form{
    .desktop-input-group{
      margin-left: 0;
    }
  }
  .loggedin-advanced{
    a{

      margin-left: -240px;

    }
  }
}
@media(max-width: 621px){
  .desktop-brand-heading{
    display: none;
  }
}
.toggle-mobile{
  width: 25%;
  font-size: 22px;
  margin-top: -3px;
  color: white;
}
#navbar-center-mobile{
  margin-left: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  .col-md-3{
    float: left;
    width: 25%;
    a{
      i{
        font-size: 22px;
      }
    }
  }
}
#mobile-search{
  margin-top: -8px;
    width: 86%;
}
.notification-mobile{
  width: 80%;
  margin-left: 10%;
  position: absolute;
  z-index: 12;
  left: 0;
  margin-top: 15px;
  text-transform: capitalize;
  padding-top: 5px;
  max-height: none;

}
.notification-icon-col{
  width: 16.66666667% !important;
  padding-left: 15px;
  padding-right: 15px;
}
.notification-mobile:after{
  border-bottom-color: transparent;
}
#see-all{
  background: #f6f9fa;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #ebe2e2;
  border-bottom: 1px solid #ebe2e2;
  color: #337ab7;
  padding: 5px;
  cursor: pointer;
}
.mobile-dashboard, .mobile-profile, .mobile-settings, .mobile-logout{
  display: block;
  text-transform: capitalize;
  width: 100% !important;
}

.mobile-logout{
  margin-top:11px;
  margin-bottom: 11px;
}
.mobile-dashboard{
  margin-bottom: 0;
}
.mobile-profile{
  margin-top: 0
}
.mobile-settings{
  margin-top: 5px;
}
.search-collapse{
  position: absolute;
  margin-top: -6px;
  z-index: 30;
  width: 100%;
  height: auto;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ebe2e2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .header-row{
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ebe2e2;
    p{
      text-transform: capitalize;
      margin-left: 10px;
      font-size: 14px;
      display: inline;
      margin-right: 10px;
    }
    span{
      text-transform: capitalize;
      margin-left: 15px;
      color: #337ab7;
      cursor: pointer;
    }
    .active-mobile-item{
      background-color: white;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid #ebe2e2;
      padding: 9px;
      color: black;
    }
  }

  .search-mobile-row{
    margin-top: 20px;
    padding-bottom: 10px;
    .col-xs-2{
      margin-right: 20px;
    }
    .advanced-mobile-row{
      margin-top: 5px;
      width:16.66666667% !important;
      padding-left: 15px;
    }
    #advanced-search-mobile{
      text-transform: capitalize;
      color: #337ab7;
      margin-top: 2px;
    }
    #search-form-mobile{
      #text-search-mobile{
        width: 80%;
        padding: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: 1px solid grey;
      }
      #search_button{
        margin-left: 5px !important;
      }
    }
  }

  }
  @media(max-width: 320px){
    #advanced-search-mobile{
      margin-right: 25px;
    }
  }
