.navbar-custom {
  position: fixed;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgba(45, 74, 118, 1);
  font-size: 13.5px;
  height: 55px;
  a {
    color: #fff;
  }
  .navbar-brand {
    font-weight: 700;
    &:focus, &:active {
      outline: 0;
    }
    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: #fff;
      &:focus, &:active {
        outline: 0;
      }
    }
  }
  .nav li {
    a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      font-size: 13px;
      &:hover {
        outline: 0;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
      }
      &:focus, &:active {
        outline: 0;
        background-color: transparent;
      }
    }
    &.active {
      outline: 0;
      a {
        background-color: rgba(255, 255, 255, 0.3);
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#brand-image {
  margin-top: -8px;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}
#brand-heading{
  position: absolute;
  z-index: 10;
}

// @media (min-width: 768px) {
//   .navbar-custom {
//     padding: 20px 0;
//     border-bottom: 0;
//     letter-spacing: 1px;
//     // background: 0 0;
//     -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     transition: background .5s ease-in-out,padding .5s ease-in-out;
//     &.top-nav-collapse {
//       padding: 0;
//       background: rgba(45, 74, 118, 1);
//     }
//   }
// }
.navbar-custom .nav li a {
  cursor:pointer;
  border-radius: 10px;
  height: 100%;
  &.cd-signup:hover, &.cd-login:hover, &:focus, &.active, &.visited, &.link {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);

  }
}
