// Non logged in navbar
.navbar-custom {
  position: fixed;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgba(45, 74, 118, 1);
  font-size: 13.5px;
  height: 55px;

  #container {
    padding-top: 5px;
    height: inherit;
  }

  #category-funding,#category-users{
    text-transform: capitalize;
  }
  a {
    color: #fff;

  }

  .navbar-brand {
    font-weight: 700;
    &:focus, &:active {
      outline: 0;
    }
    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: #fff;
      &:focus, &:active {
        outline: 0;
      }
    }
  }
  .nav li {
    a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      font-size: 13px;
      &:hover {
        outline: 0;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
      }
      &:focus, &:active {
        outline: 0;
        background-color: transparent;
      }
    }
    &.active {
      outline: 0;
      a {
        background-color: rgba(255, 255, 255, 0.3);
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#brand-image {
  margin-top: -8px;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}
#brand-heading{
  position: absolute;
  z-index: 10;
}

// @media (min-width: 768px) {
//   .navbar-custom {
//     padding: 20px 0;
//     border-bottom: 0;
//     letter-spacing: 1px;
//     // background: 0 0;
//     -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     transition: background .5s ease-in-out,padding .5s ease-in-out;
//     &.top-nav-collapse {
//       padding: 0;
//       background: rgba(45, 74, 118, 1);
//     }
//   }
// }
a#user-message, a#home{
  span{
    display: none;
    color: white;
    background: red;
    padding: 3px;
    font-size: 11px;
    position: absolute;
    border-radius: 2px;
    top: -3px;
  }
}
.notification_box {
  position: absolute;
  background: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  left: -345px;
  width: 400px;
  top: 40px;
  padding: 0;
  text-align: left;
  max-height: 400px;
  display: none;
  overflow: auto;

  span{
    font-size: 14px;
    margin-bottom: 0;
  }
  hr{
    margin-top: 3px;
    margin-bottom: 0px;
  }

  #no-notification{
    margin-top: 0;
    display: none;
  }
  a {
    color: black;
    &:hover{
      color: black
    }
  }
  #note-header{
    margin-left: 10px;
  }
  .notification-wrapper{
    hr{
      margin-bottom: 0;
    }
    overflow: auto;
    #notification-handler{
      background: #e9f0f4;
      padding: 10px;
      padding-top: 20px;
      border-top: 1px solid rgba(100, 100, 100, .4);
      &:hover{
        background-color: #f6f9fa !important;
      }
      a{
        font-size: 14px;
        margin-top: -3px;
        &:hover{
          color: black;
          text-decoration: none;
        }
      }
      .row{
        padding-bottom: 10px;
      }
      .col-xs-2{
        text-align: right;
        padding-top: 3px;
        i.fa-money{
          font-size: 22px;
          padding-left: 10px;
        }
        .fa-money{
          color: #2ecc71;
        }
        .fa-calendar{
          color: #e74c3c;
        }
        .fa-sticky-note{
          color: #9b59b6;
        }
        .fa-star{
          color: #f1c40f;
        }
      }
      span#notification{

    display: inline-block;
      }
    }
    #notification-handler:last-child{
      hr{
        display: none;
      }
    }
  }

}
.notification_box:after {
bottom: 100%;
left: 90%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(255, 255, 255, 0);
border-bottom-color: #fff;
border-width: 10px;
margin-left: -10px;
}
.fa-comment{
  margin-right: -10px;
}

.fa-cog{
  color: white;
}
.post-signin{
  text-transform: capitalize;
}

.navbar-custom .nav li a {
  cursor:pointer;
  border-radius: 10px;
  height: 100%;
  &.cd-signup:hover, &.cd-login:hover, &:focus, &.active, &.visited, &.link {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);

  }

}

#brand-image {
  margin-top: -15px;
  position: relative;
  cursor: pointer;
}

#dashboard, #profile{
      padding-top: 7px;
      padding-bottom: 7px;
}
#dashboard{
  width: 50px;
}
#profile{
  width: 60px;
}
@media (max-width: 1065px) {
  #advanced-search, #advanced-search-2 {
    margin-top: -40px;
  }
  #brand-image {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  #brand-image {
    margin-left: -30px;
  }
  .cd-signup {
    margin-right: -50px;
  }
  #advanced-age, #advanced-nationality, #religion {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #merit, #finance, #male, #female {
    margin-top: 1.5px;
  }
  .radio-inline {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  @media (min-width: 875px) {
    #brand-heading {
      margin-left: -30px;
    }
  }
}
@media (max-width: 920px) {
  #brand-image {
    margin-left: -80px;
  }
  #refine-search {
    left: -130px;
  }

  .search_form {
    width: 100%;
  }
  #brand-heading {
    font-size: 25px;
    margin-left: 0px;
  }
  #text_search, #amount_req, #age {
    border-color: rgba(45, 74, 118, 0.55);
  }
}

@media (max-width: 875px) {
  #brand-heading img {
    margin-left: -60px;
  }
  ul.navbar-nav{
    margin-left: -150px;
  }
}
@media(max-width: 849px){
  #navbar-form{
    margin-left: 50px;
    #text_search{
      width: 85%;
      font-size: 10px;
    }
  }
  #search_button{
    margin-left: 3px;
  }
  #advs-link{
    margin-right: -20px;
  }
  #brand-heading img{
    margin-left: -30px;
  }
}
@media(max-width: 779px){
  #brand-heading img{
    margin-left: -10px;
  }
}
@media(max-width: 767px){
  .navbar-collapse{
    background: #2d4a76;
    position: absolute;
    width: 100%;
    margin-top: -10px;
    ul.navbar-nav{
      margin-left: -10px;
    }
  }
}
@media(max-width: 644px){
  #navbar-form{
    .input-group{
      margin-left: 100px;
    }
    #text_search{
      width: 50%
    }

  }
  #advs-link{
    margin-right: -55px;
  }
  #search_button{
    margin-left: -6px;
  }
  .navbar-toggle{
    position: relative;
    z-index: 10;
    margin-top: 5px;
  }
}
@media(max-width: 550px){
  #advs-link{
    position: absolute;
    margin-left: -165px;
    margin-top: -8px;
    z-index: 10;
  }
  #navbar-form{
    .input-group{
          margin-left: 70px;
    }
  }
}
@media(max-width: 450px){
  #advs-link{
    margin-left: -125px;
  }
  div.advs-link{
    position: relative;
    z-index: 10;
  }
}
