body{
	font-family: 'Montserrat'
}

.navbar-custom{
	background-color: rgba(45,74,118,1.0);
	height: 42px;
}
.search_form{
	  position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: 9px;

}

.search_form input{
	margin:0px 7px;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 313px;
}


#search-dropdown{
	width: 38px;
	height:38px;
	border-radius: 19px;
	margin-top: -4px;
	padding: 0;
	padding-left: 5px;
	/*Choose colors for your button here: http://www.colorzilla.com/gradient-editor and replace from here to filter:*/
  background: #ffffff; 
}

#search-dropdown i{
	margin: 0px 2px;
}

.signin-icon{

  font-size: 20px;
  margin: 10px 10px 0;

}

.signin-icon button{
	color:white;
	background-color: transparent;
	border: none;
}

/*.signin-icon a{
	color:white;
}

.signin-icon a:hover{
	background-color: transparent;
	text-decoration: none;
	color: grey;
}


.nav>li>a:hover{
	background-color: transparent;
	text-decoration: none;
}
.nav>li>a:active{
	background-color: transparent;
	text-decoration: none;
}
*/
*/
