@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';

#search-form, .instruction-pointer,.instruction-pointer-2{
	display: none;
}
p{
	font-size: 11px;
}
.navbar-custom{
	position:relative;
}
body{
		background-color: #f0f2f4;
}
#signup-wrapper{
	padding-bottom: 50px;
	padding-top: 30px;
	p{
		font-size: 13px;
	}
	#greeting{
		width: 60%;
		margin-left: 20%;
		font-family: 'Source Sans Pro';
		color: #34495e;
		h3{
			text-align: center;
    	font-family: 'Helvetica Neue';
			margin-bottom: 15px;
		}
		h4{
			text-align: center;
			font-family: 'Source Sans Pro';
			margin-bottom: 15px;
		}

	}
	#process-flex-container{
		width: 100%;
		margin-top: 20px;
		.process{
			font-family: 'Source Sans Pro';
			font-weight: bold;
			padding:15px;
			margin: 5px;
			color: #3D3D66;
			font-size: 16px;
			span{
				top: 2px;
				font-size: 13px;
			}
		}
		#dashboard-button {
			margin-left: 15px;
		}
		.preview{
			margin-left: 2%;
		}
		.active{
			background-color: rgba(247,245,242,0.6);
			color: #3656d8;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
	}
	#signup-form{
		background-color: white;
		width:80%;
		border: 1px solid #e1e8ed;
		border-radius: 5px;
		padding-bottom: 30px;
		padding-top: 10px;
		margin-top: 20px;
		font-family: 'Source Sans Pro';
		.description{
			font-weight: bold;
			font-size: 14px;
			color: #34495e;
			margin-top: 5px;
		}
		p{
			margin-bottom: 25px;
		}
		.row{
			margin-top: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #e1e8ed;
			margin-right: 0;
			margin-left: 0;
		}
		#picture-row{
			padding-bottom: 30px;
			margin-top: 10px;
		}
		#picture{
			margin-top: 10px;
		}
		#profile-picture{
			border: 2px dashed #4157af;
			border-radius: 5px;
			color: #3D3D66;
			padding: 20px;
			cursor: pointer;
			padding-bottom: 10px;
			span {
				display: block;
				text-align: center;
				margin-top: 10px;
				font-size: 13px;
				color: #3D3D66;
			}
			img {
				width: 150px;
				height: auto;
			}
		}
		.gender-row{
			margin-top: 5px;
			.radio-inline{
				float: left;
				input{
					margin-top: -5px;
				}
			}
		}

		#religion-row,#previous-college-row{
			border-bottom: none;
		}
		#religion-select{
			border: 2px solid #dad7d4;
			border-radius: 2px !important;
		}
		input{
			border: 2px solid #dad7d4;
			width: 100%;
			border-radius: 2px;
			padding: 3px;
			font-size: 13px;
			height: 30px;
			&:active, &:focus{
				border: 2px solid #9ba7d8;
				outline: none;
			}
		}
		ul.token-input-list-facebook{
			margin-top: -2px;
			.token-input-input-token-facebook{
				input{
					width: 500px !important;
				}
			}
		}

		.save{
			text-align: right;
			#skip, #save {
				float: right;
				font-family: 'Source Sans Pro';
				margin: 10px;
			}

			#skip {
				padding-top: 8px;
				font-size: 14px;
			}

			#save {
				margin-right: 20px;
				background: #457fca;
				/* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #457fca, #5691c8);
				/* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #457fca, #5691c8);
				/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				border: 1px #446CB3 solid;
				color: white;
				cursor: pointer;
				border-radius: 5px;
				a {
					color: white;
				}
				&:focus, &:active {
					background-color: #446CB3;
				}
			}

		}

	#story-header,#education-header,#about-header, #verify-header{
		background: #f2f3f9;
		padding: 10px;
		border-radius: 3px;
		font-size: 16px;
		margin-top: 15px;
		width:70%;
		margin-left: 15%;
	}
	.video-row{
		.col-md-6{
			h6{
				font-family: 'Source Sans Pro';
				font-size: 16px;
				margin-bottom: 15px;
			}
			p{
				margin-top: 10px;
				margin-bottom: 20px;
			}
		}

		span{
			i{
				color: black;
    font-size: 14px;
    border: 2px solid #ccc;
    border-right: 0;
    background-color: #e6e6e6;
			}
		}
		a{
			margin-left: 3px;
			cursor: pointer;
		}
	}
	.story-row{
		padding-bottom: 30px;

		#mission-statement, #story-outline{
			font-size: 16px;
			font-weight: bold;
			input{
				padding-left: 5px;
				margin-top: 15px;
			}
		}
		#cost-breakdown{
			margin-top: 15px;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
			#add-breakdown{
				margin-top: 10px;
				border: 1px dashed #337ab7;
			}
		}
	}

#work{
	border-bottom: none;
	#work-row{
	 border-radius: 10px;
	 padding-top: 15px;

	 h6{
		 font-family: 'Source Sans Pro';
		 font-size: 16px;
	 }
	 .btn-file {
	 	 position: relative;
	 	 overflow: hidden;
	 }
	 .btn-file input[type=file] {
	 	 position: absolute;
	 	 top: 0;
	 	 right: 0;
	 	 min-width: 100%;
	 	 min-height: 100%;
	 	 font-size: 100px;
	 	 text-align: right;
	 	 filter: alpha(opacity=0);
	 	 opacity: 0;
	 	 outline: none;
	 	 background: white;
	 	 cursor: inherit;
	 	 display: block;
	 }
	 #stand-out{
	  margin-top: -25px;
	  margin-bottom: 40px;
	 }
	 #work-span{
	  margin-top: -20px;
	  margin-bottom: 8px;
		background-color: #05d257;
		border: none;
		&:hover{
			background-color: #04a042;
		}
	 }
	 #edit-later{
		 margin-bottom:15px;
	 }
	 #work-span label{
	  cursor: pointer;
	  margin-left:10px;
	 }
	 #file-error{
		 display: none;
		 color: red;
	 }
	 #hyperlink{
		 p{
			 margin-bottom: 10px;
		 }
		 .hyperlink-row{
			 margin-top: 0;
			 border-bottom: 0;
			 i{
				 color: black;
				 font-size: 14px;
				 border: 2px solid #ccc;
				 border-right: 0;
				 background-color: #e6e6e6;
				 &:hover, &:active, &:focus{
					 background-color: #e6e6e6;
					 outline: 0;
				 }
			 }
		 }
	 }

	}
}

	#email-row{
		border-bottom: none;


	}

	#account-handler{
		#separator{
			display: none;
		}
		.row{
			border-bottom: none;
		}
		#address-row{
			.row{
				margin-left: 0;
				margin-right: 0;
				padding-bottom: 0;
				#postal-code{
					padding-left: 0;
				}
				#city{
					padding-right: 0;
					padding-left: 0;
				}
			}
		}
		a{
			margin-top: 20px;
			width: 50%;
			background-color: #05d257;
			&:hover{
				background-color: #04a042;
			}
		}
		#verify-text{
			margin-top: 25px;
			padding-left: 0;
			padding-right: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			display: none;
		}
	}
		}
}

#emailSent {
	text-align: center;
}


// Mobile optimization
@media (max-width: 762px) {
	#signup-wrapper #signup-form {
		width: 90%;
	}
	#signup-wrapper #greeting {
		width: 80%;
		margin-left: 10%;
	}
}

@media (max-width: 592px) {
	#signup-wrapper #greeting {
		width: 95%;
		margin-left: 2.5%;
		h4 {
			font-size: 16px;
		}
	}
	#signup-wrapper #process-flex-container .process {
		padding: 10px;
	}
	#signup-wrapper.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 542px) {
	.center-block {
		display: block;;
	}
	.input-group.center-block {
		display: table
	}
	#dashboard-button.desktop {
		display: none;
	}
	.glyph-remove {
		display: none;
	}
	#signup-wrapper #signup-form {
		width: 98%;
	}
	#greeting {
		width: 98%;
		margin-left: 1%;
		h3 {
			font-size: 20px
		}
		h4 {
			font-size: 16px;
		}
	}
	#process-flex-container {
		a {
			font-size: 14px;
		}
	}
	#signup-wrapper #signup-form {
		#education-handler, #account-handler, #story-handler, #about-handler {
			#education-header, #about-header, #story-header, #verify-header {
				font-size: 14px;
				margin-top: 10px;
				width: 90%;
				margin-left: 5%;
			}
			p {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 399px) {
	#signup-wrapper #process-flex-container {
		width: 100%;
		.process {
			margin: 3px;
			padding: 7px 5px 7px 5px;
			margin-top: -4px;
			a {
				font-size: 13px;
			}
		}
	}
	#signup-wrapper #signup-form.center-block {
		margin-top: 8px;
		#picture-row {
			margin-top: -20px;
		}
	}
}
@media (max-width: 330px) {
	#signup-wrapper.container-fluid #process-flex-container {
		width: 100%;
		.process {
			margin: 2px;
			padding: 7px 3px 7px 3px;
			margin-top: -4px;
			font-size: 14px;
		}
	}
}

@media (max-width: 670px) {
	#signup-form.center-block, #education-handler {
		.col-xs-4, .col-sm-3 {
			padding-left: 2px;
			padding-right: 3px;
		}
	}
}

// Moves the text up when an extra line is taken up
@media (max-width: 466px) {
	#signup-wrapper #signup-form p.line-wrap-466px {
		margin-top: -7px
	}
	#separator.col-xs-1{
		display: block;
	}
}
@media (max-width: 817px) {
	#signup-wrapper #signup-form p {
		text-align: center;
	}
	#signup-wrapper #signup-form p.line-wrap-817px {
		margin-top: -7px;
	}
}
@media (max-width: 988px) {
	#signup-wrapper #signup-form p.line-wrap-988px {
		margin-top: -7px
	}
}
@media (max-width: 1200px) {
	#signup-wrapper #signup-form .col-sm-4 {
		padding-left: 3px;
		text-align: right;
	}
}

@media (max-width: 380px) {
	#signup-form.center-block p#country_of_residence.description.line-wrap-380px {
		margin-top: -7px
	}
	#signup-wrapper #signup-form .gender-row .radio-inline {
		input#femaleRadioInput{
			width: 30%;
		} input#maleRadioInput {
			width: 40%;
		}
	}
	#signup-wrapper #signup-form #profile-picture img {
		width: 200px !important;
		height: auto !important;
	}
}

.hear-about-us {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 15px;
	justify-content: space-between;
	align-items: center;
	color: #34495e;
	font-weight: bold;
	font-size: 14px;
	select {
		margin: 0;
		padding: 0;
	}
	.col-md-2.col-sm-0.col-xs-0.padding-edit, .col-md-1.col-xs-0.padding-edit {
		padding: 0;
		padding-left: 3px;
	}
}

#signup-wrapper #signup-form .col-sm-4.text-left {
	text-align: center;
	padding: 0;
}

#heard_other {
	display: none;
	clear: both;
	margin-top: 10px;
}

.hear-about-us {
	border-top: 1px solid #e1e8ed;
	padding-top: 30px;
}
