#search-form, .instruction-pointer,.instruction-pointer-2{
	display: none;
}
p{
	font-size: 11px;
}
.navbar-custom{
	position:relative;
}
body{
		background-color: #f0f2f4;
}
#signup-wrapper{
	padding-bottom: 50px;
	padding-top: 30px;
	p{
		font-size: 13px;
	}
	#greeting{
		width: 60%;
		margin-left: 20%;
		font-family: 'Source Sans Pro';
		color: #34495e;
		h3{
			text-align: center;
    	font-family: 'Helvetica Neue';
			margin-bottom: 15px;
		}
		h4{
			text-align: center;
			font-family: 'Source Sans Pro';
			margin-bottom: 15px;
		}

	}
	#process-flex-container{
		width: 100%;
		margin-top: 20px;
		.process{
			font-family: 'Source Sans Pro';
			font-weight: bold;
			padding:15px;
			margin: 5px;
			color: #3D3D66;
			font-size: 16px;
			span{
				top: 2px;
				font-size: 13px;
			}

		}
		.preview{
			margin-left: 2%;
		}
		.active{
			background-color: rgba(247,245,242,0.6);
			color: #3656d8;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
	}
	#signup-form{
		background-color: white;
		width:80%;
		border: 1px solid #e1e8ed;
		border-radius: 5px;
		padding-bottom: 30px;
		padding-top: 10px;
		margin-top: 20px;
		font-family: 'Source Sans Pro';
		.description{
			font-weight: bold;
			font-size: 14px;
			color: #34495e;
			margin-top: 5px;
		}
		p{
			margin-bottom: 25px;
		}
		.row{
			margin-top: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #e1e8ed;
			margin-right: 0;
			margin-left: 0;
		}
		#picture-row{
			padding-bottom: 30px;
			margin-top: 10px;
		}
		#picture{
			margin-top: 10px;
		}
		#profile-picture{
			border: 2px dashed #4157af;
			border-radius: 5px;
			color: #3D3D66;
			padding: 20px;
			cursor: pointer;
			padding-bottom: 10px;
			span{
				display: block;
				text-align: center;
				margin-top: 10px;
				font-size: 13px;
				color: #3D3D66;
			}
			img{
				width: 150px;
				height: auto;
			}
		}
		#religion-row,#previous-university-row{
			border-bottom: none;
		}
		#religion-select{
			border: 2px solid #dad7d4;
			border-radius: 2px !important;
		}
		input{
			border: 2px solid #dad7d4;
			width: 100%;
			border-radius: 2px;
			padding: 3px;
			height: 30px !important;
			font-size: 13px;
			&:active, &:focus{
				border: 2px solid #2752ff;
				outline: none;
			}
		}
		ul.token-input-list-facebook{
			margin-top: -2px;
			.token-input-input-token-facebook{
				input{
					width: 500px !important;
				}
			}
		}

		.save{
			text-align: right;
			#skip, #save {
				float: right;
				font-family: 'Source Sans Pro';
				margin: 10px;
			}

			#skip {
				padding-top: 8px;
				font-size: 14px;
			}

			#save {
				margin-right: 20px;
				background: #457fca;
				/* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #457fca, #5691c8);
				/* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #457fca, #5691c8);
				/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				border: 1px #446CB3 solid;
				color: white;
				cursor: pointer;
				border-radius: 5px;
				a {
					color: white;
				}
				&:focus, &:active {
					background-color: #446CB3;
				}
			}

		}

		#story-header,#education-header,#about-header, #verify-header{
			background: #f2f3f9;
			padding: 10px;
			border-radius: 3px;
			font-size: 16px;
			margin-top: 15px;
			width:70%;
			margin-left: 15%;
		}
		.story-row{
			padding-bottom: 30px;
		}

#work{
	border-bottom: none;
	#work-row{
	 border-radius: 10px;
	 padding-top: 15px;

	 h6{
		 font-family: 'Source Sans Pro';
		 font-size: 16px;
	 }
	 .btn-file {
	 	 position: relative;
	 	 overflow: hidden;
	 }
	 .btn-file input[type=file] {
	 	 position: absolute;
	 	 top: 0;
	 	 right: 0;
	 	 min-width: 100%;
	 	 min-height: 100%;
	 	 font-size: 100px;
	 	 text-align: right;
	 	 filter: alpha(opacity=0);
	 	 opacity: 0;
	 	 outline: none;
	 	 background: white;
	 	 cursor: inherit;
	 	 display: block;
	 }
	 #stand-out{
	  margin-top: -25px;
	  margin-bottom: 40px;
	 }
	 #work-span{
	  margin-top: -20px;
	  margin-bottom: 20px;
		background-color: #05d257;
		border: none;
		&:hover{
			background-color: #04a042;
		}
	 }
	 #work-span label{
	  cursor: pointer;
	  margin-left:10px;
	 }


	}
}

	#email-row{
		border-bottom: none;
			a{
				margin-top: 20px;
				width: 50%;
				background-color: #05d257;
				&:hover{
					background-color: #04a042;
				}
			}
			#verify-text{
				margin-top: 25px;
				padding-left: 0;
				padding-right: 0;
				padding-top: 5px;
				padding-bottom: 5px;
				display: none;
			}

	}




		}


}
