body{
	background: #B993D6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #B993D6 , #8CA6DB); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #B993D6 , #8CA6DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*overflow: hidden;*/
		font-family: 'Nunito';
}

#user-modal{

	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(52, 54, 66, 0.9);
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.navbar-custom{
	background: #50C9C3; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #50C9C3 , #96DEDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 42px;
	position: fixed;
	z-index: 100000;
}

#previous,#next,#finish{
	display: inline;
	margin: 13px 25px 0 0;
	width: 90px;
	text-align: center;
	float: left;
	border: none;
	border-radius: 5px;
	background: #96DEDA; /* fallback for old browsers */
	color: #0aa4bf;
}
#previous,#finish{
	display: none;
}

#previous:hover, #next:hover, #finish:hover{
	background: #85D8CE;

}
#previous:focus,#next:focus,#finish:focus{
	outline:0;
}

.navbar-custom p {
	color: white;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;

}
.alert{
position: fixed;
width: 60%;
margin-left: 20%;
margin-top: 80px;
display: none;
}

.close{
	margin-top: -2px;
}

.search_form{
	  position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: 9px;

}

.search_form input{
	margin:0px 7px;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 313px;
}


#search-dropdown{
	width: 38px;
	height:38px;
	border-radius: 19px;
	margin-top: -4px;
	padding: 0;
	padding-left: 5px;
	/*Choose colors for your button here: http://www.colorzilla.com/gradient-editor and replace from here to filter:*/
  background: #ffffff;
}

#search-dropdown i{
	margin: 0px 2px;
}

.signin-icon{

  font-size: 20px;
  margin: 10px 10px 0;

}

.signin-icon button{
	color:white;
	background-color: transparent;
	border: none;
}

/* Not nav bar- profile setup */

#about{
	margin-top: 100px;
	border-radius: 10px;
	background-color: white;
	width: 70%;
	height: 520px;
	padding: 0;
	text-align: center;

}


#add-profile{
	position: absolute;
		text-align: center;
	 color: #8a6d3b;
   background-color: #fcf8e3;
   border-color: #faebcc;
   top: 270px;
   width: 70%;
   margin: 0 18%;
   border-radius: 3px;
   cursor: pointer;
}

#profile-figure{
	margin-top: -40px;
	position: relative;
	z-index: 4;
}


#profile-picture{
	height: 250px;
	width: 250px;
 -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
	border: 5px solid #e9eaed;
	display: block;
	margin:auto;
	margin-top: 50px;
	margin-bottom: 15px;
	object-fit: cover;
 
}
.center-block{
	text-align: center;
	float: none;
	display: table;
  margin: 0 auto;
}
#about h4{
	margin-top: 52px;
	margin-left: 50px;
}

#age,#university{
margin-top: 5px;
font-weight: 100
}

#description{
	position: relative;
	margin-top: 40px;
	margin-left: 20px;
	width: 100%;
	padding: 5px;
	height: 100px;
}

 #past-work{
	margin-top: 50px;
	border-radius: 10px;
	background-color: white;
	width: 70%;
	height: 200px;
	padding: 60px;
	padding-top: 44px;
	position: relative;
}

 #work-row{
	border: 5px dashed;
	border-radius: 10px;
	color:#337ab7;
	margin-top: -10px;

}
 #work-span{
	margin-top: -20px;
	margin-bottom: 20px;
}
 #work-span label{
	cursor: pointer;
	margin-left:10px;
}

#past-work h6{
	font-size: 20px;
	color:#337ab7;
	padding: 30px;
	padding-top: 20px;


}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.progress{
	margin-top: 50px;
	width: 25%;
	margin: 0 auto;
	margin-left:20px;
	background-color: #fcf8e3;

}

#applied-funds{
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
}
#applied-funds h4{
  color:white;
	display: inline;
	font-size: 20px;
	margin-left: -2%;
}
#applied-funds h2{
	margin-top: 50px;

}
#get-started{
	margin-top: 20px;
	margin-bottom: 50px;
	border: none;
	border-radius: 10px;
	width: 20%;
	font-size: 20px;
color:white;
background: #DD5E89; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DD5E89 , #F7BB97); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DD5E89 , #F7BB97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#age,#nationality,#religion{

	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;

}


#age h4,#nationality h4, #religion h4{
	color:white;
	display: inline;
	font-size: 20px;
}

.form-group, #nationality span, #religion span{
	display: inline;
}

#age h4{
	margin-right: 15px;
	margin-left: -32%

}

#country-select{
	width: 50%;
	display: inline;
	margin-left: 15px;

}
#religion-select{
	width: 50%;
	display: inline;
	margin-left: 50px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../images/Preloader.gif) center no-repeat;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

@media(max-width: 1253px){
	#almost{
		margin-left: -25%;
	}
}
@media(max-width: 1200px){
	#age h4{
		margin-left: -29%
	}
}
@media(max-width: 1199px){
	#applied-funds{
		padding-left: 50px;
	}
}
@media(max-width: 1120px){
	#about h4, #description{
		margin-left: 15px;
	}
}

@media(max-width: 1017px){
		#almost{
			margin-left: -30%
		}
}
@media(max-width: 994px){
	#work-row{
		margin-top: -25px;
	}
	#age h4{
		margin-left: -23%;
	}
}

@media(max-width: 981px){
		#almost{
			margin-left: -40%;
		}
			#about h4, #description{
		margin-left: 5px;
	}
}

@media(max-width: 916px){
	#almost{
		margin-left: -55%;
	}
}
@media(max-width: 834px){
	#almost{
		margin-left: -65%
	}
}
@media(max-width: 822px){
	#about, #past-work{
		width: 95%
	}
	#work-row{
		margin-top: -15px;
	}

}
@media(max-width: 804px){
	#next,#previous{
		width:70px;
	}
}
@media(max-width: 788px){
	#almost{
		font-size: 13px;

	}
	#next{
		height:20px;
		font-size: 12px;
		padding-bottom: 19px;
		box-sizing: border-box;
		display: inline;
	}
	#previous, #finish{
		height:20px;
		font-size: 12px;
		padding-bottom: 19px;
		box-sizing: border-box;
		display: none;
	}
	#description{
		height: 130px;
	}
	#about{
		height:540px;
	}

}

@media(max-width: 781px){

	#next{
		width: 70px;
		display: inline;
	}
	#previous{
		width: 70px;
		display: none;
	}
}

@media(max-width: 767px){
	.navbar-custom{
		height: 90px;
	}
	#almost{
		margin: 20px 0 auto;
	}
	#previous{
		margin-left: -10%;
	}

	#about{
		margin-top: 140px;
	}
	#next{
		margin-left: 0;
	}
  #pastwork h6{
		padding-top: 40px;
	}
}
@media(max-width: 717px){
	#past-work{
		padding-top: 35px;
	}
	#age h4{
		margin-left: -20%;
	}
}
@media(min-width: 650px){
	#next{
		margin-left: 3%;
	}
}

@media(max-width: 672px){
	#applied-funds h4, #nationality h4, #religion h4{
		font-size: 18px;
	}
	#age h4{
		margin-left: -20%;
		font-size: 18px;
	}
}
@media(max-width: 611px){
	.form-group, #religion-select, #country-select{
		display: block;
		margin: 10px auto;
	}
	#age h4 {
		margin-left: 0;
		margin-right: 0;
	}
}
@media(max-width: 627px){
	#previous{
		margin-left: -18%;
	}
	#description{
		width: 500px;
	}
}

@media(max-width: 487px){
	#almost{
		font-size: 12.5px;
	}
	.navbar-custom{
		height: 90px;
	}
	#next{
		margin-left: -5%;
	}
	#previous{
		margin-left: -25%;
	}
}

@media(max-width: 439px){
	#next{
		margin-left: -10%;
	}
	#previous{
		margin-left: -30%;
	}
}
@media(max-width: 431px){
	#past-work{
		padding-top: 25px;
	}
}
@media(max-width: 421px){
 #past-work h6{
		padding:25px;
	}
}
@media(max-width: 470px){
	.navbar-custom{
		height: 110px;
	}
}

@media(min-width: 976px){
#profile-figure{
	margin-left: 2%;
}
}
@media(min-width: 991px){
	#profile-figure{
		margin-left: 3%;
	}
}
@media(min-width: 1013px){
	#profile-figure{
		margin-left: 5%;
	}
}

@media(min-width: 1033px){
	#profile-figure{
		margin-left: 7%;
	}
}
@media(min-width: 1113px){
	#profile-figure{
		margin-left: 12%;
	}
}
@media(min-width: 1210px){
	#profile-figure{
		margin-left: 15%;
	}
}

@media(max-width: 991px){
	#description{
		width: 80%
	}
	.progress{
		display: block;
		width: 63%;
		margin: 20px auto;
		padding: 0;
	}

}
