#bio {
  text-align: left;
}

#bio-area {
  float: left;
  width: 50%;
  height: 56px;
  border: 1px solid #bdd2e7;
  text-align: left;
  padding-left: 4px !important;
  padding-top: 2px !important;
}

.search_form {
  display: none;
}

#signup-wrapper {
  display: block;
  width: 65%;
  background-color: white;
  height: auto;
  margin-top: 100px;
  border-radius: 5px;
  text-align: left;
  padding-top: 20px;
  border: 2px solid #DADFE1;
  padding-bottom: 35px;
  margin-bottom: 30px;
  h4 {
    font-weight: bold;
  }
}

.progress-track {
  display: inline;
  margin: 15px 15px 0 0;
  border: 1px solid #bdd2e7;
  // width: 176px;
  // height: 34px;
}
.progress-track a{
  display: inline-block;
}

.name-container{
  margin: 0 !important;
}
#fund-name{
  width: 50%;
}
// #general a{
//   text-align: center;
//   padding-right:26px;
// }
// #application a{
//   text-align: center;
//   padding-right:27px
// }

.glyphicon-menu-right {
  top: 3px;
  left: 2px;
}

.glyphicon-info-sign{
  margin-left: 4px;
  top: 2px;
}

.selected {
  border: 1px solid #194c7f;
  background: #236bb2;
  color: white;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
&:hover, &:active, &:focus{
  border: 1px solid #194c7f !important;
  background: #236bb2 !important;
  outline: 0;
}

}

.scholarship-selected {
  border-color: 1px solid #194c7f;
  background: #236bb2;
}

//progress-track color: #bdd2e7
.progress-track{
  a{
    &:hover{
      text-decoration: none;
    }
  }
}
.bursary-selected {
  background-color: #009862;
  border: 1px solid #006d46;
}

//progress-track color: #99d5c0

.grant-selected {}

input {
  border: 1px solid #bdd2e7 !important;
  padding-left: 4px;
}
.form-group{
  margin-bottom: 0;
}
.description {
  margin-top: 20px;
}

.glyphicon {
  padding-top: 1px;
}



.amount {
  padding-left: 0;
}

#min-amount, #max-amount, #duration, #place {
  width: 100%;
  float: left;
  padding-left: 5px;
}

.extra-info {
  padding-left: 0;
}

.next {
  width: 90%;
}

#tags {
  width: 50%;
}

#skip, #save {
  float: right;
}

#skip {
  padding-top: 3px;
}

#save {
  margin-left: 10px;
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #457fca, #5691c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca, #5691c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px #446CB3 solid;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  a {
    color: white;
  }
  &:focus, &:active {
    background-color: #446CB3;
  }
}

//eligibility
.eligible-container{
  width: 60%;
  margin-left:20%;
  margin-top: 20px;
  border: 3px #337ab7 dashed;
  color: #337ab7;
  padding: 7px;
  cursor:pointer;
  &:hover{
    border: 3px dashed rgb(25, 181, 254);
    color: rgb(25, 181, 254);
  }
  .fa-plus{
    display: inline;
  }
  #add-field{
    margin-left: 5px;
    display: inline;
    font-size: 16px;
  }
}


.criteria-container{
  display: flex;
  width: 70%;
  margin-top: 30px;
  transition: 0.5s;
  .criteria-item{
    opacity: 0.5;
    flex-grow: 1;
    font-size: 30px;
    cursor: pointer;
    p{
      font-size: 15px;
    }
    &:hover{
      opacity: 1.0;
    }
  };
  .item-selected{
    opacity: 1.0;
  }
}



.criteria-form{
  width: 70%;
  margin-top:20px;
  #subject-form{
    display: none;
    #subject-input{
      margin-left: 10%;
      margin-top: 10px;
      width: 80%;
    }
  }
  #personal-form{
    display:none;
    label{
      margin-top: 15px;
    }
  }
  #education-form{
    display:none;
    label{
      margin-top: 15px;
    }
  }
  #location-form{
    display: none;
  }
  #other-form{
    #other{
      width: 80%;
      margin-left: 10%;
      margin-top: 10px;
    }
    display:none;
  }
  #separate-message{
    margin-top: 30px;
  }
  .selected-form{
    display: inline !important;
    transition: 0.5s;
  }
}
//application process


#other_application_steps{
  float: left;
  width: 60%;
  height: 100px;
  border: 1px solid #bdd2e7;
  text-align: left;
  padding-left: 4px !important;
  padding-top: 2px !important;
}
