$edit-color: rgba(151, 176, 199, 1);
@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';

body {
  font-size: 14px;
  font-family: 'PT Sans'!important;
  margin: 0px;
  padding: 0px;
  background-color: #e9f0f4;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 40px;
  margin-left: 2.5%;
}
#signup-modal-fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 3;
  overflow-y: auto;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
#signup-block{
  display: none;
  position: fixed;
  width: 70%;
  margin-left: 15%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.1);
  padding: 30px;
  padding-bottom: 50px;
  top: 65%;
  z-index: 10;
  opacity: 1.0;
  #helper-text{
    font-weight: 900;
    margin-bottom: 10px;
  }
  #helper-text-2{
    font-size: 17px;
    color: grey;
  }
  #signup-button-div{
    a{
      width: 30%;
    }
    #signup{
      margin-right: 30px;
    }

  }
  #not-now{
    display: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #337ab7;
  }
}
.alert{
  display: none;
  height: 40px;
  margin-top: 75px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: -80px !important;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  color: $edit-color;

  span{
    margin-right:5px;
  }
  a{
    color: $edit-color;
    margin-bottom: 10px;
  }

}
.alert-known{
  height: 40px;
  margin-top: 75px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: -80px !important;
  margin-bottom: 0;
  padding: 10px;
  color: #7493af;
  label{
    margin-left: 20px;
    top: -2px;
    input{
      margin-top: 3px;
    }
  }
}
#big_flex_div {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding-top: 100px;
}

/* Left div */

#left_div {
  display: flex;
  width: 23%;
  margin-left: 3%;
  flex-direction: column;
  height: auto;
  p{
    margin:0;
  }
}

#fundImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
#favourite{
  position: absolute;
  margin-left: -245px;
  margin-top: 5px;
  color:#f1c40f;
  font-size: 20px;
  &:hover{
    &:before{
      content: "\2605";
      position: absolute;
      color: #f1c40f;
      cursor: pointer;
    }
  }
}
.active-favourite{
  &:before{
    content: "\2605";
    position: absolute;
    color: #f1c40f;
    cursor: pointer;
  };
}
#box_2 {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;

  #external-link{
    color: #2980b9;
    cursor: pointer;
  }
  #left_info_div{
    width: inherit;
  }
  #bio {
    text-align: left;
    font-weight: 900;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2980b9;
  }
  .fundBio {
    width: 90%;
    font-size: 15px;
    margin-bottom: 10px;
  }
.info-row{
  display: block;
  i{
    color: #717f8d;
    font-size: 15px;
    display: inline;
    margin-right: 5px;
  }
  #number_of_places{
    color: #2980b9;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0
  }

  #amount{
    color: #2980b9;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 5px;
  }
  #duration{
    display: inline;
    font-size: 15px;
    span{
      color: #2980b9;
    }
  }
}

}







#message{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  background: rgba(0,153,153,.8);
  color:white;
  border: 0;
  font-family: 'Helvetica Neue';
  text-transform: none;
  &:hover{
    background: #008989;
  }
  i{
    font-size: 20px;
    margin-right: 7px;
  }
}

#box_3_left {
  border: 1px solid black;
  width: 100%;
  border-radius: 8px;
  height: auto;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 6%;
}

#eligibility_para_left {
  font-size: 16px;
  text-decoration: underline;
}

/* Right div */

#right_div {
  display: flex;
  width: 73%;
  float: right;
  margin-right: 3%;
  flex-direction: column;
  align-items: flex-end;
}

#fundName_div {
  width: 100%;
  margin-top: 4%;
  margin-left: 4%;
}

#fundName {
  margin-left: 4%;
  font-size: 35px;
  text-align: left;
}

#eligibility_div {
  display: none;
  margin-top:50px;
  width: 93%;
  height: 50px;
  background-color: #2F9F59;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 10px;
  color: white;
  #ignore{
    color: white;
    text-decoration: underline;
    font-size: 18px;
    margin-left: 5px;
     &:hover{
       color: white;
     }
  }
  p {
    margin-bottom: 0;
    margin-left: 3%;
    font-size: 20px;
  }
}

#box_3_right {
  border: 1px solid black;
  border-radius: 5px;
  width: 93%;
  margin-bottom: -3%;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 15px;
  border: 1px solid #e1e8ed;
  #eligibility_para_right {
    font-weight: bold;
    margin-bottom:0;
    padding-left: 2%;
  }
  hr{
    width:100%;
    margin-top:5px;
    margin-bottom: 0px;
  }
  .eligibility-display{
      padding-left: 15px;
      padding-top: 15px;
      overflow: auto;
      .criteria-box {
          margin: 10px 0;
          img {
            width: 30px;
            height: auto;
            margin-left: 10px;
          }
          .criteria{
            font-size: 15px;
            text-transform: capitalize;
            margin-left: 8px;
            content:"";
            clear:both;
            display:block;
            color: #717f8d;
            #to, #required,#for{
              color: #2980b9;
            }
          }
          .col-xs-10, .col-md-10 {
            padding-right: 0;
          }
      }

  }


  .eligibility-display{
    .glyphicon{
      font-size: 25px;
      margin-right: 10px;
    }
    .description{
      font-weight: bold;
      display: inline
    }
    #subject-handler {
      #criteria-handler:nth-child(3n+2){
        .criteria-box {
          clear: both;
        }
      }

    }
    #personal-handler {
      #criteria-handler:nth-child(3n+2){
        .criteria-box {
          clear: both;
        }
      }
    }
    #location-handler {
      #criteria-handler:nth-child(3n+2){
        .criteria-box {
          clear: both;
        }
      }
    }
    #education-handler {
      #criteria-handler:nth-child(3n+2){
        .criteria-box {
          clear: both;
        }
      }

    }
    .col-md-12 {
      margin-top: 15px;

    }

    #other-criteria-handler {
      .other-box {
        padding-top: 5px;
        padding-bottom: 10px;
        .col-md-12{
          span.glyphicon {
            font-size: 30px;
            padding-top: 10px;
            top: 10px;
          }
          span.criteria {
            margin-left: 17px;
            font-size: 15px;
            padding-bottom: 50px;
          }
        }

      }
    }
  }

  div.readmore {
    box-sizing: border-box;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #e1e8ed;
    padding-top: 6px;
    cursor: pointer;

    i {
      font-size: 20px;
      color: black;
    }
  }

  div.readless {
    @extend div.readmore;
  }
}

#notEligible{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  .modal-container{
    position: relative;
    width: 90%;
    max-width: 800px;
    background: #FFF;
    margin: 10em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: black;
    overflow-y: auto;
    padding-bottom: 50px;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    display: block;
    .modal-bar{
      position: relative;
      height:50px;
      background-color: #e1e8ed;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding-top: 10px;
      font-weight: bold;
      p{
        text-align: center;
        color:#1c5981;
        margin-bottom: 0;
      }
    }
    #notEligible-handler{
      padding-top: 50px;
      .row{
        margin-top: -20px;
      }
      #wrong-cross{
        text-align: center;
        i{
          color:rgb(236, 198, 44);
          font-size: 30px;
        }
      }
      #requirement-description, #user-description{
        margin-bottom: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }
      #requirement, #user{
        text-align: center;
        font-weight: normal;
        font-size: 15px;
      }
    }
    .disagree-email{
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%;
      cursor:pointer;

    }
  }
}

/* Applicaton form */

.application_form {
  width: 93%;
  margin-top: 6%;
  font-weight: bold;
  margin-bottom: 6%;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 30px;
  hr{
    width:100%;
    margin-top:5px;
  }
  #application-handler{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:15px;
  }
  .head {
    font-size: 20px;
    text-align: left;
    padding-left:2%;
    margin-bottom: 0

  }
}



#start_date, #documents_deadline, #interviews, #decision_date {
  width: 60%;
  font-size: 15px;
  padding: 1%;
  text-align: center;
  font-weight: normal;
  border: 1px solid #5c738f;
  border-radius: 5px;
  background: #67809F;
  color: white
;
}

.arrow {
  font-size: 25px !important;
  margin: 1%;
  i{
    font-size: 35px;
    color: #BEC8D3;
  }
}

#other-application{
  margin-top: 20px;
  margin-bottom: 0;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  p{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: bold;
    span{
      font-size: 15px;
      margin-left: 7px;
      font-weight: normal;
    }
  }
}

#apply_now_link {
  margin-top: 30px;
  text-decoration: none;
  background-color: rgba(0, 153, 153, 0.8);
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: capitalize;
  font-family: 'Helvetica Neue';
  &:hover{
    background: #008989;
    transition: 1.2s;
  }
}
#application-notification{
  margin-top: 10px;
}


#tips-handler{
  width: 80%;
  margin-left: 10%;
}
.mb-style-3 {
    margin-top: 40px;
}
.mb-style-3 blockquote{
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow:
        inset 0 2px 0 rgba(209, 209, 227, 0.7),
        -1px -1px 8px rgba(0, 0, 0, 0.3);
}
.mb-style-3 blockquote:after,
.mb-style-3 blockquote:before  {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    display: hidden;
}
.mb-style-3 blockquote:after  {
    border-top-color: transparent;
    border-width: 10px;
    left: 65%;
    margin-left: -10px;
    display: hidden;
}
.mb-style-3 blockquote:before {
    border-top-color: transparent;
    border-width: 11px;
    left: 65%;
    margin-left: -11px;
    display: hidden;
}
.mb-style-3 blockquote p {
    font-family: 'Alegreya', serif;
    font-size: 18px;
    color: #6C809F;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
    text-indent: 100px;
    position: relative;
}
.mb-style-3 blockquote p:before{
    content: '\201C';
    font-style: normal;
    font-weight: 700;
    position: absolute;
    font-size: 100px;
    top: 0px;
    left: -105px;
    color:#8599b2;
    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
    display: hidden;
}
.mb-style-3 .mb-attribution {
    text-align: right;
    padding: 0 100px 20px 20px;
    position: relative;
}
.mb-style-3 .mb-thumb img {
    display: block;
    width: 70px;
    height: 70px;
    border: 5px solid #fff;
    border-radius: 50%;
    background: no-repeat center center;
    position: absolute;
    right: 10px;
    bottom: 5px;
    box-shadow:
        inset 1px 1px 4px rgba(0,0,0,0.5),
        0 2px 3px rgba(0,0,0,0.6);
}
.mb-style-3 .mb-author{
    font-weight: 700;
    font-size: 18px;
    color: #6C809F;
    text-shadow: 0 1px 1px rgba(255,255,255,0.7);
    margin-bottom: 0px;
}
.mb-style-3 cite a{
    font-weight:400;
    font-style: normal;
    color: rgba(#8e9fb1, 0.70);
}



/* Scholars div */

#scholars_div {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

#scholars_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scholars_second_div {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    border-radius: 50%;
  }
}

#pic1_image, #pic2_image, #pic3_image, #pic4_image {
  width: auto;
  height: 180px;
}

#scholars_info_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 94%;
}

.boldIt {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

#scholars_div #previous_scholars {
  margin-top: 4%;
  font-size: 20px;
}

#pic1_div, #pic2_div, #pic3_div, #pic4_div {
  display: flex;
  margin: 3%;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
}

#pic1, #pic2, #pic3, #pic4 {
  height: 200px;
}

#info_1, #info_2, #info_3, #info_4 {
  margin-top: 3%;
  p{
    font-size: 15px;
  }
}

/* Reviews */

#review_div {
  display: flex;

  margin-top: 50px;
  padding-top: 20px;
  margin-bottom: 50px;
  border-radius: 5px;

  #review-number{
    display: inline-block;
    border-bottom: 1px solid black;
    padding: 0;

  }
}

/* Separators */

#separator_1 {
  height: 10px;
  display: flex;
  width: 100%;
  background-color: #506987;
}

#separator_2 {
  margin-top: 6%;
  margin-bottom: 3%;
  height: 40px;
  display: flex;
  width: 100%;
  background-color: #506987;
}

// Arrow if image not used
.arrow_box {
	position: relative;
	background: #73b4d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #73b4d5;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 16px;
	margin-left: -16px;

}
// My arrow_box css
.arrow_box {
  margin-top: 12px;
  text-align: center;
  padding: 6px;
  opacity: 0.9;
  width: 60%;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
}
#arrow_box_div {
  color: #081810;
  font-weight: bold;
  width: inherit;
  display: flex;
  justify-content: center;
}
#fund_img_placeholder {
  width: 100%;
  cursor: pointer
}
#bio {
  width: 100%;
  text-align: center;
}
#update_pic_div {
  width: 45%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#profile-picture {
  height: auto;
  cursor: pointer;
}


// Mobile
// Css needed as a result of making things partials and putting in .desktop divs
#right_div_desktop {
  margin-left: 7%;
  width: 93%;
  #eligibility_div, #notEligible, .application_form {
    width: 100%;
  }
}
#left_div_desktop {
  width: 23%;
  #left_div {
    width: 100%;
  }
}

@media (max-width: 1076px) {
  #favourite {
    margin-left: -235px
  }
}
@media(min-width: 1118px) {
  @media (max-width: 1237px) {
    #favourite {
      margin-left: -230px
    }
  }
  @media (max-width: 1167px) {
    #favourite {
      margin-left: -220px
    }
  }
}

@media (max-width: 990px) {
  #left_div {
    width: 35%;
    #box_1 {
      margin-top: 15px;
      #favourite {
        margin-left: 0px;
      }
    }
    .fundBio {
      width: 100%;
    }
  }
  #right_div {
    width: 60%;
    #start_date, #documents_deadline, #interviews, #decision_date {
      width: 80%;
    }
    #other-application p {
      margin-top: 20px;
    }
  }
  #tips-handler {
    width: 95%;
    margin-left: 0;
  }
  .mb-style-3 blockquote p {
    font-size: 19px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  #favourite.favourite.mobile {
    margin-left: 0;
  }
  #big_flex_div {
    flex-direction: column;
    padding: 20px 10px 0px 10px;
    #left_div {
      width: 100%;
      flex-direction: row;
      margin-left: 0;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 20px;
      #box_1 {
        width: 60%;
        img {
          width: 80%;
          margin-left: 10%;
          margin-top: 30px;
        }
      }
      #box_2 {
        #message {
          display: none;
        }
      }
    }
    #box_3_right .eligibility-display .col-md-12 {
      height: auto;
    }
    #right_div {
      width: 100%;
      margin-right: 0;
      #box_3_right {
        width: 100%;
      }
    }
    #eligibility_div {
      margin: 0px 0px 20px 0px;
      width: 100%;
      padding-top: 15px;
      p#eligibility_div_p, a{
        font-size: 14px;
      }
    }
  }
  #top_div_mobile {
    margin-top: 54px;
  }
  #left_info_div {
    background-color: white;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    padding: 10px;
    p {
      font-size: 15px;
    }
  }
  #bottom_div_mobile {
    width: 100%;
    .application_form {
      width: 100%;
    }
  }
}


@media (max-width: 399px) {
  #left_info_div p.fundBio {
    margin-bottom: 0;
  }
  .mb-style-3 blockquote {
    padding: 5px 2px 5px 2px;
  }
}

#favourite.favourite.no-profile_picture {
  margin-left: -20px !important;
}

// Initial hides to prevent flickering
#top_div_mobile, #left_div {
  display: none;
}
