/* New search bar */
@import 'general.scss';
@import 'navbar.scss';
@import 'navbar-loggedin.scss';
@import 'advanced-search.scss';
@import 'signup.scss';

/*customised code*/
#brand-image{
  margin-top: -15px;
  position: relative;
  cursor: pointer;
}

i {
  color: white;
}
.alert-info{
  margin-top: -20px;
  p{
    font-size: 16px;
    a{
      cursor: pointer;
    }
  }
  width: 80%;
  margin-left: 10%;
}
.fa {
  &.fa-chevron-circle-down, &.fa-chevron-circle-up {
    color: black;
    margin-left: 5px;
  }
}

#title {
  text-transform: lowercase;
}

#about {
  margin-top: 100px;
}
.queryToken{
  margin-bottom:30px;
  text-align: left;
  font-size: 16px;

  #tokenKey{
    margin-top: 10px;
    display: inline-block;
    margin-left: 15px;
    background-color:#87D37C;
    border: 1px solid #26A65B;
    color: white;
    padding: 8px;
    font-weight: lighter;
    border-radius: 6px;
    font-size: 14px;
    i{
      margin-left: 7px;
      cursor: pointer;
      padding: 2px;
      &:hover{
        background-color: #26A65B;

      }
      border-radius: 2px;
    }
    i:before{
          padding: 3px;
    }
    a{
      cursor: pointer;
      margin-left: 5px;
      color: white;
      &:hover{
        color: white;
      }
    }
  }
  #suggester{
    display: block;
    font-family: 'Source Sans Pro';
    margin-bottom: 5px;
  }
  #sort{
    margin-top: 10px;
    float: right;
    .dropdown{
      font-size: 15px;
      display: inline;
      margin-left: 10px;
      .caret{
        margin-left: 5px;
      }
      .fa-check{
        color: #2ecc71;
        margin-left: 30px;
        padding-top: 5px;
      }
    }
  }
}
.message-box, .no-suitable-funds{
  display: none;
}
.results {
  width: 66%;
  margin-left: 17%;
  height: 50px;
  padding: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #3c547a;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  border-color: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6+ */
  border-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  border-color: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  border-color: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Opera 11.10+ */
  border-color: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  border-color: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  /* IE6-9 */
   p {
    color: #3C5675;
  }
}

.fund_list {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 60px;
  margin-right: 35px;
  text-align: center;
  border: 2px solid #DADFE1;
}

.fund_link {
  background-color: #3266B2;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: inset 0px -2px 3px 0px #2C3E50;
  a {
    color: white;
  }
  &:active {
    background-color: #305c9c;
    box-shadow: none;
  }
}

.database {
  font-family: 'sans-serif';
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  font-family: "Helvetica Neue", "Helvetica,Arial,sans-serif";
  text-align: left;
  p {
    margin: 7px;
    font-size: 16px;
    text-align: left;
    display: inline-block;
  }
  li {
    list-style-type: none;
  }
  label {
    font-weight: bold;
  }
}

.fund_amount, .fund_min_age, .fund_max_age, .fund_description {
  font-weight: bold;
}

.badge {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: normal !important;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge-error {
  background-color: #4ECDC4;
  margin: 5px;
}

.badge-warning {
  background-color: #4FDA9B;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #56A0D4;
}

.badge-inverse {
  background-color: #333333;
}

.badge-tags {
  background-color: #FFB95D;
  margin: 5px 5px;
}

.badge-deadline {
  background-color: #E26A6A;
  margin: 0 5px;
}

.control {
  font-weight: normal;
}

.description_control {
  font-weight: normal;
  text-align: left;
  overflow: hidden;
  // padding-bottom: 200px;
  li {
    list-style-type: disc;
  }
  p {
    margin-top: 10px;
  }
}

.read-more {
  display: none;
  text-align: left;
}

.read-link {
  cursor: pointer;
  font-size: 16px;
}

.fund_info {
  margin-top: -20px;
}

#checkbox, #cd-login, #cd-signup, #cd-reset-password, .cd-switcher {
  display: none;
}

@media (max-width: 920px) {
  .search_form {
    width: 100%;
  }
  #search_button {
    margin-top: -1px;
  }
  #brand-heading {
    font-size: 25px;
    margin-left: 0px;
  }
  #text_search, #amount_req, #age {
    border-color: rgba(45, 74, 118, 0.55);
  }
  .database {
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width: 767px) {
  .database {
    width: auto;
    margin-left:0;
  }
  .navbar-collapse{
      background: #2d4a76;
  }
}

@media(max-width: 480px){
  .database{
    padding-left: 10px;
    padding-right: 10px;
    .fund_list{
      margin-right: 0;
    }
  }
  h3.fund_title{
    font-size: 18px;
  }
  .fund_info{
    span{
      margin-top: 0;
    }
    p{
      font-size: 15px;
    }
    a{
      font-size: 14px;
    }
  }
}
@media(max-width: 457px){
  #show-all{
    white-space: normal;
  }
}
@media (max-width: 400px) {
  .results {
    p{
      padding-top: 5px;
    }
  }
}

/* form sign in */

@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
    .fieldset {
      margin: 2em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    input.has-padding {
      padding: 16px 20px 16px 50px;
    }
    button[type=submit] {
      padding: 16px 0;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}
.ui-menu .ui-menu-item {
  margin-top: 13px;
}
#deadline-passed {
  font-weight: lighter;
  margin-bottom: 30px;
  background-color: #F64747;
  border-radius: 3px;
  color: white;
  padding: 5px 0px;
  margin-top: 0;
  display: none;
}

.display {
  color: white;
  &:hover {
    color: white;
  }
}
.contact-div{
  margin-top: 80px;
  margin-bottom: 0;
  display: none;
  #contact-us{
    margin-bottom: 0;
    a{
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
.page-header {
  padding-top: 5px;
}

#show-all {
  margin-top: 5px;
  background-color: #348AC7;
  &:active, &:hover, &:focus {
    outline: 0;
  }
}

/* media queries for mobile opt */
@media (max-width: 1065px) {
  #advanced-search, #advanced-search-2 {
    margin-top: -40px;
  }
  #brand-image {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  #brand-image {
    margin-left: -30px;
  }
  .cd-signup {
    margin-right: -50px;
  }
  #advanced-age, #advanced-nationality, #religion {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #merit, #finance, #male, #female {
    margin-top: 1.5px;
  }
  .radio-inline {
    margin-top: 10px;
  }
  .queryToken{
    white-space: normal;
    #sort{
      float: none;
      margin-top: 20px;
      display: block;
    }
  }
}

@media (max-width: 920px) {
  #brand-image {
    margin-left: -80px;
  }
  #refine-search {
    left: -130px;
  }
}

@media (max-width: 850px) {
  #text_search {
    width: 250px;
    font-size: 12px;
  }
  #brand-image {
    margin-left: -50px;
  }
}

@media (max-width: 790px) {
  .cd-signup {
    margin-right: -30px;
    font-size: 13px;
  }
  .cd-login {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  #wrapper-span{
    display: block;
  }
  #search-dropdown {
    display: none;
  }
  .post-signin {
    margin-top: 12px;
  }
}
@media(max-width: 676px){
  .results{
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 719px) {
  .search_form {
    margin-top: -20px;
  }
  #refine-search {
    color: #2C3E50;
  }
}

@media (max-width: 470px) {
  .alert-info{
    margin-top: -20px;
    p{
      font-size: 12px;
      a{
        cursor: pointer;
      }
    }
    width: 100%;
    margin-left: 0;
  }
}

.fa-chevron-circle-down, .fa-chevron-circle-up {
  margin-left: 5px;
}

.description_control {
  position: relative;
}


// Dropdown delete
.three_dots {
  float: right;
  margin-top: -80px;
  @media (max-width: 963px) {
    margin-top: -80px;
    @media (max-width: 920px) {
      margin-top: -80px;
      @media (max-width: 674px) {
        margin-top: -80px;
        @media (max-width: 499px) {
          margin-top: -100px;
          @media (max-width: 499px) {
            margin-top: -75px;
            @media (max-width: 370px) {
              margin-top: -100px;
            }
          }
        }
      }
    }
  }
  margin-right: -15px;
  cursor: pointer;
}
.dot {
    width: 6px;
    height: 6px;
    margin: 1px;
    background: #DADFE1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.remove_result:hover, .remove_result:focus {
  background-color: #f1f1f1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.a_remove {
  text-decoration: none;
  color: black;
}

.a_remove:hover {
  color: black;
  text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.remove_result{
    display: none;
    position: absolute;
    top: -10px;
    left: -150px;
    padding: 12px 6px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.modal-remove {
  margin-top: 50px;
  p {
    font-size: 16px;
  }
  .modal-footer {
    #fund_id.hide {
      display: none;
    }
    .checkbox {
      float: left;
      margin-top: 7px;
    }
    span.checkbox {
      margin-left: 10px;
      font-size: 14px;
    }
    input.checkbox {
      margin-top: 10px;
    }
  }
  .delete-actual.btn.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: white;
  }
}
