.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
  &.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
    .cd-user-modal-container {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 10em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  color: black;
  font-family: "Montserrat";
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cd-switcher {
  list-style: none;
}

.cd-user-modal-container .cd-switcher {
  li {
    width: 50%;
    float: left;
    text-align: center;
    &:first-child a {
      border-radius: 0.25em 0 0 0;
    }
    &:last-child a {
      border-radius: 0 0.25em 0 0;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
    &.selected {
      background: #FFF;
      color: #505260;
    }
  }
}

@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
    margin-top: 75px;
    .cd-switcher a {
      height: 70px;
      line-height: 70px;
    }
  }
}

@media (max-width: 990px) {
  .cd-user-modal-container {
    margin-top: 120px;
  }
}

.cd-form {
  padding: 1.4em;
  padding-bottom: 5px;
  .fieldset {
    position: relative;
    margin: 1.4em 0;
    display: none;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  label {
    font-size: 14px;
    font-size: 0.875rem;
    &.image-replace {
      /* replace text with an icon */
      display: inline-block;
      position: absolute;
      left: 15px;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      overflow: auto;
      text-indent: 100%;
      white-space: nowrap;
      color: transparent;
      text-shadow: none;
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.cd-username {
      background-image: url("../images/cd-icon-username.svg");
    }
    &.cd-email {
      background-image: url("../images/cd-icon-email.svg");
    }
    &.cd-password {
      background-image: url("../images/cd-icon-password.svg");
    }
  }
  input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
    &.full-width {
      width: 100%;
    }
    &.has-padding {
      padding: 12px 20px 12px 50px;
    }
    &.has-border {
      border: 1px solid #d2d8d8;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      &:focus {
        border-color: #343642;
        box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
        outline: none;
      }
    }
    &.has-error {
      border: 1px solid #d76666;
    }
    &[type=password] {
      /* space left for the HIDE button */
      padding-right: 65px;
    }
  }
  button[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

.no-touch .cd-form button[type=submit] {
  &:hover, &:focus {
    background: #3599ae;
    outline: none;
  }
}

.cd-form {
  .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
  }
  .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -28px;
    color: red;
    padding: .8em;
    z-index: 2;
    font-size: 12px;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
    &::after {
      /* triangle */
      /*  content: '';
        position: absolute;
        left: 22px;
        bottom: 100%;
        height: 0;
        width: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgba(215, 102, 102, 0.9);
      */
    }
    &.is-visible {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.2s 0, visibility 0 0;
      -moz-transition: opacity 0.2s 0, visibility 0 0;
      transition: opacity 0.2s 0, visibility 0 0;
    }
  }
}

@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
    padding-bottom: 5px !important;
    .fieldset {
      margin: 2em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    input.has-padding {
      padding: 16px 20px 16px 50px;
    }
    button[type=submit] {
      padding: 16px 0;
    }
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
    padding-bottom: 5px;
  }
}

.cd-form-bottom-message {
  position: relative;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  display: none;
  a {
    color: white;
    text-decoration: underline;
  }
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../images/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: auto;
}

@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password, .cd-switcher {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

#cd-signup {
  font-size: 20px;
  position: relative;
  z-index: 100;
  border-radius: 10px;
  input {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    &::-ms-clear {
      display: none;
    }
  }
  p {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

#cd-login input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.cd-user-modal-container ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#accept-terms {
  position: relative;
  z-index: 4;
  float: left;
  display: none;
  /*set display to remake terms! */
}

#fund-option label {
  margin-left: 10px;
  font-size: 13px;
}

#terms {
  margin-bottom: 25px;
  margin-top: -2px;
  margin-left: 1%;
  font-size: 12px;
  float: left;
  /*set display to remake terms! */
  display: none;
}

#remember {
  position: relative;
  float: left;
  margin-top: 0;
  z-index: 7;
  display: none;
  label {
    margin-left: 10px;
    font-size: 12px;
  }
}

#signup-button, #login-button, #reset-password {
  padding: 16px 20px 16px 50px;
  width: 100%;
  margin: 0;
  border-radius: 0.25em;
  font-size: 15px;
}

.text-center {
  margin-top: 30px;
}

.btn.btn-block {
  font-size: 15px;
}

#terms-error {
  margin-left: 20px;
  color: red;
  display: none;
}

#email-option {
  font-size: 17px;
  text-decoration: underline;
  text-align: center;
}

.login-social-btn, .signup-social-btn {
  width: 90%;
  margin: 7% auto;
  display: none;
}

#signup-btn {
  margin-top: 0;
}

.signin-icon {
  font-size: 20px;
  margin: 10px 5px 0;
  button {
    color: white;
    background-color: transparent;
    border: none;
    position: relative;
    outline: 0;
  }
}

#settings-button {
  border: none;
  &:hover, &:active, &:visited, &:link, &:focus {
    background-color: transparent;
    color: #D2D7D3;
  }
}



#home {
  &:active {
    outline: 0;
  }
  &:hover {
    background-color: transparent;
    color: #D2D7D3;
  }
}

#settings:hover {
  background-color: transparent;
}

#settings-button {
  font-size: 20px;
  margin-top: -4px;
  text-transform: capitalize;
}

.settings, #logout {
  text-transform: capitalize;
}

#settings:hover, #logout:hover {
  background-color: #f5f5f5 !important;
}


#settings-menu a:hover {
  color: black;
}



.fa-cog, .fa-user, .fa-comment {
  font-size: 20px;
  &:hover {
    cursor: pointer;
    font-size: 20px;
    color: #D2D7D3;
  }
  &:active, &:visited {
    color: #D2D7D3;
  }
}

/*.fa-user{
margin-right: -40px;
}*/

#home {
  color: white;
  &:hover {}
}

.center-block {
  text-align: center;
  float: none;
  display: table;
  margin: 0 auto;
}
.post-signin {
  font-size: 20px;
  margin: 10px 5px 0;
  display: none !important;
  button {
    background-color: transparent !important;
    border: none;
    &:focus {
      outline: 0;
    }
  }
}

.jsEnabled li.post-signin{
   display: inline !important;
   z-index: 11;
}

.jsEnabled .pre-signin{
  display: none;
}
#fb-social{
  display: block;
  width: 100%;
}
#borderme {
  border: 3px solid pink
}
