$border-color: 1px solid #e1e8ed;
$font-color: #4b4f56;
$donate-button-color: #2390fd;
$donate-amount-background: #cce1f6;
$donate-button-height: 48px;

body{
	background-color: #f0f2f4;
	.navbar-custom{
		position:relative;
	}
	div.navbar-center-container{
		position: absolute;
	}
	#crowdfunding-wrapper{
		margin-top: 50px;
		padding-bottom: 50px;
		#social-media-flex-container{
			display: flex;
			margin-top: 15px;
			.social{
				color: #4d4d88;
				font-size: 15px;
				border: $border-color;
				padding: 10px;
				border-radius: 3px;
				cursor: pointer;
				margin-right: 20px;
				flex-grow: 1;
				i{
					margin-right: 5px;
					font-size: 18px;
					color: #4d4d88;
				}
				&:hover{
					background: #4d4d88;
					color: white;
					i{
						color: white;
					}
				}
			}
		}
		#tab-table{
			margin-top: 15px;
			background: white;
			padding: 20px;
			padding-bottom: 30px;
			padding-top: 10px;

			border: $border-color;
			#tab-menu-flex{
				display: flex;


				a.menu-item{
					flex-grow: 1;
					cursor: pointer;
					color: inherit;
					&:hover, &:focus, &:active{
						color: inherit;
						text-decoration: none;
					}

					p{
						padding-bottom: 8px;
						text-align: center;
						font-size: 16px;
						color: #4d4d88;
						margin-bottom: 0;

					}
					.active-item{
						border-bottom: 3px solid #2390fd;
						color: $font-color;
					}

				}
			}
			#tab-content{
				padding: 20px;

				#story{
					font-size: 16px;
				}
				#about-handler{
					#header{
						margin-bottom: 0;
						font-size: 16px;
						color: $font-color;
					}
					.basic-header{
						margin-top: 10px;
					}
					.age{
						margin-top: 4px;
					}
					hr{
						margin-top: 5px;
						margin-bottom: 30px;
					}
					i{
						color: $font-color;
						font-size: 20px;
						margin-bottom: 30px;
					}
					span{
						margin-left: 7px;
						font-size: 15px;
						color: $font-color;
					}
					img{
						width: 30px;
					}
					#religion{
						font-size: 15px;
						margin-top: 2px;
						color: $font-color;
					}
					#previous_degree, #previous_university, #subject{
						font-family: 'Montserrat';
						margin-top: 10px;
					}
					.documents, .education{
						margin-top: 15px;
					}
					.document-row{
						margin-top: -15px;
						hr{
							margin-bottom: 0;
						}
						span{
							i{
								font-size: 25px;
								margin: 20px 0px 10px 0px;
							}
							.pdf-file{
								color: #f39c12;
							}

							.photo-file{
								color: #c0392b;
							}
							.video-file{
								color: #8e44ad;
							}

							.excel-file{
								color: #16a085;
							}

							.word-file{
								color: #2980b9;
							}

							.powerpoint-file{
								color: #e67e22;
							}
							.code-file{
								color: #e62240
							}
							.filename{
								color: #7f8c8d;
							}
							.hyperlink{
								font-size: 20px;
							}

							 a{
								display: inline;
								font-size: 15px;
								margin: 10px;
								font-family: 'Montserrat';
							}
						}

					}
				}
			}
		}

		#user-progress{

			#progress-card{
				background-color: white;
				margin-top: 10px;
				padding: 25px;
				padding-top: 10px;
				border: 1px solid #e1e8ed;
				h3{
					font-family: 'Helvetica Neue';
					font-weight: 500;
					margin-top: 10px;
					text-align: center;
					margin-bottom: 15px;
				}

				#amount{
					display: none;
					width: 60%;
					opacity: 0;
					margin-right: 15px;
					input {
						text-align: right;
						background-color: $donate-amount-background;
						border: none;
					}

					span {
						background-color: #7bb7f4;
						border: none;
						color: white;
					}

					input[type=number]::-webkit-inner-spin-button,
					input[type=number]::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}

					input[type=number] {
						-moz-appearance:textfield;
					}
				}
				div#donate-amount {
					// margin-top: 15px;
					transition: 1.5s;
					opacity: 0;
					height: calc(#{$donate-button-height} + 80px);

					#applicationFeeMessage {
						button {
							&:active, &:visited, &:focus, &:hover {
								outline: 0;
							}
						}

						p {
							margin-bottom: 5px;
							margin-top: 25px;
							font-size: 14px;
						}

						#buttonDiv {
							margin-top: 7px;
							padding: 0px;
						}

						#helperDiv {
							margin: 0px;
							margin-top: 5px;
							padding: 0px;
							padding-left: 10px;

							span {
								color: #a8a8a8;
								font-size: 12px;
							}
						}
					}

					.col-md-3 {
						padding: 0;
						margin-top: 0px;
					}
				}

				#raised{
					text-align: left;
					margin-bottom: 5px;
					font-weight: bold;
					font-size: 23px;
					span{
						font-size: 16px;
						margin-left: 3px;
						font-weight: 100;
					}
				}
				h4{
					font-family: 'Helvetica Neue';
				}
				.progress-bar{
					background-color: #4FDA9B;
				}
				#progress-info{
					p{
						font-weight: bold;
						text-align: center;
						span{
							display: block;
							font-weight: normal;
							font-size: 16px;
						}
					}

				}
				#donate{
					width: 100%;
					border: none;
					color:white;
					margin-top: -3px;
					padding: 10px;
					background-color: #2390fd;
					font-size: 20px;
					&:hover{
						background-color: #0273e3;
					}
				}
				.btn-facebook{
					width: 100%;

					margin-top: 20px;
					text-align: center;
				}

			}
			#funding-institutions, #recent-donations{
				margin-left: 0;
				margin-top: 40px;
				#fund-banner, #donation-banner{
					p{
						background-color: white;
						border: 1px solid #e1e8ed;
						font-size: 16px;
						padding: 10px;
						padding-left: 15px;
						border-radius: 3px;
						color: $font-color;

						i{
							color: $font-color;
							margin-left: 5px;
						}
					}
				}
				.app-row{
					height: 40px;
					.col-md-9{
						padding-left: 30px;
					}
					p, #fund-title{
						font-size: 15px;
						color: $font-color;
					};
					#fund-title{
						color: #2390fd;
					}
				}
				#none, #no-donations{
					font-size: 16px;
					text-align: center;
					color: $font-color;
				}
				.donation-row{
					margin-bottom: 20px;
					margin-left: 10px;

					#donation-picture{
						width: 45px;
						height: 45px;
						border-radius: 50%;
						box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.6);

					}
					.emoji{
						width: 27px;
						padding-top: 5px;
						height: auto;
						float: right;
					}
					.donor-info-row{
						padding-bottom: 10px;
						border-bottom: 1px dashed #656f77;
						#donated-amount{
							margin-bottom: 0;
							font-weight: bold;
						}
						span{
							display: block;
						}
						#donor-name{
							font-size: 16px;
						}
						#sent-date{
							color: #666;
							font-size: 13px;
						}
					}

				}
			}

		}
		#profile_picture{

			width: 100%;
			height: auto;
			max-height: 500px;
			border-radius: 3px;
		}

	}
}

.hidden {
	display: none;
}
