$silo-color: #e9f0f4;
$border-color: #e1e8ed;

body {
  background-color: $silo-color;
}

p {
  font-size: 13px;
}

/* settings tab */

// TODO: ABSTRACT THIS
#big_flex_div {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 50px;

  h3, h4, h5, label, p, input, textarea, button {
    font-family: 'PT Sans';
    letter-spacing: normal;
  }

  span.glyphicon {
    float: right;
  }
}

#left_div {
  display: flex;
  width: 23%;
  flex-direction: column;
  height: auto;

  #userImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid $border-color;
    cursor: pointer;
  }

  .settings-tab-menu {
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;

    .list-group {
      margin-bottom: 0;
      width: 100%;

      a {
        margin-bottom: 0;
        padding: 15px 10px;
        border: 1px solid $border-color;

        h5 {
          margin-bottom: 0px;
        }
      }
    }
  }
}

#right_div {
  margin-left: 20px;

  .col-md-12 {
    margin-top: 10px;
  }

  div.settings-tab {
    background-color: white;
    display: flex;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $border-color;
    padding: 0px;

    .settings-tab-content {
      width: 100%;

      .col-md-12, .col-md-6, .col-md-3 {
        margin: 0px;

        h3, h4 {
          margin: 0px;
        }
      }

      .col-md-12.header {
        border-bottom: 1px solid $border-color;
        padding: 15px;
        margin: 0px;

        h3 {
          color: #66757f;
        }

        p.help-block {
          margin: 0px;
          font-size: 14px;
          color: #8899a6;
        }
      }

      .col-md-12.content {
        margin: 0px;
        padding: 0px 0px;
        padding-top: 0px;

        .sub-content {
          padding: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid $border-color;

          h4 {
            padding-bottom: 10px;
          }

          label {
            text-align: right;
            margin: 8px 0px;
          }

          .col-md-12 {
            padding: 5px 0px;
          }

          textarea {
            resize: none;
          }

          input[type="checkbox"] {
            margin-top: 12px;
          }

          .clear {
            margin: 8px 0px;
          }
        }

        .sub-content:last-child {
          padding-bottom: 0px;
          border-bottom: none;
        }
      }

      .col-md-12.footer {
        text-align: center;
        padding: 15px 0px;
      }
    }
    #save-general-settings-notification,
    #save-personal-settings-notification,
    #save-campaign-settings-notification,
    #save-education-settings-notification {
      display: none;
      margin-top: 20px;
    }
    .settings-tab-content:not(.active) {
      display: none;
    }
  }
}

.hidden {
  display: none;
}
