@import './mobile/user/dashboard-mobile.scss';

body {
  background: #f0f2f4;
}

h2#name {
  margin-bottom: 20px;
}

.first_time {
  display: none;
  margin-bottom: 15px;
  .small {
    display: none;
  }
  @media (max-width: 579px) {
    .small {
      display: block;
    }
    .large {
      display: none;
    }
  }
}
.not-first_time {
  display: none;
  margin-bottom: 15px;
}
a.start-crowdfunding{
  background-color: #05d257;
  border: none;
  &:hover {
    background-color: #04a042;
  }
  .take_offline {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4)
  }
  color: white;
  font-size: 17px;
  @media (max-width: 579px) {
    font-size: 15px;
  }
}

#user-dashboard {
  padding-top: 30px;
}

@media (min-width: 994px) {
  .mobile {
    display: none;
  }

  #user-dashboard {
    padding-top: 0px;
  }

  $tab-border: 3px solid #2390fd;
  #brand-image {
    margin-top: -15px;
    position: relative;
    cursor: pointer;
  }

  #text_search {
    &:focus {
      border: 3px solid #66afe9;
    }
  }

  body {
    background-color: #f0f2f4;
    h1,h2,h3,h4,h5,h6{
      font-family: 'Source Sans Pro'
    }
    section {
      padding-top: 0;
      padding-bottom: 10px;
    }
  }

  /* Everything else */

  $navbar-height: 54px;
  h2#name{
    color: #010138;
  }
  #recommended {
    p#header {
      display: inline-block;
      border-bottom: 2px solid #010138;
      color: #010138;
      font-size: 17px;
    }
    .recommended-row {
      .flex-it {
        .col-md-12 {
          padding-left: 0;
        }
      }
      p {
        margin-top: 5px;
        font-size: 16px;
      }
    }
    textarea {
      width: 60%;
      height: 100px;
      border-radius: 3px;
      font-size: 15px;
      padding: 8px;
      resize: none;
    }
  }
  #updates {
    margin-top: 20px;
    margin-bottom: 40px;
    p#header {
      display: inline-block;
      border-bottom: 2px solid #010138;
      color: #010138;
      font-size: 17px;
    }
    .update-row {
      #profile_picture {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      textarea {
        width: 80%;
        height: 100px;
        border-radius: 3px;
        font-size: 15px;
        padding: 8px;
        resize: none;
      }
      #social-media-flex-container {
        width: 80%;
        display: inline-block;
        margin-top: 15px;

        .social {
          float: right;
          width: 120px;
          font-size: 15px;
          padding: 10px;
          padding-left: 15px;
          border-radius: 3px;
          cursor: pointer;
          margin-right: 20px;
          color: white;
          font-family: 'Source Sans Pro';
          font-weight: 500;
          text-align: center;
          text-decoration: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-transition: background-color 0.2s ease-in-out;
          -moz-transition: background-color 0.2s ease-in-out;
          -o-transition: background-color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out;
          i {
            font-size: 20px;
            float: left;
          }
        }
        .fb-share {
          background-color: #306199;
        }
        .twitter-tweet {
          background-color: #26c4f1;
        }
        .update {
          background-color: #4d4d88;
          width: 200px;
          font-size: 18px;
        }
        #save-update-notification {
          margin-top: 10px;
          display: none;
        }
      }
    }
  }
  .alert {
    margin-top: calc(#{$navbar-height} + 15px);
    margin-bottom: 15px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
  }


  .nav-tabs {
    li.active {
      a {
        font-size: 17px;
        border-bottom: 2px solid #2390fd;
        color:#3588cf;
        &:hover, &:focus {
          border-bottom: 2px solid #2390fd;
          color: #3588cf;
        }
      }
    }
    li {
      a {
        font-size: 17px;
        border: none;
        color: #010138;
        &:hover {
          background-color: transparent;
          color: #010138;
        }
      }
    }
    #view-profile {
      float: right;
      top: -5px;
      a {
        color: white;
        border-radius: 3px;
        background-color: #05d257;
        &:hover {
          background-color: #04a042;
        }
      }
    }
  }
  #ud-favourites {
    margin-top: 10px;
    section {
      .row {
        .col-md-12 {
          p {
            padding-left: 15px;
          }
        }
      }
    }
  }
  .tab-content {
    padding-bottom: 0px;
    .tab-pane {
      margin-top: 25px;
      p {
        font-size: 16px;
        color: #010138;
        a {
          margin-left: 3px;
          cursor: pointer;
        }
      }
    }
    #status {
      a {
        cursor: pointer;
      }
    }
  }
  #application-status {
    .modal-dialog {
      .modal-content {
        padding: 20px;
        .modal-header {
          padding-bottom: 5px;
        }
        .modal-body {
          margin-top: 6px;
          p {
            margin-bottom: 15px;
          }
          .radio {
            margin-bottom: 15px;
          }
          #amount-update {
            margin-top: 3px;
            display: none;
            transition: 1.5s;
            #amount-gained {
              margin-left: 7px;
              border-radius: 3px;
              border: 1px solid #cccccc;
            }
          }
          #hide-update {
            margin-top: 3px;
            display: none;
            transition: 1.5s;
            #hide {
              margin-right: 6px;
            }
          }

        }
        .modal-footer {
          button {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .alert {
    margin: 0;
    width: 70%;
    margin-left: 15%;
    margin-top: 64px;
  }

  .spacing_div {
    margin-top: 64px;
  }

  @media (max-width: 998px) {
    #ud-favourites, #ud-applications, #ud-recently-browsed {
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 993px) {
  .col-xs-2.mobile {
    margin-top: -20px;
    margin-bottom: 10px;
  }
  #updates {
    margin-top: 30px;
  }
  @media(max-width: 700px) {
    .col-xs-2.mobile {
      margin-top: -10px;
    }
  }
}

.row.recommended-row {
  @media (min-width: 993px) {
    margin-bottom: 15px;
  }
}

.fund-imgs {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  img {
    margin-bottom: 10px;
  }
  a {
    margin-top: 10px;
    font-size: 16px;
  }
}


//
#recommended {
  .row.recommended-row {
    margin-top: -35px;
  }
}
.box {
  font-family: Source Sans Pro;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 3px 5px;
  text-align: right;
  display: block;
  height: 8em;
  background-color: white;
  @media (max-width: 600px) {
    padding: 2px 4px;
    height: 13em;
  }
  padding-bottom: 40px;
  margin-top: 50px;
  border: 1px solid #dcdce0;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 50px;
    margin: 0 auto;
    width: 50px;
    margin-top: -31px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4.text-center {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 15px;
  letter-spacing: 2px;
}
.info > p {
  color: #717171;
  font-size: 16px;
  padding: 5px;
  padding-top: 10px;
  text-align: justify;
}
.info > a {
  background-color: #337ab7;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.info > a.link {
  position: absolute;
  bottom: 25px;
  right: 20px;
  padding: 4px 8px;
}
.info > a:hover {
  background-color: #03a9f4;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
#recommended-remove.btn.btn-danger {
  float: left;
  background: rgba(201,48,44, 0.8);
  position: absolute;
  bottom: 5px;
  left: 20px;
}
