$border-color: 1px solid #e1e8ed;
$font-color: #4b4f56;
$donate-button-color: #2390fd;
$donate-amount-background: #cce1f6;
$donate-button-height: 48px;


// results
/* New search bar */
@import 'general.scss';
@import 'navbar.scss';
@import 'advanced-search.scss';
@import 'signup.scss';
@import './mobile/user/user-crowdfunding-mobile.scss';

body{
	background-color: #f0f2f4;
	.navbar-custom{
		position:relative;
	}
	div.navbar-center-container{
		position: absolute;
	}
	#crowdfunding-wrapper{
		margin-top: 50px;
		padding-bottom: 50px;
		#social-media-flex-container{
			display: flex;
			margin-top: 15px;

			.social{
				font-size: 15px;
				padding: 10px;
				padding-left: 15px;
				border-radius: 3px;
				cursor: pointer;
				margin-right: 20px;
				flex-grow: 1;
				color: white;
				font-family: 'Helvetica Neue';
				font-weight: 500;
				text-align: center;
				text-decoration: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				-webkit-transition: background-color 0.2s ease-in-out;
				-moz-transition: background-color 0.2s ease-in-out;
				-o-transition: background-color 0.2s ease-in-out;
				transition: background-color 0.2s ease-in-out;
				i{
					font-size: 20px;
					float: left;
				}

			}
			.fb-share{
				background-color: #306199;
			}
			.twitter-tweet{
				background-color: #26c4f1;
			}
			.email{
				background-color: #444;
			}

		}
		#tab-table{
			margin-top: 15px;
			background: white;
			padding: 20px;
			padding-bottom: 30px;
			padding-top: 10px;

			border: $border-color;
			#tab-menu-flex{
				display: flex;


				a.menu-item{
					flex-grow: 1;
					cursor: pointer;
					color: inherit;
					&:hover, &:focus, &:active{
						color: inherit;
						text-decoration: none;
					}
					.badge{
						font-size: 10px !important;
						background-color: #4d4d88;
						color: white;
						margin-top: -1px;
						padding: 5px 7px;
					}
					p{
						padding-bottom: 8px;
						text-align: center;
						font-size: 16px;
						color: #4d4d88;
						margin-bottom: 0;

					}
					.active-item{
						border-bottom: 3px solid #2390fd;
						color: $font-color;
						span{
							background-color: $font-color;
						}
					}

				}
			}
			#tab-content{
				padding: 20px;
				#story-handler{
					#story{
						font-size: 16px;
					}
					.documents{
						margin-top: 15px;
					}
					#header{
						margin-bottom: 0;
						font-size: 16px;
						font-weight: bold;
					}
					hr{
						margin-top: 10px;
						margin-bottom: 10px;
					}
					.document-row{
						margin-top: -15px;
						hr{
							margin-bottom: 0;
						}
						span{
							margin-left: 15px;
							i{
								font-size: 25px;
								margin: 20px 0px 10px 0px;
							}
							.pdf-file{
								color: #f39c12;
							}

							.photo-file{
								color: #c0392b;
							}
							.video-file{
								color: #8e44ad;
							}

							.excel-file{
								color: #16a085;
							}

							.word-file{
								color: #2980b9;
							}

							.powerpoint-file{
								color: #e67e22;
							}
							.code-file{
								color: #e62240
							}
							.filename{
								color: #7f8c8d;
							}
							.hyperlink{
								font-size: 20px;
							}

							 a{
								display: inline;
								font-size: 15px;
								margin: 10px;
								font-family: 'Montserrat';
							}
						}
						#file-description{
							display: block;
							color: black;
							font-size: 15px;
							margin-top: 5px;
							padding-left: 13px;
						}

					}
				}

				#about-handler{
					#header{
						margin-bottom: 0;
						font-size: 16px;
						color: $font-color;
					}
					.basic-header{
						margin-top: 10px;
					}
					.age{
						margin-top: 4px;
					}
					hr{
						margin-top: 5px;
						margin-bottom: 30px;
					}
					i{
						color: $font-color;
						font-size: 20px;
						margin-bottom: 30px;
					}
					span{
						margin-left: 7px;
						font-size: 15px;
						color: $font-color;
					}
					img{
						width: 30px;
					}
					#religion{
						font-size: 15px;
						margin-top: 2px;
						color: $font-color;
					}
					#previous_degree, #previous_university, #subject{
						font-family: 'Montserrat';
						margin-top: 10px;
					}
					.documents, .education{
						margin-top: 15px;
					}
				}
				#update-handler{
					#update-header{
						margin-top: 20px;
						font-size: 15px;
						margin-bottom: 0px;

					}
					hr{
						margin-top: 0;
						margin-bottom: 15px;
					}
					#update-date{
						color: #817e7e;
						font-size: 15px;
						margin-left: 10px
					}
					#update-span{
						margin-bottom: 20px;
					}
					.initial-image{
						position: relative;
						width: auto;
						display: inline-block;
						margin-top: 20px;
						p{
							font-size: 16px;
						}
						#created-at{
							position: absolute;
							margin-bottom: 0;
							color: white;
							top: 25px;
							display: inline-block;
							width: auto;
							text-align: center;
							width: 100%;
						}
						#project-launch{
							margin-top: 20px;
							width: 80%;
							margin-left: 10%;
							height: auto;
							border-radius: 3px;
						}
						#launch-text{
							text-align: center;
							width: 100%;
							margin-bottom: 0;
							margin-top: -30px;
							color: white;

						}
					}

				}
				#comment-handler{
					display: inline-block;
					width: 100%;
					.comment-row{
						width: 100%;
						#comment-picture{
							width: 35px;
							height: 35px;
							border-radius: 50%;
							box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.6);
						}
						#commentator{
							padding-top: 5px;
							font-size: 16px;
							margin-left: 10px;
							font-weight: bold;
							margin-bottom: 10px;
							span{
								margin-left: 20px;
								color: #817e7e;
								font-size: 15px;
							}
						}
					}
					.actual-comment-row{
						width: inherit;
					}
					#comment{
						font-size: 16px;
						margin-left: 10px;
					}
					#no-comment{
						margin-top: 30px;
						font-size: 14px;
						padding: 20px;
						border-radius: 3px;
						width: 100%;
						background-color: #f2f3f9;
					}
				}
			}
		}

		#user-progress{

			#progress-card{
				background-color: white;
				padding: 25px;
				padding-top: 10px;
				border: 1px solid #e1e8ed;
				h3{
					font-family: 'Helvetica Neue';
					font-weight: 500;
					margin-top: 10px;
					text-align: center;
					margin-bottom: 15px;
				}

				#amount{
					display: none;
					width: 60%;
					opacity: 0;
					margin-right: 15px;
					input {
						text-align: right;
						background-color: $donate-amount-background;
						border: none;
					}

					span {
						background-color: #7bb7f4;
						border: none;
						color: white;
					}

					input[type=number]::-webkit-inner-spin-button,
					input[type=number]::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}

					input[type=number] {
						-moz-appearance:textfield;
					}
				}
				div#donate-amount {
					// margin-top: 15px;
					transition: 1.5s;
					opacity: 0;
					height: calc(#{$donate-button-height} + 80px);

					#applicationFeeMessage {
						button {
							&:active, &:visited, &:focus, &:hover {
								outline: 0;
							}
						}

						p {
							margin-bottom: 5px;
							margin-top: 25px;
							font-size: 14px;
						}

						#buttonDiv {
							margin-top: 7px;
							padding: 0px;
						}

						#helperDiv {
							margin: 0px;
							margin-top: 5px;
							padding: 0px;
							padding-left: 10px;

							span {
								color: #a8a8a8;
								font-size: 12px;
							}
						}

					}
					#comment-div{

						#comment-text{
							width: 90%;
							margin-left: 5%;
							margin-top: 30px;
							margin-bottom: 30px;
							height: 100px;
							padding: 5px;
						}
					}
					.col-md-3 {
						padding: 0;
						margin-top: 0px;
					}
				}

				#raised{
					text-align: left;
					margin-bottom: 5px;
					font-weight: bold;
					font-size: 23px;
					span{
						font-size: 16px;
						margin-left: 3px;
						font-weight: 100;
						color:#333333
					}
				}
				h4{
					font-family: 'Helvetica Neue';
				}
				.progress-bar{
					background-color: #4FDA9B;
				}
				#progress-info{
					p{
						font-weight: bold;
						text-align: center;
						span{
							display: block;
							font-weight: normal;
							font-size: 16px;
						}
					}

				}
				#donate, .submit{
					width: 100%;
					border: none;
					color:white;
					margin-top: -3px;
					padding: 10px;
					background-color: #2390fd;
					font-size: 20px;
					&:hover{
						background-color: #0273e3;
					}
				}
				.btn-facebook{
					width: 100%;

					margin-top: 20px;
					text-align: center;
				}

			}
			#funding-institutions, #recent-donations{
				margin-left: 0;
				margin-top: 40px;
				#fund-banner, #donation-banner{
					p{
						background-color: white;
						border: 1px solid #e1e8ed;
						font-size: 16px;
						padding: 10px;
						padding-left: 15px;
						border-radius: 3px;
						color: $font-color;

						i{
							color: $font-color;
							margin-left: 5px;
						}
					}
				}
				.app-row{
					height: 40px;
					.col-md-9{
						padding-left: 30px;
					}
					p, #fund-title{
						font-size: 15px;
						color: $font-color;
					};
					#fund-title{
						color: #2390fd;
					}
				}
				#none, #no-donations{
					font-size: 16px;
					text-align: center;
					color: $font-color;
				}
				.donation-row{
					margin-bottom: 20px;
					margin-left: 10px;

					#donation-picture{
						width: 45px;
						height: 45px;
						border-radius: 50%;
						box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.6);

					}
					.emoji{
						width: 27px;
						padding-top: 5px;
						height: auto;
						float: right;
					}
					.donor-info-row{
						padding-bottom: 10px;
						border-bottom: 1px dashed #656f77;
						#donated-amount{
							margin-bottom: 0;
							font-weight: bold;

						}
						span{
							display: block;
						}
						#donor-name{
							font-size: 16px;
						}
						#sent-date{
							color: #666;
							font-size: 13px;
						}
					}

				}
			}

		}
		#profile_picture{

			width: 100%;
			height: auto;
			max-height: 500px;
			border-radius: 3px;
		}

	}
}

.hidden {
	display: none;
}

#payment-div  {
	text-align: center;
	position: absolute;
	margin: 0px;
	width: 70%;
	margin-left: -70%;
	margin-top: 15px;
	margin-bottom: -1%;
	padding: 1%;
	z-index: 99;
}

#payment-div-invisible {
	opacity: .5;
	position: absolute;
	margin: 0px;
	width: 70%;
	margin-left: 15%;
	margin-top: 15px;
	height: 48px;
	z-index: 999
}

.hidden {
	display: none;
}


// Mobile stuff
@media (max-width: 992px) {
	body #crowdfunding-wrapper #user-progress #funding-institutions {
		margin-top: 30px;
	}
	body #crowdfunding-wrapper #social-media-flex-container {
		justify-content: space-between;
		.social-margin-end {
			margin-right: 12px;
			margin-left: 12px;
		}
		.social-margin-middle {
			margin: 0;
		}
	}
}

@media (min-width: 769px) {
	.mobile {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.desktop {
		display: none !important;
	}
	body #crowdfunding-wrapper.container {
		margin: 0;
		padding: 0;
		width: 100%;
		.col-md-7.col-xs-12.col-sm-6.remove-margin {
			margin: 0;
		}
		.col-md-7.col-sm-6.col-xs-12 {
			margin-bottom: 40px;
			padding: 0;
			#profile_picture {
				padding-left: 0;
				padding-right: 0;
			}
		}
		#user-progress {
			clear: both;
			padding-left: 0;
			padding-right: 0;
			margin-top: -5px;
			#progress-card {
				margin-top: 0;
			}
		}
	}
	#crowdfunding-wrapper.container {
		#user-progress {
			#progress-card {
				padding: 0;
				.flex-container {
					display: flex;
					justify-content: space-between;
					height: 90px;
					.flex-div {
						height: inherit;
						padding-top: 10px;
						img.ifVideoPhoto#profile_picture {
							float: right;
							margin-right: 15px;
							height: 100%;
							width: auto;
							padding: 0;
							margin: 0;
						}
					}
					.flex-div-name {
						padding-top: 38px;
						padding-left: 10px;
						flex-grow: 3;
						position: relative;
						span {
							position: relative;
							bottom: -20px;
							left: 5px;
							h3 {
								text-align: left;
							}
						}
					}
					.flex-div-image {
						padding-right: 10px;
						flex-grow: 1;
					}
				}
			}
			#recent-donations {
				margin: 0;
				margin-top: 20px;
				p {
					margin-bottom: 6px;
				}
			}
			#funding-institutions {
				margin: 0;
				#fund-banner {
					p {
						margin: 0;
						margin-bottom: 6px;
					}
				}
			}
		}
		p#raised {
			border-top: 1px solid #e1e8ed;
		}
		p#raised, .progress {
			padding: 10px;
			margin: 10px;
		}
		#progress-card {
			#amount{
				margin-left: 15px;
			}
			#donate {
				margin-right: 15px;
			}
		}
		#tab-table {
			padding: 0;
			padding-bottom: 20px;
			#tab-menu-flex {
				border-bottom: 1px solid #e1e8ed;
					a.menu-item p {
					padding-bottom: 3px;
					padding-top: 7px;
				}
			}
			#tab-content {
				margin-top: -5px;
				padding: 0px 8px 0px 8px;
				p#header {
					border-bottom: 1px solid#e1e8ed
				}
				hr {
					border-color: transparent;
				}
				#comment-handler p#no-comment {
					padding: 10px;
					margin: 20px 0px 15px 0px;
				}
			}
		}
	}
	#social-media-flex-container {
		margin-bottom: 15px;
	}
	body {
		font-style: Source Sans Pro !important;
	}
}
