@import './mobile/user/dashboard-mobile.scss';

@media (min-width: 994px) {
  .mobile {
    display: none;
  }

  #user-dashboard {
    padding-top: 0px;
  }

  $tab-border: 3px solid #2390fd;
  #brand-image {
    margin-top: -15px;
    position: relative;
    cursor: pointer;
  }

  #text_search {
    &:focus {
      border: 3px solid #66afe9;
    }
  }

  body {
    background-color: #f0f2f4;
    h1,h2,h3,h4,h5,h6{
      font-family: 'Source Sans Pro'
    }
    section {
      padding-top: 0;
      padding-bottom: 10px;
    }
  }

  /* Everything else */

  $navbar-height: 54px;
  h2#name{
    color: #010138;
  }
  #recommended {
    p#header {
      display: inline-block;
      border-bottom: 2px solid #010138;
      color: #010138;
      font-size: 17px;
    }
    .recommended-row {
      .flex-it {
        .col-md-12 {
          padding-left: 0;
        }
      }
      p {
        margin-top: 5px;
        font-size: 16px;
      }
    }
    textarea {
      width: 60%;
      height: 100px;
      border-radius: 3px;
      font-size: 15px;
      padding: 8px;
      resize: none;
    }
  }
  #updates {
    margin-bottom: 40px;
    p#header {
      display: inline-block;
      border-bottom: 2px solid #010138;
      color: #010138;
      font-size: 17px;
    }
    .update-row {
      #profile_picture {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      textarea {
        width: 80%;
        height: 100px;
        border-radius: 3px;
        font-size: 15px;
        padding: 8px;
        resize: none;
      }
      #social-media-flex-container {
        width: 80%;
        display: inline-block;
        margin-top: 15px;

        .social {
          float: right;
          width: 120px;
          font-size: 15px;
          padding: 10px;
          padding-left: 15px;
          border-radius: 3px;
          cursor: pointer;
          margin-right: 20px;
          color: white;
          font-family: 'Source Sans Pro';
          font-weight: 500;
          text-align: center;
          text-decoration: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-transition: background-color 0.2s ease-in-out;
          -moz-transition: background-color 0.2s ease-in-out;
          -o-transition: background-color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out;
          i {
            font-size: 20px;
            float: left;
          }
        }
        .fb-share {
          background-color: #306199;
        }
        .twitter-tweet {
          background-color: #26c4f1;
        }
        .update {
          background-color: #4d4d88;
          width: 200px;
          font-size: 18px;
        }
        #save-update-notification {
          margin-top: 10px;
          display: none;
        }
      }
    }
  }
  .alert {
    margin-top: calc(#{$navbar-height} + 15px);
    margin-bottom: 15px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
  }


  .nav-tabs {
    li.active {
      a {
        font-size: 17px;
        border-bottom: 2px solid #2390fd;
        color:#3588cf;
        &:hover, &:focus {
          border-bottom: 2px solid #2390fd;
          color: #3588cf;
        }
      }
    }
    li {
      a {
        font-size: 17px;
        border: none;
        color: #010138;
        &:hover {
          background-color: transparent;
          color: #010138;
        }
      }
    }
    #view-profile {
      float: right;
      top: -5px;
      a {
        color: white;
        border-radius: 3px;
        background-color: #05d257;
        &:hover {
          background-color: #04a042;
        }
      }
    }
  }
  #ud-favourites {
    margin-top: 10px;
    section {
      .row {
        .col-md-12 {
          p {
            padding-left: 15px;
          }
        }
      }
    }
  }
  .tab-content {
    padding-bottom: 0px;
    .tab-pane {
      margin-top: 25px;
      p {
        font-size: 16px;
        color: #010138;
        a {
          margin-left: 3px;
          cursor: pointer;
        }
      }
    }
    #status {
      a {
        cursor: pointer;
      }
    }
  }
  #application-status {
    .modal-dialog {
      .modal-content {
        padding: 20px;
        .modal-header {
          padding-bottom: 5px;
        }
        .modal-body {
          margin-top: 6px;
          p {
            margin-bottom: 15px;
          }
          .radio {
            margin-bottom: 15px;
          }
          #amount-update {
            margin-top: 3px;
            display: none;
            transition: 1.5s;
            #amount-gained {
              margin-left: 7px;
              border-radius: 3px;
              border: 1px solid #cccccc;
            }
          }
          #hide-update {
            margin-top: 3px;
            display: none;
            transition: 1.5s;
            #hide {
              margin-right: 6px;
            }
          }

        }
        .modal-footer {
          button {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .alert {
    margin: 0;
    width: 70%;
    margin-left: 15%;
    margin-top: 64px;
  }

  .spacing_div {
    margin-top: 64px;
  }

  @media (max-width: 998px) {
    #ud-favourites, #ud-applications, #ud-recently-browsed {
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 993px) {
  .col-xs-2.mobile {
    margin-top: -20px;
    margin-bottom: 10px;
  }
  @media(max-width: 700px) {
    .col-xs-2.mobile {
      margin-top: -10px;
    }
  }
}

.row.recommended-row {
  @media (min-width: 993px) {
    margin-bottom: 15px;
  }
  .flex-it.flex-it-no-pics {
    height: 100px;
    line-height: 1.2em;
    flex-wrap: wrap;
    margin-top: -20px;
    @media (max-width: 1000px) {
      margin-bottom: 90px;
      @media (max-width: 600px) {
        margin-top: -10px;
        margin-bottom: 80px;
      }
    }
    .flex-me {
      padding: 10px;
      @media (max-width: 600px) {
        padding: 6px;
      }
      .fund-no-pic {
        border-radius: 3px;
        margin: 5px;
        @media (max-width: 1000px) {
          margin: 0px;
          @media(max-width: 600px) {
            margin: 0px;
          }
        }
        height: 70px;
        display: flex;
        align-items: center;
        overflow: hidden;
        a {
          font-size: 16px;
          color: white;
          cursor: pointer;
          @media(max-width: 600px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.fund-imgs {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  img {
    margin-bottom: 10px;
  }
  a {
    margin-top: 10px;
    font-size: 16px;
  }
}
