$silo-color: #e9f0f4;
$border-color: #e1e8ed;

@import './general.scss';
@import './navbar.scss';
@import './advanced-search.scss';
@import './signup.scss';
@import './mobile/user/settings-mobile.scss';

body {
  background-color: $silo-color;
}
#advanced-search{
  margin-top: 30px;
}
p {
  font-size: 13px;
}

/* settings tab */

// TODO: ABSTRACT THIS
#big_flex_div {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 50px;

  h3, h4, h5, label, p, input, textarea, button {
    font-family: 'PT Sans';
    letter-spacing: normal;
  }

  span.glyphicon {
    float: right;
  }
}

#left_div {
  display: flex;
  // width: auto;
  flex-direction: column;
  height: auto;
  #box-profile{
    transition: 2.5s;
    .fa-camera{
      position: absolute;
      color: white;
      font-size: 45px;
      left: 47%;
      top: 130px;
      display: none;
    }
    &:hover{
      .fa-camera{
        cursor: pointer;
        display: block;
      }
    }
    #userImage {
      width: 100%;
      max-height: 300px;
      border-radius: 5px;
      border: 1px solid $border-color;
      cursor: pointer;
    }

  }

  .settings-tab-menu, .logout-tab {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    .list-group {
      margin-bottom: 0;
      width: 100%;
      a {
        margin-bottom: 0;
        padding: 15px 10px;
        border: 1px solid $border-color;

        h5 {
          margin-bottom: 0px;
        }
      }
    }
  }
}

#right_div {
  margin-left: 20px;

  .col-md-12, .col-xs-12 {
    margin-top: 10px;
  }

  div.settings-tab {
    background-color: white;
    display: flex;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $border-color;
    padding: 0px;

    .settings-tab-content {
      width: 100%;

      .col-md-12, .col-md-6, .col-md-3 {
        margin: 0px;

        h3, h4 {
          margin: 0px;
        }
      }

      .col-md-12.header {
        border-bottom: 1px solid $border-color;
        padding: 15px;
        margin: 0px;

        h3 {
          color: #66757f;
        }

        p.help-block {
          margin: 0px;
          font-size: 14px;
          color: #8899a6;
        }
      }

      .col-md-12.content {
        margin: 0px;
        padding: 0px 0px;
        padding-top: 0px;

        .sub-content {
          padding: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid $border-color;

          h4 {
            padding-bottom: 10px;
          }
          @media (min-width: 992px) {
            label:not(.fakeFileUpload) {
              text-align: right;
              margin: 8px 0px;
            }
          }

          .col-md-12 {
            padding: 5px 0px;
          }

          textarea {
            resize: none;
          }

          input[type="checkbox"] {
            margin-top: 12px;
          }

          .clear {
            margin: 8px 0px;
          }
        }

        .sub-content:last-child {
          padding-bottom: 0px;
          border-bottom: none;
        }
      }

      .col-md-12.footer {
        text-align: center;
        padding: 15px 0px;
      }
    }
    #save-general-settings-notification,
    #save-personal-settings-notification,
    #save-campaign-settings-notification,
    #save-education-settings-notification {
      display: none;
      margin-top: 20px;
    }
    @media (min-width: 501px) {
      .settings-tab-content:not(.active) {
        display: none;
      }
    }
  }
}

span.password_message {
  font-size: 12px;
  color: red;
}

input.realFileUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label.removeFile {
  color: grey;

  &:hover {
    cursor: pointer;
  }

  i {
    color: grey;
    margin-left: 15px;
  }
  p {
    margin-left: 2px;
    display: inline;
  }
}
#video{
  border-radius: 3px;
  width: 60%;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}
.hidden {
  display: none;
};


// Mobile stuff, must quote here for it to over ride above
@media (max-width: 795px) {
  #left_div {
    .settings-tab-menu, .logout-tab {
      .list-group {
        a {
          padding: 8px 5px;
        }
        h5 {
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 795px) {
  .col-md-3, .col-xs-4 {
    padding-right: 4px;
  }
  #right_div {
    margin-left: 10px;
  }
  #left_div {
    padding-left: 10px;
  }
  #big_flex_div.container {
    padding-top: 25px;
  }
}

@media (max-width: 541px) {
  #big_flex_div.container {
    flex-direction: column;
  }
  #video {
    width: 100%;
  }
  .settings-tab-content:not(.active-mobile) {
    display: none;
  }
  .col-md-8 .col-xs-12 {
    padding: 0;
  }
  #describe_your_goal {
    padding-top: 3px;
  }
  #general-settings, #personal-settings {
    label.personal-padding-1, p.personal-padding-1, .clear.personal-padding-1 {
      padding-top: 3px;
    }
    label.personal-padding-2 {
      padding-top: 0px;
    }
    label {
      padding-top: 9px;
    }
  }
}

@media (max-width: 408px) {
  #general-settings {
    label.padding-top-reducer-lg {
      padding-top: 0px;
    }
    @media (max-width: 350px) {
      label.padding-top-reducer-sm {
        padding-top: 0px;
      }
    }
  }
}

@media (max-width: 1000px) {
  #campaign-settings {
    label.padding-top-add {
      padding-top: 8px;
    }
  }
}

@media (max-width: 992px) {
  #general-settings {
    label.padding-top-add {
      padding-top: 8px;
    }
    @media (max-width: 600px) {
      label.padding-top-edit {
        padding-top: 0px;
      }
      label.padding-top-add {
        padding-top: 8px
      }
    }
    @media (max-width: 600px) {
      label.padding-top-edit {
        padding-top: 9px;
      }
    }
  }
}

@media (min-width: 542px) {
  #general-settings, #personal-settings {
    #genderRow {
      margin-top: 3px;
      margin-bottom: 5px;
    }
    #gender-div {
      padding-bottom: 0;
    }
    .radio-inline {
      margin-top: 0;
    }
    .personal-padding-1 {
      margin-left: 10px;
    }
    #genderRow {
      p {
        margin-bottom: 0px;
      }
    }
  }
  #right_div div.settings-tab .settings-tab-content .col-md-12.content .sub-content .clear {
    margin: 0;
  }
}


@media (min-width: 992px) {
  #personal-settings #genderRow {
    .personal-padding-1 {
      margin-left: -20px;
    }
    .radio-inline {
      input[type=radio] {
        margin-left: 10px;
      }
      p {
        margin-bottom: -15px;
      }
    }
    .col-sm-0 {
      display: none;
    }
    .clear {
      margin-top: 9px
    }
  }
}

@media (max-width: 399px) {
  label.padding-top-edit {
    padding-top: 10px;
  }
  #general-settings, #personal-settings {
    p.personal-padding-1 {
      padding: 0;
      margin: 0;
    }
    .radio-inline {
      padding-top: 0;
      padding-left: 0;
      margin-left: 15px;
    }
    #gender-div {
      padding: 0;
      .radio-inline {
        padding-left: 25px;
      }
    }
    #genderRow .clear {
      margin-top: 6px;
    }
  }
}

@media (max-width: 541px) {
  #left_div {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    #box-profile #userImage {
      width: 25%;
      height: auto;
    }
  }
}
