a{
  color: #337ab7;
text-decoration: none;
}

a:hover{
  color: #23527c;
text-decoration: underline;
}

a:active, a:hover{
  outline: 0
}
.search_form{
  margin-top: 5px
}
.collapse{
  margin-top: -5px;
}
