body {
  background-color: #f0f2f4; }
.queryToken{
  margin-top: 100px;
}
.results {
  display: inline-block;
  width: 50%;
margin-left: 25%;
height: 50px;
padding: 5px;
border-width: 3px;
border-style: solid;
border-color: #3c547a;
  text-align: center; }
  .results h3 {
    padding-top: 7px;
    font-size: 20px;
    color: #2d4a76; }





#picture {
  height: 100%; }

#user-picture {
  width: 170px;
  height: 170px; }

#user-nationality, #user-religion, #target_country, #previous_university, #target_university, #subject {
  color: grey; }

#message {
  margin-top: 10px;
  background-color: #5bc0de;
  color: white;
  border: none;
  font-size: 16px; }
  #message i {
    margin-right: 10px; }

.username {
  margin-left: 13px;
  margin-bottom: -5px; }

.user_list {
  margin-bottom: 20px;
  border-radius: 3px;
  text-align: center;
  .buffer-div{
    padding: 10px;
    height: 400px;
    border-radius: 3px;
    background-color: white;
    font-family: 'Source Sans Pro';
    img{
      margin-bottom: 20px;
      border-radius: 3px;
    }
    h4{
      margin-bottom: 8px;
      font-family: 'Source Sans Pro'
    }

    p{
      margin-top: 0px;
      font-size: 15px;
      margin-bottom: 0;
      span{
        font-size: 15px;
      }
    }
    #religion{
      margin-top: 0;
    }

  }
}

#user-info {
  padding-left: 30px; }
  #user-info p {
    margin-bottom: 0; }

.control {
  margin-left: 4px; }

@media(max-width: 1200px){
  .col-lg-10{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(max-width: 1031px){
  .user_list{
    .buffer-div{
      height: 450px;
    }
  }

}
@media(max-width: 767px){
  .user_list{
    padding-left: 20px;
    padding-right: 20px;
    .buffer-div{
      padding-top: 20px;
      height: auto;
      padding-bottom: 20px;
    }
  }
}
@media(max-width: 740px){
  .results{
    width: 66%;
    margin-left: 17%;
  }
}
@media(max-width: 560px){
  .results{
    width: 90%;
    margin-left: 5%;
  }
}
@media(max-width: 418px){
  .results{
    padding-top: 0;
    h3{
      padding-top: 0;
    }
  }
}
@media(max-width: 380px){
  .results{
    padding-top: 0;
    h3{
      font-size:18px;
      padding-top: 4px;
    }
  }
}
