body {
  background-color: #f0f2f4;
}

#login {
  border-top: 0.1px solid grey;
  margin-top: 5%;
  margin-bottom: -2%;
  padding-top: 4%;
}

.container {
  margin-top: 4%
}

.text-center {
  margin-left: 8%;
  margin-right: 8%;
}

.panel.panel-default {
  background-color: #f0f2f4;
  border: 0px;
}

.panel-body {
  margin: 3%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#border-remove {
  border: 0px;
  padding: 0px;
  margin-top: 0%;
}

.input-group {
  margin: 1%;
}

.alert {
  width: 65%;
  padding: 1.3%;
  margin: 0%;
  margin-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.flash_messages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash_messages .alert {
  flex-grow: 1.8;
  margin-bottom: 2%;
  margin-top: 1%;
}
