.white{
  color: #000;
  background-color: #e9f0f4;
}

.btn-facebook {
  color: #ffffff;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .btn-facebook.disabled, .btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783 !important;
  *background-color: #102e6d !important;
}

.btn-facebook:active, .btn-facebook.active {
  background-color: #0d2456 \9 !important;
}

/* My css */
body {
  background-color: #e9f0f4;
}

.alert.alert-success {
  text-align: center;
}

img {
  margin-top: 8%;
  margin-bottom: 3%;
  margin-left: 15%;
  width: 70%;
}

#register {
  text-align: center;
}

#register a p {
  font-size: 25px;
}

.checker {
  text-align: left;
  color: #CC0000;
  font-family: 'PT Sans';
  padding-left: 1%;
  font-size: 12px;
  font-weight: 690;
}

#passwordReset {
  float: right;
  margin-left: 1%;
  text-align: right;
}

.alert.alert-success.flash-deleted {
  padding: 12px 15px 0px 15px;
}

.alert.alert-success.flash-deleted h4 {
  margin-bottom: 3px;
}

.alert.alert-success.flash-deleted .lead {
  font-size: 15px;
  margin-bottom: 10px;
}
