#form_container {
  margin-top: 20px;
  .donor.header.description {
  }
  #register {
    border-bottom: 1px solid #e1e8ed;
  }
  #login {
    padding: 0px 0px 20px 0px;
    border: none;
    span {
      box-shadow: none;
      font-size: 1em;
      color: black
    }
  }
}

.hide {
  display: none
}

.fund_only {
  display: none;
}

button.login {
  cursor: pointer;
}
