body{
    background-color: #e9f0f4;
}
.centered-form{
	margin-top: 4%;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
}

#img-div {
  margin-top: 4%;
  text-align: center;
}

#signin {
  text-align: center;
}


#signin p {
  font-size: 25px;
}

.fundOptionCheckbox {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

img {
  margin-top: 8%;
  margin-bottom: 3%;
  margin-left: 15%;
  width: 70%;
}

input {
  background-color: rgb(250, 255, 189);
}
