img#silo-image {
  position: absolute;
  top: 3%;
  margin-bottom: 3%;
  left: 39%;
  width: 22%;
}

#form_container {
  margin-top: 80px;
}

.panel-title {
  text-decoration: underline;
}

.panel-title, select#user_type_dropdown {
  font-size: 1.3em;
  text-align: left;
  line-height: 30px;
  margin: 0;
  margin-top: 10px;
}

.hide {
  display: none
}

.fund_only {
  display: none;
}
