extends layout-signup
 
block extraHeader
	link(href='/stylesheets/results.css', rel='stylesheet')
	link(href='/stylesheets/token-input-facebook.css', rel='stylesheet')
	link(href='/stylesheets/new-user-profile.css', rel='stylesheet')


block content
	include ../navbar.jade
	#signup-wrapper.container-fluid
		#greeting
			h3='Welcome to Silo, ' + user.username.split(' ')[0]
			h4 Our crowdfunding platform allows you to raise money whilst looking for grants, maximising your chance of success.
		#process-flex-container.center-block
			a.btn.btn-default.process.active(href='#about') About you
				span.glyphicon.glyphicon-menu-right
			a.btn.btn-default.process(href='#education') Education
				span.glyphicon.glyphicon-menu-right
			a.btn.btn-default.process(href='#story') Story
				span.glyphicon.glyphicon-menu-right
			a.btn.btn-default.process(href='#account') Account
				span.glyphicon.glyphicon-menu-right
			a.btn.btn-default.process(href='/user/profile') Preview
		#signup-form.center-block
			script#about-template(type='text/template')
				p#about-header.description Get started by telling us more about yourself, your funding goals and the date by which you want to reach your goal.
				.row#picture-row
					.col-md-1
					.col-md-3
						p#picture.description Profile Picture
					.col-md-6
						#profile-picture
							img#placeholder-picture(src="../../images/fund_img_placeholder.jpg")
							span Upload a profile picture. This can help you make a great first impression on funds and potential donors!
						input#my_file(type='file', style='display: none;', name = 'profile_picture')
				.row.fund-goal
					.col-md-1
					.col-md-3
						p#amount.description Your Fund goal
					.col-md-6
						input#input-amount(placeholder="£", type="number", name='funding_needed') 
				.row
					.col-md-1
					.col-md-3
						p#finish-date.description Completion time
					.col-md-6
						input#completion-input(type='date', name= "completion_date")
				.row
					.col-md-1
					.col-md-3
						p#date_of_birth.description Date of Birth
					.col-md-6
						input#date-input(type='date', name="date_of_birth")
				.row
					.col-md-1
					.col-md-3
						p#country_of_residence.description Country of residence
					.col-md-6
						input#country_of_residence(name="country_of_residence")
				.row#religion-row
					.col-md-1
					.col-md-3
						p#religion.description Religious beliefs
					.col-md-6
						span.input-group-btn
							select#religion-select.form-control(data-placeholder='Choose a religion...', name= "religion")
								option(value='') -- select one --
								option(value = 'null') I prefer not to say
								option(value='African Traditional & Diasporic') African Traditional & Diasporic
								option(value='Agnostic') Agnostic
								option(value='Atheist') Atheist
								option(value="Baha'i") Baha&#39i
								option(value='Buddhism') Buddhism
								option(value='Cao Dai') Cao Dai
								option(value='Chinese traditional religion') Chinese traditional religion
								option(value='Christianity') Christianity
								option(value='Hinduism') Hinduism
								option(value='Islam') Islam
								option(value='Jainism') Jainism
								option(value='Juche') Juche
								option(value='Judaism') Judaism
								option(value='Neo-Paganism') Neo-Paganism
								option(value='Nonreligious') Nonreligious
								option(value='Rastafarianism') Rastafarianism
								option(value='Secular') Secular
								option(value='Shinto') Shinto
								option(value='Sikhism') Sikhism
								option(value='Spiritism') Spiritism
								option(value='Tenrikyo') Tenrikyo
								option(value='Unitarian-Universalism') Unitarian-Universalism
								option(value='Zoroastrianism') Zoroastrianism
								option(value='primal-indigenous') primal-indigenous
								option(value='Other') Other
				.container-fluid.save
					a#save.btn.btn-primary(href="#education") Save progress
					a#skip(href='#education') Skip
			script#education-template(type='text/template')
				p#education-header.description Specifying your educational past and targets can help us match you with funding institutions more quickly!
				.row
					.col-md-1 
					.col-md-3 
						p#subject-description.description Subject of study
					.col-md-6
						input#subject-input(name="subject")
				.row
					.col-md-1
					.col-md-3
						p.description Intended degree of study
					.col-md-6
						input#targetDegree-input(name="target_degree" )
				.row
					.col-md-1
					.col-md-3
						p.description Completed/current degree levels
					.col-md-6
						input#requiredDegree-input(name="previous_degree")
				.row
					.col-md-1
					.col-md-3
						p.description Target university
					.col-md-6
						input#target-university(name="target_university")
				#previous-university-row.row
					.col-md-1
					.col-md-3
						p.description Previously/currently enrolled universities
					.col-md-6
						input#previous-university(name="previous_university")
				.container-fluid.save
					a#save.btn.btn-primary(href="#story") Save progress
					a#skip(href='#story') Skip
			script#story-template(type='text/template')
				p#story-header.description We have some guidelines based on successful campaigns to help you. However this is your journey. Change the headers and text to tell us your story.
				.row.story-row
					.col-md-8.col-md-offset-2
						textarea#story-text
				.row#work
						#work-row.col-md-8.col-md-offset-2
							h6 Showcase your talents.
							p#stand-out Bolster your application by letting funds and peers see your best work.
							#work-span.btn.btn-primary.btn-file
								i.fa.fa-upload
								input#work(type='file', name = 'past_work', data-multiple-caption="{count} files selected", multiple='')
								label(for='work') Choose up to 5 file
							#hyperlink
								p or
								.row.hyperlink-row
									.col-md-6.col-md-offset-3
										.input-group.center-block
											span.input-group-btn
												i.fa.fa-link.btn.btn-default(aria-hidden='true')
											input#work-link.form-control(type='text',name="work-link",placeholder='http://www.example.com')
				.container-fluid.save
					a#save.btn.btn-primary(href="#account") Save progress
					a#skip(href='#account') Skip
			script#account-template(type='text/template')
				p#verify-header.description You&#39re almost finished! Verify your email below to start searching for funds.
				.row#email-row
					.col-md-1
					.col-md-3
						p.description Email
					.col-md-6
						input#email-verify(name="email")
						a#verify.btn.btn-success Verify
						p#verify-text.alert.alert-success.fade.in
				
block scripts
	script(src='https://cdn.tinymce.com/4/tinymce.min.js')
	script(src='/javascript/lib/modernizr-input.js')
	script(src='/javascript/lib/jquery.tokeninput.js')
	script(src='/javascript/new-user-profile.js')
	script.
		var user_setup = !{JSON.stringify(user)};
	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
