extends layout-signup
 
block extraHeader
	link(href='/stylesheets/results.css', rel='stylesheet')
	link(href='/stylesheets/token-input-facebook.css', rel='stylesheet')
	link(href='/stylesheets/new-user-profile.css', rel='stylesheet')


block content
	include ../navbar-fund.jade
	#signup-wrapper.container-fluid
		#greeting
			h3='Welcome to Silo, ' + user.username
			h4 Our crowdfunding platform allows you to raise money whilst looking for grants, maximising your chance of success.
		#process-flex-container.center-block
			a.btn.btn-default.process.active(href='#about') About you
				span.glyphicon.glyphicon-menu-right
			a.btn.btn-default.process(href='#education') Education
				span.glyphicon.glyphicon-menu-right
			a.btn.btn-default.process(href='#story') Story
				span.glyphicon.glyphicon-menu-right
			a.btn.btn-default.process(href='#account') Account
				span.glyphicon.glyphicon-menu-right
		#signup-form.center-block
		script#about-template(type='text/template')
			.row#picture-row
				.col-md-3
					p#picture.description Profile Picture
				.col-md-1
				.col-md-6
					#profile-picture
						img#placeholder-picture(src="../../images/fund_img_placeholder.jpg")
						span Upload a profile picture. This can help you make a great first impression on funds and potential donors!
					input#my_file(type='file', style='display: none;', name = 'profile_picture')
			.row.fund-goal
				.col-md-3
					p#amount.description Your Fund goal
				.col-md-1
				.col-md-6
					input#input-amount(placeholder="£", type="number", name='funding_needed') 
			.row
				.col-md-3
					p#date_of_birth.description Date of Birth
				.col-md-1
				.col-md-6
					input#date-input(type='date', name="date_of_birth")
			.row
				.col-md-3
					p#country_of_residence.description Country of residence
				.col-md-1
				.col-md-6
					input#country-input(name="country_of_residence")
			.row#religion-row
				.col-md-3
					p#religion.description Religious beliefs
				.col-md-1
				.col-md-6
					input#religion-input(name="religion")
			.container-fluid.save
				a#save.btn.btn-primary(href="#education") Save progress
				a#skip(href='#education') Skip
		script#education-template(type='text/template')
			h1 HELLO
block scripts
	script(src='/javascript/lib/modernizr-input.js')
	script(src='/javascript/lib/jquery.tokeninput.js')
	script(src='/javascript/new-user-profile.js')
	script.
		var user_setup = !{JSON.stringify(user)};
	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
