extends layout-signup

block extraHeader
	link(href= '../../stylesheets/new-fund-profile.css', rel= 'stylesheet')

block content
		#user-modal
			script#account-template(type='text/template')
					nav.navbar.navbar-custom.navbar-fixed-top
						.col-sm-3
						.col-sm-5.col-xs-12
							p#almost You're almost there! Finish the signup by updating your profile below.
						.col-sm-0.col-xs-4
						.col-sm-4.col-xs-6.center-block
							a#next.account-submit(href= "#eligible", type = "button") Next
					section#account-info.container.content-section
						h4#name <%= fundName %>
							.row
								.col-md-12.center-block
									figure#profile-figure
											input#my_file(type='file', style='display: none;', name = 'profile_picture')
											img#profile-picture(src="../../images/fund_img_placeholder.jpg")
										figcaption#add-profile Upload a profile picture 
							.row
								.col-md-12.center-block
									p#description Please enter a brief overview of your grant organisation
									textarea#description-area 
							.row
								.col-md-12.center-block
									p#charity-number Please enter your registered charity number
									input(type = 'number', id = 'charity-input')
			script#eligible-template(type='text/template')
					nav.navbar.navbar-custom.navbar-fixed-top
						.col-sm-3
						.col-sm-5.col-xs-12
							p#almost You're almost there! 
						.col-sm-0.col-xs-4
						.col-sm-4.col-xs-6.center-block
							a#previous(href = "#account", type = "button") Previous
							a#next.eligible-submit(href = "#application", type = "button") Next
					section#eligible-info.container.content-section
						


block scripts
	script(src = '../../javascript/new-fund-profile.js')
	script.
		var fund_setup = !{JSON.stringify(user)};