extends ../layout.jade

block extraHeader
	link(href='stylesheets/signup.css', rel='stylesheet')

block content
	section#container.container
		.row
			.col-lg-6.col-lg-offset-3
				p Are you a fund or an applicant?
		.row
			.col-lg-4.col-lg-offset-2
				a(href="/signup/fund/"+ user.id)
					i#fund-icon.fa.fa-university
				h4 Fund
			.col-lg-4.col-lg-offset-2
				a(href="/signup/user/"+ user.id)
					i#user-icon.fa.fa-user
				h4#applicant Applicant
block scripts
	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
