@import '../general.scss';
@import '../navbar.scss';
@import '../advanced-search.scss';
@import '../signup.scss';
@import '../fund-dashboard.scss';

@media (max-width: 862px) {
  .desktop {
    display: none
  }

  .row.recommended-row img, #recommended {
    margin: 0;
    padding: 0;
  }

  #header {
    display: inline-block;
    border-bottom: 2px solid #010138;
    color: #010138;
  }

  .alert {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: -30px;
    padding: 7px;
    text-align: center;
  }

  .col-xs-2 {
    padding: 0;
    width: 100%;
    #profile_picture {
      margin: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    #header {
      margin-left: 3%;
    }
  }

  #updates {
    padding-top: 2%;
    .update-row {
    }
    textarea {
      width: 100%;
      height: 200px;
      border-radius: 3px;
      font-size: 16px;
      padding: 8px;
    }
    #social-media-flex-container {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;;
      margin-top: 15px;
      .update_div {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        #save-update-notification {
          width: 80%;
        }
        .social-media-flex-div {
          width: 100%;
        }
      }
      .social-media-flex-div {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        #view-profile {
          a {
            color: white;
            border-radius: 3px;
            background-color: #05d257;
            border-color: #05d257 !important;
            &:hover {
              background-color: #04a042;
            }
          }
          .user-dashboard {
            padding: 4.5px 12px;
          }
        }
      }
      #flex-end {
        justify-content: flex-end;
      }
      .social {
        padding: 6px 0px;
        height: inherit;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        font-family: 'Source Sans Pro';
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        i {
          font-size: 16px;
          float: left;
        }
      }
      .fb-share {
        background-color: #306199;
      }
      .twitter-tweet {
        background-color: #26c4f1;
      }
      .update {
        padding: 6px 12px;
        background-color: #4d4d88;
      }
      #save-update-notification {
        margin-top: 10px;
        display: none;
      }
    }
  }

  .mobile {
    section {
      li.active {
        a {
          font-size: 12px;
          border-bottom: 2px solid #2390fd;
          color:#3588cf;
          &:hover, &:focus {
            border-bottom: 2px solid #2390fd;
            color: #3588cf;
          }
        }
      }
      li {
        text-align: center;
        padding: 0;
        a{
          font-size: 12px;
          width: 100%;
          margin: 0;
          color: #010138;
          padding: 6px !important;
          &:hover {
            background-color: transparent;
            color: #010138;
          }
          .active {
            font-size: 12px;
          }
        }
      }
    }
  }

  // ABOVE IS DONE (though could do with removal of unused rules)

  // From here
  #ud-favourites {
    margin-top: 10px;
    section {
      .row {
        .col-md-12 {
          p {
            padding-left: 15px;
          }
        }
      }
    }
  }
  .tab-content {
    padding-bottom: 0px;
    .tab-pane {
      margin-top: 10px;
      p {
        font-size: 16px;
        color: #010138;
        a {
          margin-left: 3px;
          cursor: pointer;
        }
      }
    }
    #status {
      a {
        cursor: pointer;
      }
    }
  }
  #application-status {
    .modal-dialog {
      .modal-content {
        padding: 20px;
        .modal-header {
          padding-bottom: 5px;
        }
        .modal-body {
          margin-top: 6px;
          p {
            margin-bottom: 15px;
          }
          .radio {
            margin-bottom: 15px;
          }
          #amount-update {
            margin-top: 3px;
            display: none;
            transition: 1.5s;
            #amount-gained {
              margin-left: 7px;
              border-radius: 3px;
              border: 1px solid #cccccc;
            }
          }
          #hide-update {
            margin-top: 3px;
            display: none;
            transition: 1.5s;
            #hide {
              margin-right: 6px;
            }
          }

        }
        .modal-footer {
          button {
            margin-top: 10px;
          }
        }
      }
    }
  }



  // Extra bits
  .padding-reduce-lg {
    padding-top: 30px
  }

  .padding-reduce-sm {
    padding-top: 5px;
  }

  .mobile {
    ul.nav.nav-tabs {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .spacing_div {
    clear: both;
    height: 25px;
  }

  #funding-card .col-xs-4 .label {
    margin-right: 2px;
  }

  section .row#funding-card {
    padding: 6px 0px;
    margin-bottom: 0px;
    .label {
      padding: .2em .2em .3em
    }
    div {
      padding: 0px 10px;
    }
    .row {
      padding: 0px;
      margin: 0px;
    }
    .top-row {
      margin-bottom: 2px;
    }
  }

  #ud-applications, #ud-favourites, #ud-recently-browsed {
    margin-top: 0px;
  }

  .padding-div {
    padding: 5px;
  }

  #status {
    margin-top: 8px
  }
}
